{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<style>
    .summary {
        left: 577px;
        position: relative;
        top: 44px;
    }
</style>
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo;
    {% for app in app_list %}
    {{ app.name }}
    {% endfor %}
</div>
<a class="summary" target="_blank" href="{% url 'summary' %}">{% trans 'Summary' %}</a>
{% endblock %}
{% endif %}

{% block sidebar %}{% endblock %}
