{% extends "base.html" %}
{% load analytics_token %}
{% block titles %}Home{% endblock %}

{% block meta %}
    {% if '/resource/'  in request.path %}
    <meta property="og:title" content="{{ detailpin.title }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@Ednora"/>
    <meta name="twitter:url" content="https://www.ednora.com/resource/{{ detailpin.slug }}">
    <meta name="twitter:creator" content="@picks"/>
    <meta name="twitter:title"
          content="{{ pin.title }} https://www.ednora.com/resource/{{ detailpin.slug }} #resource #Ednora via @ednora_"/>
    <meta property="og:site_name"
          content="Content from around the web for IoT professionals"/>
    <meta property="og:description" content="{{ detailpin.text|truncatechars:150 }}."/>
    {% if detailpin.image.url  %}
        <meta property="og:image" content="https://www.ednora.com{{ detailpin.image.url }}"/>
    {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
<div class="container content_top_margin min_hgt_cls">
    <div>
    {% if  not request.user.is_anonymous %}
        {% if not user.verified %}
        {% for message in messages %}
            {% if 'expired' in message.tags %}
            <div class="alert alert-success">
                <strong><p class="verfy">{% for message in messages %}{{ message|safe }}{%endfor%} </p></strong>

                <p id="verify_output_id_success" style="color:green;" text-align='center'></p>
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    {% endif %}
    {% if user.verified %}
        {% if messages %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{% for message in messages %}{{ message|safe }}{% if 'varify' in message.tags %}
                {% endif %}{% endfor %}</strong>
            </div>
        {% endif %}
    {% endif %}
    {% if  user.verified %}
        {% if mypin_count == 0 %}
            <div class="alert alert-success">
                <strong>No results were found matching the filter selected.</strong>
            </div>
        {% endif %}
    {% endif %}
    {% if  user.verified %}
        {% if filter_count == 0 %}
            <div class="alert alert-success">
                <strong>No results were found matching the filter selected.</strong>
            </div>
        {% endif %}
    {% endif %}
    {% if  not request.user.is_anonymous %}
        {% if not user.verified %}
            <div class="alert alert-success">
                <strong><p class="verfy"> You are one step away from keeping up with resources, news and inspiring stories for kids. Check <b>{{ user.email }}</b> for verification email
                    or <a class="verfy" id="resend-confirmation">request another confirmation link.</a></p><img
                        id="loader"></strong>

                <p id="verify_output_id_success" style="color:green;" text-align='center'></p>
            </div>
        {% endif %}

        {% if user.verified %}
            {% if is_user_deactivated %}
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <strong><p class="verfy">Welcome back, <b>{{ user }}! Your account has been reactivated.</b></p>
                    </strong>

                    <p id="verify_output_id_success" style="color:green;" text-align='center'></p>
                </div>
            {% endif %}
            {% if user.first_login %}
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <strong><p class="verfy">You are all set to learn and share with your peers across the country.Edit
                        your sharing preferences from your <a href="/profile/">profile page</a>.</p><img
                            id="loader"></strong>

                    <p id="verify_output_id_success" style="color:green;" text-align='center'></p>
                </div>
            {% endif %}
        {% endif %}
        {% if no_slug %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong><p class="verfy">{{ no_slug }}, <b>{{ user }}</b></p></strong>

                <p id="verify_output_id_success" style="color:green;" text-align='center'></p>
            </div>

        {% endif %}
        <div id="my-gallery-container">{% include page_template %}
            <div class="loader-container">
                <img class="resource-loader" src="/static/assets/img/loading.gif" style="width: 100px; height: 100px" hidden>
            </div>
        </div>

    {% endif %}
        {% if request.user.is_anonymous %}
        <div id="my-gallery-container">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding">{% include page_template %}</div>
            <div class="loader-container">
                <img class="resource-loader" src="/static/assets/img/loading.gif" style="width: 100px; height: 100px" hidden>
            </div>
        </div>

    {% endif %}
    </div>

</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="/static/assets/js/mp.mansory.js"></script>
    <script type="text/javascript" src="/static/loading_overlay.js"></script>
    <script src="/static/el-pagination/js/el-pagination.js"></script>
    <script src="/static/el-pagination/js/touch-events.js"></script>
    <script type="text/javascript">
$(function(){

    $(document).on('swipeup', function() {
    $('a.endless_more').trigger('click');
});
});


    $(document).ready(function () {
        $("#my-gallery-container").mpmansory(
            {
                childrenClass: 'item', // default is a div
                columnClasses: 'padding', //add classes to items
                breakpoints: {
                    lg: 4,
                    md: 4,
                    sm: 6,
                    xs: 12
                },
                distributeBy: {order: false, height: false, attr: 'data-order', attrOrder: 'asc'}, //default distribute by order, options => order: true/false, height: true/false, attr => 'data-order', attrOrder=> 'asc'/'desc'
                onload: function (items) {
                    items.addClass('mpmansory-applied');
                }
            }
        );
    });
    </script>

    <script>$.endlessPaginate({paginateOnScroll: true ,paginateOnScrollMargin:10,
    onClick: function(context) {
            $('.resource-loader').show();
        },
    onCompleted: function(context, fragment) {
        $('.resource-loader').css('display', 'none');
        $('.mpmansory-applied').unwrap();
        $("#my-gallery-container").mpmansory(
            {
                childrenClass: 'item', // default is a div
                columnClasses: 'padding', //add classes to items
                breakpoints: {
                    lg: 4,
                    md: 4,
                    sm: 6,
                    xs: 12
                },
                distributeBy: {order: false, height: false, attr: 'data-order', attrOrder: 'asc'}, //default distribute by order, options => order: true/false, height: true/false, attr => 'data-order', attrOrder=> 'asc'/'desc'
                onload: function (items) {
                    items.addClass('mpmansory-applied');
                }
            }
        );

        }})


    </script>


    <script>
    if(window.location.pathname.match('resource')){
        currenct_url = window.location.pathname;
        populate_resource_detail_popup(window.location.pathname.split('/')[2])
    }
            $(window).load(function() {
                var url = window.location.href;
if (url.match("resource")&& document.cookie.indexOf("loggedin") == -1) {
                    $('#login-modal').modal('show');
                }
            });
    </script>
{% endblock %}

<!-- Modal for Filter end -->
