{% extends "base.html" %}
{% load analytics_token %}
{% block titles %}My Likes{% endblock %}
{% block content %}
<div class="container content_top_margin min_hgt_cls">
    <div>
    {% if user.verified %}
        {% if messages %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{% for message in messages %}{{ message }} {% if 'varify' in message.tags %}
                {% endif %}{% endfor %}</strong>
            </div>
        {% endif %}
    {% endif %}
    {% if  user.verified %}
        {% if filter_count == 0 %}
            <div class="alert alert-success">
                <strong>No results were found matching the filter selected.</strong>
            </div>
        {% endif %}
    {% endif %}
    {% if  not request.user.is_anonymous %}
        {% if not user.verified %}
            <div class="alert alert-success">
                <strong><p class="verfy"> You are one step away from keeping up with resources, news and inspiring stories for kids. Check <b>{{ user.email }}</b> for verification email
                    or <a class="verfy" id="resend-confirmation">request another confirmation link.</a></p><img
                        id="loader"></strong>

                <p id="verify_output_id_success" style="color:green;" text-align='center'></p>
            </div>
        {% endif %}
        {% if user.verified %}
            {% if is_user_deactivated %}
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <strong><p class="verfy">Welcome back, <b>{{ user }}! Your account has been reactivated.</b></p>
                    </strong>

                    <p id="verify_output_id_success" style="color:green;" text-align='center'></p>
                </div>
            {% endif %}
            {% if user.first_login %}
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <strong><p class="verfy">You are all set to learn and share with your peers across the country.Edit
                        your sharing preferences from your <a href="/profile/">profile page</a>.</p><img
                            id="loader"></strong>

                    <p id="verify_output_id_success" style="color:green;" text-align='center'></p>
                </div>
            {% endif %}
        {% endif %}
        {% if no_slug %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong><p class="verfy">{{ no_slug }}, <b>{{ user }}</b></p></strong>

                <p id="verify_output_id_success" style="color:green;" text-align='center'></p>
            </div>

        {% endif %}

                <div class="alert alert-success" id="no-pin-liked" style="{% if mypin_count > 0 %}display: none;{% endif %}">
                    <strong>You have not liked any resource yet</strong>
                </div>
        <div id="my-gallery-container">{% include page_template %}
            <div class="loader-container">
                <img class="resource-loader" src="/static/assets/img/loading.gif" style="width: 100px; height: 100px" hidden>
            </div>
        </div>

    {% endif %}

    </div>

</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="/static/assets/js/mp.mansory.js"></script>
    <script type="text/javascript" src="/static/loading_overlay.js"></script>
    <script src="/static/el-pagination/js/el-pagination.js"></script>
    <script src="/static/el-pagination/js/touch-events.js"></script>
    <script type="text/javascript">
    $(function () {

            $(document).on('swipeup', function () {
                $('a.endless_more').trigger('click');
            });
        });
    jQuery(document).ready(function () {
        $("#my-gallery-container").mpmansory(
            {
                childrenClass: 'item', // default is a div
                columnClasses: 'padding', //add classes to items
                breakpoints: {
                    lg: 4,
                    md: 4,
                    sm: 6,
                    xs: 12
                },
                distributeBy: {order: false, height: false, attr: 'data-order', attrOrder: 'asc'}, //default distribute by order, options => order: true/false, height: true/false, attr => 'data-order', attrOrder=> 'asc'/'desc'
                onload: function (items) {
                    items.addClass('mpmansory-applied');
                }
            }
        );
    });
    </script>

    <script>$.endlessPaginate({paginateOnScroll: true ,paginateOnScrollMargin:10,
    onClick: function(context) {
            $('.resource-loader').show();
        },
    onCompleted: function(context, fragment) {
        $('.resource-loader').css('display', 'none');
        $('.mpmansory-applied').unwrap();
        $("#my-gallery-container").mpmansory(
            {
                childrenClass: 'item', // default is a div
                columnClasses: 'padding', //add classes to items
                breakpoints: {
                    lg: 4,
                    md: 4,
                    sm: 6,
                    xs: 12
                },
                distributeBy: {order: false, height: false, attr: 'data-order', attrOrder: 'asc'}, //default distribute by order, options => order: true/false, height: true/false, attr => 'data-order', attrOrder=> 'asc'/'desc'
                onload: function (items) {
                    items.addClass('mpmansory-applied');
                }
            }
        );

        }})</script>
{% endblock %}

<!-- Modal for Filter end -->
