{% load get_like_or_unlike_image %}
{% load youtube_thumbnail %}
{% load staticfiles %}
{% load el_pagination_tags %}
{% load get_download_count_tags %}
{% load get_view_count_tags %}
{% paginate 9 pins %}
{% for pin in pins %}

    <div class="item" data-order="{% get_pin_order forloop.counter request.GET.page %}" data-pin_url="{{ pin.absolute_url }}">
        <div class="white-panel white-panel-new">
            <a class="original_image" id="{{ pin.id }}" alt="" data-url="{{ pin.slug }}"
               data-src="{{ pin.get_image }}">

                <div class="cat_title {{ pin.content_type.name }}"
                     id="head_{{ pin.id }}">
                    <div class="cat-ttl pull-left">
                        <span id="sub_list_{{ pin.id }}">
                            {% for sub in pin.subject.all %}

                                {{ sub }}{% if not forloop.last %},
                                {% endif %}
                            {% endfor %}</span>
                    </div>
                    <span style="float: right;" id="grade_list_{{ pin.id }}">Grade:
                        {% for grade in pin.grade.all %}
                        {{ grade }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </span>
                </div>
                <h4 id="title_{{ pin.id }}">{{ pin.title }}</h4>

                <p id="description_{{ pin.id }}">{{ pin.text|truncatechars:150 }}</p>

                <div class="thumbnail_b">

                    <img src={{ pin.get_image }}>
                    <input type="hidden" value="{{ pin.get_image }}" id="pin_image{{ pin.id }}">

                    {% if pin.user.id == request.user.id %}
                        <input type="hidden" value="1" id="pin_id_{{ pin.id }}">
                    {% else %}
                        <input type="hidden" value="0" id="pin_id_{{ pin.id }}">
                    {% endif %}
                </div>
                <h4 class="link_sec link_sec-new"><span class="link_title"><img id="pin_image_{{ pin.id }}"
                                                                                src="{{ pin.user.get_user_dp }}"
                                                                                alt="{{ pin.user }}" width="20"
                                                                                class="special-img"> {{ pin.user }}</span>
                </h4>
            </a>

            <div class="like_share_widget new-ico-widg">
                <ul class="like_widget_list">
                    {% if user.verified %}
                        <li><a class="share123"
                         id="repin_{{ pin.id }}" title="Save" class="fa-sh-sv"><i
                                class="fa fa-folder-open" aria-hidden="true"></i></a></li>
                    {% else %}
                         <li><a class="share123 disabled"
                         id="repin_{{ pin.id }}" title="Save" class="fa-sh-sv"><i
                                class="fa fa-folder-open" aria-hidden="true"></i></a></li>
                    {% endif %}
                    <li>
                        {% if user.verified %}
                            <a href="#"  data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false" title="Share" class="fa-sh-sv"><i
                            class="fa fa-share" aria-hidden="true"></i></a>
                        {% else %}
                            <a href="#"
                           aria-haspopup="true" aria-expanded="false" title="Share" class="fa-sh-sv disabled"><i
                            class="fa fa-share" aria-hidden="true"></i></a>
                        {% endif %}
                        <ul class="dropdown-menu social_menu">
                            <li>
                                <a data-original-title="Twitter" rel="tooltip" data-url="{{ pin.slug }}"
                                   class=" sharepinontwitter btn"
                                   data-placement="left">
                                    <i class="twitter_logo"></i>
                                </a>
                            </li>
                            <li>
                                <a data-original-title="Facebook" rel="tooltip"
                                   data-url='{{ pin.slug }} ' class=" sharepinonfacebook btn-facebook "
                                   data-placement="left">
                                    <i class="facebook_logo"></i>
                                </a>
                            </li>
                            <li class="hide_messenger">
                                <a data-original-title=" Facebook Messenger" rel="tooltip"
                                   data-url='{{ pin.slug }}'
                                   class="sharepinonfacebookmessenger btn-facebook"
                                   data-placement="left">
                                    <i class="facebook_messenger"></i>
                                </a>
                            </li>
                            <li>
                                <a data-original-title="Google+" rel="tooltip"
                                   class=" sharepinongoogle btn-google"
                                   data-placement="left" data-url='{{ pin.slug }}'>
                                    <i class="google_logo"></i>
                                </a>
                            </li>

                            <li style="border-bottom: none;">
                                <a data-original-title="Email" rel="tooltip"
                                   class="emailshare btn-mail shareviaemail"
                                   data-placement="left" data-url='{{ pin.slug }}'>
                                    <i class="email_logo"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>


                <ul class="right-side-actions like_pickks">
                    <li hidden="hidden" class="flag-section"><a id="flag_{{ pin.id }}" class="flag" value="
                            {% if  not request.user.is_anonymous %}{% get_flag_or_unflag_image pin %}{% endif %}"
                                                                title="Flag"><span class="fa fa-flag" style="
                            {% if  not request.user.is_anonymous %}{% get_flag_or_unflag_image pin %}{% endif %}"></span></a><span
                            id="flag_count_{{ pin.id }}" class="count-spn">{{ pin.get_flag_count }}</span></li>
                    {% if pin.file_upload.url|length > 0 %}
                         {% if user.verified %}
                            <li class="download-count"><a href="/download-file?{{ pin.id }}" class="download_button" id="dwnld_{{ pin.id }}" title="Download"><span class="fa fa-download"></span></a><span id="download_count_{{ pin.id }}" class="count-spn">{% get_download_count pin %}</span></li>
                         {% else %}
                             <li class="download-count"><a href="/download-file?{{ pin.id }}" class="download_button disabled" id="dwnld_{{ pin.id }}" title="Download"><span class="fa fa-download"></span></a><span id="download_count_{{ pin.id }}" class="count-spn">{% get_download_count pin %}</span></li>
                        {% endif %}
                    {% else %}
                        <li class="view-count">
                            {% if user.verified %}
                                <a class="fa fa-eye fa-eye-new" id="viewcount_{{ pin.id }}"
                                                     title="Views"></a>
                            {% else %}
                                 <a class="fa fa-eye fa-eye-new disabled" id="viewcount_{{ pin.id }}"
                                                     title="Views"></a>
                            {% endif %}
                            <span
                                id="view_count_{{ pin.id }}" class="count-spn view-span">{% get_view_count pin %}</span></li>
                    {% endif %}
                    <li>
                        {% if user.verified %}
                            <a class="like_image like_square" id="lke_{{ pin.id }}"
                           style="{% get_like_or_unlike_image pin %} " title="Like"><span class="fa fa-heart"></span></a>
                        {% else %}
                            <a class="like_image like_square disabled" id="lke_{{ pin.id }}"
                           style="{% get_like_or_unlike_image pin %} " title="Like"><span class="fa fa-heart"></span></a>
                        {% endif %}<span id="liked_count_lke_{{ pin.id }}"
                                                                   class="count-spn">{{ pin.get_like_count }}</span>
                    </li>
                </ul>
                <div class="clearfix"></div>

                        <span class="link_title" id="link_title_{{ pin.id }}"
                              hidden>{{ pin.absolute_url }}</span>
            </div>
        </div>
    </div>
{% endfor %}

{% show_more %}