<div class="modal fade for_closing_modal_pop_up_create_folder" id="get_browser_btn" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Get Pickks Browser Button</h4>
                    </div>
                    <div class="modal-body">
                        <p>Click OK to enable Pickks browser button on your browser.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="install();">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>