<div class="modal fade for_closing_modal_pop_up_create_folder" id="browser_buttion_success" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Success</h4>
                    </div>
                    <div class="modal-body">
                        <p>You are all set to save your picks using Pickks browser button!</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>