<div class="modal fade resetpassword_pop_up" id="pwdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">

                            <input type="password" class="form-control" id="id_old_password" placeholder="Old Password*">

                            <p class="change-pwd-error" id="id_old_password_validation" hidden></p>
                        </div>
                        <form id="ewfwef">
                        <div class="form-group">

                            <input id="id_new_password" type="password" class="form-control "  placeholder="New Password*" data-toggle="popover" title="<div class = test> <br> <ul><li>Password must be 8 or more characters</li> <li>Must contain uppercase character</li><li>Must contain lowercase character</li><li>Must contain one numeric or special character</li></ul> </div>" data-html="true" data-content="">

                            <p class="change-pwd-error" id="id_new_password_validation" hidden></p>
                        </div>
                            </form>
                        <div class="form-group">

                            <input type="password" class="form-control" id="id_retype_new"
                                   placeholder="Confirm New Password*">

                            <p class="change-pwd-error" id="id_retype_new_validation" hidden></p>
                            <p id="id_old_not_correct" hidden></p>
                            <p class="change-pwd-error" id="id_pass_mismatch" hidden></p>
                            <p class="change-pwd-error" id="id_pass_success" hidden></p>
                            <p class="change-pwd-error" id="weakpassword" hidden></p>
                        </div>
                        <div id="id_modal_rest" class="modal-footer">

                        <button id="id_rest_password_submit" type="button" class="btn btn-success pull-right">Save
                        </button>
                        <button id="id_rest_password_cancel" type="button" class="btn btn-default pull-right"
                                data-dismiss="modal">Cancel
                        </button>
                        <img id="loader" src="/static/assets/img/loader.gif" hidden>

                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>