<div class="modal fade" id="contact_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" data-keyboard="false">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12" id="bodyhide">
                        <h4 style="color:#171717;">Please fill out the form below to send us questions or
                            comments.</h4>
                        <br>
                    </div>
                </div>


                <div role="form" id="conteact_hide">
                    <div class="form-group">
                        <input type="text" class="form-control" id="id_contact_name" placeholder="Name*" required>

                        <p class="help-block" style="color: red; font-size: 13px; display: none; margin-top: 0px;" id="id_contact_name_validation">Required field</p>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="id_email_contact_person" name="email"
                               placeholder="Email*" required>
                        <span class="help-block" style="color: red; font-size: 13px; display: none; margin-top: 0px;" id="id_email_contact_person_validation">Required field</span>
                    </div>

                    <div class="form-group">
                        <textarea rows="10" cols="100" class="form-control" id="id_contact_message"
                                  name="message" placeholder="Message*" required></textarea>
                        <span class="help-block" style="color: red;font-size: 13px; display: none; margin-top: 0px;" id="id_contact_message_validation" hidden>Required field</span>
                        <span class="help-block" style="color: red;font-size: 13px; display: none; margin-top: 0px;" id="exceed-characters-error" hidden>You've reached your limit of 1000 Characters!</span>
                    </div>
                    <div class="row" id="bodyshow" style="display: none;">
                        <div class="col-md-12 col-sm-12">
                            <h5 style="color: green; font-size: 13px;">Thank you for contacting us. Your message was sent successfully.</h5>
                            <br>
                        </div>
                    </div>
                    <input id="contact-submit" type="button" name="submit" value="Send"
                           class="btn btn-success pull-right">
                </div>

            </div>

        </div>
    </div>
</div>
