<div class="modal fade for_closing_modal_pop_up_create_folder" id="createfolder" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" style="z-index: 2500 !important;" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create Folder</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="Folder Name*" id="folder_input_id">

                            <p id="output_id_create" style="color: red;font-size: 13px;"></p>

                            <p id="output_id_success_create" style="color: green"></p>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success pull-right" id="create_folder_id">Create
                            </button>
                            <button style="margin-right: 12px" type="button" class="btn btn-default pull-right"
                                    data-dismiss="modal" id="folder-create-cancel">Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>