<div class="modal fade for_closing_modal_pop_up_create_folder" id="deactivate_user" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog  modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Deactivate Account </h4>
                    </div>
                    <div class="modal-body">
                        <p>Select your reason for deactivation:</p>
                        <p>  <label for ='id1' style="font-weight:normal "><input type="radio" value="I don't use it anymore" name="reason" id="id1">&nbsp;I don't use it anymore</label></p>
                        <p> <label for ="id2" style="font-weight:normal "><input type="radio" value="I don't understand the concept" name="reason" id="id2">&nbsp;I don't understand the concept</label></p>
                        <p><label for="id3" style="font-weight:normal "><input name="reason" value="I get my content from some other source" type="radio" id="id3">&nbsp;I get my content from some other source</label></p>
                        <p><label for="other" style="font-weight:normal "><input name="reason" value="Not specified"  type="radio" id="other">&nbsp;Other</label></p>
                        <p><textarea name="reason" placeholder="Tell us your reason" id="other_reason" hidden="" class="account_textarea"></textarea></p>
                    </div>
                    <div class="modal-footer">
                        <p style="color: red; font-size:13px;display: none; text-align: left;" id ="id_error"> Please select one option to  proceed </p>
                        <button type="button" class="btn btn-success pull-right" id="deactivate" onclick="deactivateMyaccount();" >Deactivate Account</button>
                        <button style="margin-right: 12px;" type="submit" class="btn btn-default pull-right" data-dismiss="modal" id="deactivate_cancel" onclick="cancel();"  >
                                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>