<div class="modal fade for_closing_modal_pop_up_create_folder" id="deactivate_user_success" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>

                        </button>
                        <h4 class="modal-title" id="myModalLabel">Deactivate Account </h4>
                    </div>
                    <div class="modal-body">
                        <p>Your account has been deactivated.</p>
                        <p>You may log in anytime to reactivate your account.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>