<div class="modal fade for_closing_modal_pop_up_create_folder" id="delete_dp_confirm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Delete Picture</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to remove your profile picture?</p>
                          <button type="button" class="btn btn-success pull-right " id="delete_user_dp_confirm">OK</button>
                        <button style="margin-right: 12px;" type="submit" class="btn btn-default pull-right" data-dismiss="modal"  >
                                            Cancel
                         </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>