<!-- Modal for confirming delete folder -->

    <div class="modal fade for_closing_modal_pop_up_create_folder" id="deletefolder" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" data-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="close_on_delete_folder" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Delete Folder</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">

                                The folder and all the resources saved in the folder will be deleted. Do you want to proceed?
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success pull-right" id="confirm_delete"
                                    style="width: 70px">Ok
                            </button>
                            <button style="margin-right: 12px" type="button" id="folder_delete_cancel"
                                    class="btn btn-default pull-right" data-dismiss="modal">Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>