<div class="modal fade for_closing_modal_pop_up_create_folder" id="deletefolder_in_thumbdetail" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="close_on_delete_folder_in_thumbdetail" type="button" class="close"
                                data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel_in_thumbdetail">Delete Folder</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">

                            Do you want to delete this folder ?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success pull-right" id="confirm_delete_in_thumbdetail"
                                style="width: 70px">Ok
                        </button>
                        <button style="margin-right: 12px" type="button" id="folder_delete_cancel_in_thumbdetail"
                                class="btn btn-default pull-right" data-dismiss="modal">Cancel
                        </button>

                        <input type="hidden" value="delete" id="ds_in_thumbdetail">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>