<div class="modal fade for_closing_modal_pop_up_create_folder"
     id="resource_delete" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" style="z-index: 2042 !important;" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="close_on_delete_folder" type="button"
                                class="close" data-dismiss="modal"
                                aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Delete Resource</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">

                            <p id="modal_message">The resource will be deleted from the folder. Do you want to proceed?</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success pull-right" id="confirm_delete_resource" style="width: 70px">Ok
                        </button>
                        <button style="margin-right: 12px" type="button" id="cancel_delete_resource"class="btn btn-default pull-right">Cancel
                        </button>

                        <input type="hidden" value="delete" id="ds">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>