{% load get_base_contexts %}
{% get_user_folders user user.is_authenticated as my_folders %}

<div class="modal fade bs-example-modal-lg for_closing_modal_pop_up upload_home" id="edit-resource-modal" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel" data-keyboard="false">

<div class="vertical-alignment-helper">
<div class="modal-dialog vertical-align-center">

<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="EditModalLabel">Edit Resource</h4>
</div>
<div class="modal-body">

<a data-toggle="modal" data-target="#resource_delete" class="popup-delete">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
</a>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="float:right;">
        <h4 style="font-weight: bold;"> Edit Resource:</h4>
    </div>
</div>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div id="edit_fetched_image" data-placeholder='Thumbnail Preview'>

    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " id="upload_create_to_hide">

    <div class="form-group">
        <input style="display: none;" class="form-control" id="added-file">

        <input type="text" class="form-control" id="edit_pin_url_id"
               placeholder="Source*" value="">
    </div>

    <div class="form-group">
        <input type="text" class="form-control content-title" id="edit_content_titile_id"
               placeholder="Title in your words*">
        <p id="edit-title-required" style="color:red;font-size: 13px"></p>
        <span class="exceed-characters-error">You have reached the limit of 255 characters</span>
    </div>
    <div class="form-group">
        <textarea class="form-control" id="edit_content_text_id"
                  placeholder="Content source and Description in your words*">
        </textarea>

        <p class="edit-error" id="content-desc-required" style="color:red;font-size: 13px"></p>

    </div>
    <div class="form-group test-group">
        <div class="register_class subject-class">
            <form id="multiselectForm1" method="post" class="form-horizontal">
                <select class="form-control multiselect" data-placeholder="Topic*" name="subject_id" id="edit_subject_id" multiple>

                    {% for subject_name in subjects %}
                        <option value="{{ subject_name.id }}">{{ subject_name.subject }}</option>
                    {% endfor %}

                </select>
            </form>
            <p class="edit-error" id="subject-required" style="color:red;font-size: 13px"></p>
        </div>
    </div>

    <div class="form-group test-group">
        <div class="row">
            <div class="col-sm-12">
                <form id="multiselectForm" method="post" class="form-horizontal">
                    <select class="form-control multiselect" data-placeholder="Grade*"  name="grade_id" id="edit_grade_id" multiple>

                        {% for grade_name in grades %}
                            <option value="{{ grade_name.grade }}">{{ grade_name.grade }}</option>
                        {% endfor %}

                    </select>
                </form>
                <p class="edit-error" id="grade-required" style="color:red;font-size: 13px"></p>
            </div>
            <!--<div class="col-sm-6">
                <form id="multiselectForm2" method="post" class="form-horizontal">
                    <select class="form-control multiselect" data-placeholder="Level*"  name="level_id" id="edit_level_id" multiple>

                        {% for level_name in levels %}
                            <option value="{{ level_name.id }}">{{ level_name.name }}</option>
                        {% endfor %}

                    </select>
                </form>
                <p class="edit-error" id="level-required" style="color:red;font-size: 13px"></p>
            </div>-->
        </div>
    </div>
    <!--<div class="form-group test-group">
        <div class="row">
            <div class="col-sm-6 register_class">
                <select class="sign_up_select upload_drop" id="edit_drop_content_id_up">
                    <option> Resource Type*</option>

                    {% for resource in reosurce_type %}
                        <option value="{{ resource.name }}">{{ resource.name }}</option>
                    {% endfor %}

                </select>

                <p class="edit-error" id="content-type-required" style="color:red;font-size: 13px;margin-bottom: 0;"></p>
            </div>
            <div class="col-sm-6">
                <select class="sign_up_select upload_drop" id="edit_drop_media_id_up">
                    <option> Media Type*</option>

                    {% for media in media_type %}
                        <option value="{{ media.name }}">{{ media.name }}</option>
                    {% endfor %}

                </select>

                <p class="edit-error" id="media_type_required" style="color:red;font-size: 13px; margin-bottom: 0;"></p>
            </div>
        </div>
    </div>-->

    <!--<div class="form-group upload_pin_class">
        <input id="edit_objective_id" type="text" class="form-control objective-keyword"
               placeholder="Comma Separated Learning Objective Keyword(s)*">

        <p class="edit-error" id="objective_id_required" style="color:red;font-size: 13px"></p>
    </div>

    <div class="form-group upload_pin_class">
        <input type="text" class="form-control objective-keyword-code" id="edit_objectives_code_id"
               placeholder=" Comma Separated Learning Objective Code(s)">
    </div>-->

    <div class="form-group upload_pin_class">
        <input type="text" class="form-control resource-tags" id="edit_tags_id"
               placeholder="Tags">

    </div>

    <div class="form-group upload_pin_class">
        <select class="sign_up_select upload_drop folder-list" id="edit_dop_folder_id_up">
            <option id="select_folder_in_drop"> Select Folder*</option>
            {% for fol in my_folders  %}
            <option value="{{ fol.name }}">{{ fol.name }}</option>
            {% endfor %}
            <option>Create Folder</option>

        </select>
        <p class="edit-error" id="folder_required" style="color:red;font-size: 13px"></p>
        <p id="edit_success_id" style="color:green;font-size: 13px"></p>

        <span class="choose-another-folder">You have already saved this resource in this folder. Please select another folder.</span>
    </div>


    <div class="form-group">
        <div class="">

            <button type="submit" class="btn btn-success pull-right"
                    id="edit_pin_submit" style="width: 70px;">
                Save
            <img id="upload_loader">
            <button style="margin-right: 12px;" type="submit"
                    class="btn btn-default pull-right" data-dismiss="modal"
                    id="upload_cancel">
                Cancel

            </button>

        </div>
    </div>
</div>
</div>


</div>


</div>

</div>
</div>
</div>
</div>
