<!-- Modal for edit folder -->
    <div class="modal fade for_closing_modal_pop_up_create_folder" id="editfolder" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" data-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Edit Folder</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">

                                <input id="edit_folder" type="text" class="form-control" placeholder="Folder Name*">

                                <p id="output_id" style="color: red;font-size: 13px;"></p>

                                <p id="output_id_success" style="color: green"></p>
                            </div>
                            <div class="form-group">
                                <a data-toggle="modal" data-target="#deletefolder" id="delete_folder"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                <button type="button" class="btn btn-success pull-right" id="update_folder">Update
                                </button>
                                <button style="margin-right: 12px" type="button" class="btn btn-default pull-right"
                                        data-dismiss="modal">Cancel
                                </button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>