<div class="modal fade" id="invte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Send Invite</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="loader_sec">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="invite_logo">
                        <img id="contact_logo" width="40px;" height="40px;">
                    </div>
                    <input type="hidden" id="invitechannel" value=""/>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8" id="invite_text">
                        <p>Loading your contacts, please wait <img height="18px;" width="100px;"
                                                                   src="/static/assets/img/contact_loader.gif"></p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="" id="contacts" style="height: 200px; overflow: auto;"
                             class="box-body table-responsive no-padding">
                            <table class="table table-hover" id="connections">
                            </table>

                        </div>


                        <div class="col-md-12 center-block">
                            <button id="sendInvite1" name="sendinvite" onclick="invite();"
                                    class="btn btn-success center-block">Invite
                            </button>
                            <span class="error" id="listidval" hidden=""> Select atleast one email</span>
                            <span style="font-size: 13px;color:green;" id="invitations_success"> Invite Sent</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>