<div class="modal fade feedback_home" id="feedback_popup" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Your Feedback</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12" id="bodyhide">
                        <h4 style="color:#171717;">Please fill out the form below to send your feedback</h4>
                    </div>
                </div>
                <div class="feedback_form_inner form-horizontal" id="feedback_form_id">

                    <div class="form-group">


                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="id_like_about_postr"
                                   placeholder="What do you like about Picks?">

                            <p id="id_like_about_postr_success" style="color: red;font-size: 13px;" hidden></p>
                        </div>

                    </div>


                    <div class="form-group">

                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="id_like_to_see_about_postr"
                                   placeholder="What more would you like to see on Picks?">

                            <p id="id_like_to_see_about_postr_success" style="color: red;font-size: 13px;"
                               hidden></p>
                        </div>

                    </div>


                    <div class="form-group">


                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="id_like_to_change_about_postr"
                                   placeholder="What would you to change on Picks?">

                            <p id="id_like_to_change_about_postr_success" style="color: red;font-size: 13px;"
                               hidden></p>
                        </div>

                    </div>


                    <div class="form-group">

                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="id_not_see_about_postr"
                                   placeholder="What would you like to not see on Picks anymore?">

                            <p id="id_not_see_about_postr_success" style="color: red;font-size: 13px;" hidden></p>
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-sm-12">
                            <textarea type="email" class="form-control" id="inputEmail3"
                                      placeholder="Comments"></textarea>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label">&nbsp;</label>

                            <p id="feedbackvalidation" style="color:red;font-size: 13px;"></p>
                        </div>
                        <div class="col-sm-6">
                            <input id="id_feedback_submit" type="submit" name="submit" value="Send Feedback"
                                   class="btn btn-success pull-right">
                        </div>
                    </div>


                </div>
                <p id="dgsre" style="color:Green;" hidden>Thank you for sending your feedback</p>
            </div>

        </div>
    </div>
</div>