<div class="modal fade" id="filter-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document" data-keyboard="false">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Filters</h4>
    </div>
    <div class="modal-body">


        <form class="form-horizontal" id="filter-form">
            <div class="form-group">
                <label class="col-sm-4 control-label">Country</label>

                <div class="col-sm-8">
                    <select id="filter_state_id" class="form-control">
                        <option selected>Select Country</option>

                        {% for state_name in states %}
                            <option value="{{ state_name.id }}">{{ state_name.name }}</option>
                        {% endfor %}

                    </select>

                    <p id="span_state_id" style="color: green;font-size: 13px;"></p>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-4 control-label">District</label>

                <div class="col-sm-8">
                    <select id="filter_district_id" class="form-control" disabled>
                        <option selected>Select District</option>

                        {% for district_name in districts %}
                            <option value="{{ district_name.name }}">{{ district_name.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" id="selected_district" value="">
                    <p id="span_district_id" style="color: green;font-size: 13px;"></p>
                </div>
            </div>-->

            <div class="form-group test-group">
                <label class="col-sm-4 control-label">Grade</label>

                <div class="col-sm-8">
                    <select class="sign_up_drop sign_up_select multiselect" id="filter_grades" multiple="multiple" data-placeholder="Select Grade">

                        {% for grade_name in grades %}
                            <option value="{{ grade_name.id }}">{{ grade_name.grade }}</option>
                        {% endfor %}

                    </select>

                    <p id="span_grades" style="color: green;font-size: 13px;"></p>
                </div>
            </div>

            <div class="form-group test-group">
                <label class="col-sm-4 control-label">Topic</label>

                <div class="col-sm-8">

                    <select class="sign_up_drop sign_up_select multiselect" id="filter_subjects" multiple="multiple" data-placeholder="Select Topic">

                        {% for subject_name in subjects %}
                            <option value="{{ subject_name.id }}">{{ subject_name.subject }}</option>
                        {% endfor %}

                    </select>

                    <p id="span_subjects" style="color: green;font-size: 13px;"></p>
                </div>
            </div>

            <!--<div class="form-group test-group">
                <label class="col-sm-4 control-label">Learning Objective Keyword</label>

                <div class="col-sm-8">
                    <select class="multiselect" id="filter_learning" multiple="multiple" data-placeholder="Select Learning Objective Keyword">

                        {% for l_objectives_name in l_objectives %}
                            <option value="{{ l_objectives_name.name }}">{{ l_objectives_name.name }}</option>
                        {% endfor %}
                    </select>

                    <p id="span_learning" style="color: green;font-size: 13px;"></p>
                </div>
            </div>

            <div class="form-group test-group">
                <label class="col-sm-4 control-label">Learning Objective Code</label>

                <div class="col-sm-8">
                    <select id="filter_code_id" class="multiselect" multiple="multiple" data-placeholder="Select Learning Objective Code">

                        {% for l_code in l_objective_codes %}
                            <option value="{{ l_code.code }}">{{ l_code.code }}</option>
                        {% endfor %}
                    </select>

                    <p id="span_code_id" style="color: green;font-size: 13px;"></p>
                </div>
            </div>


            <div class="form-group test-group">
                <label class="col-sm-4 control-label">Level</label>

                <div class="col-sm-8">
                    <select id="filter_level_id" class="multiselect" multiple="multiple" data-placeholder="Select Level">

                        {% for level_name in levels %}
                            <option value="{{ level_name.id }}">{{ level_name.name }}</option>
                        {% endfor %}

                    </select>

                    <p id="span_level_base_id" style="color: green;font-size: 13px;"></p>
                </div>
            </div>-->


            <!--<div class="form-group test-group">
                <label class="col-sm-4 control-label">Resource Type</label>

                <div class="col-sm-8">
                    <select class="multiselect" id="filter_resource" multiple="multiple" data-placeholder="Select Resource Type">
                        {% for resource in reosurce_type %}
                            <option value="{{ resource.name }}">{{ resource.name }}</option>
                        {% endfor %}
                    </select>

                    <p id="span_resource" style="color: green;font-size: 13px;"></p>
                </div>
            </div>


            <div class="form-group test-group">
                <label class="col-sm-4 control-label">Media Type</label>

                <div class="col-sm-8">
                    <select class="multiselect" id="filter_media" multiple="multiple" data-placeholder="Select Media Type">

                        {% for media in media_type %}
                            <option value="{{ media.name }}">{{ media.name }}</option>
                        {% endfor %}

                    </select>

                    <p id="span_error" style="color: red;font-size: 13px;"></p>
                </div>
            </div>-->

        </form>


    </div>
    <div class="modal-footer">
        <a id="clear-filter" style="display: inline-table;margin-top: 6px;margin-right: 6px;" href="javascript:void(0)">Clear Filters</a>
        <button type="button" id="apply-filter" class="btn btn-success pull-right">Apply</button>
        <button type="reset" class="btn btn-default pull-right cancel-first" data-dismiss="modal">Cancel</button>

    </div>
</div>
</div>
</div>