<div class="modal fade" id="invite_user_existing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Invitation to Ednora</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;" id="display_message">{{ invited_user }} has invited you to Ednora!</p>
                <button type="button" class="btn btn-success center-block" data-dismiss="modal">Ok</button>

            </div>

        </div>
    </div>
</div>