<div class="modal fade" id="inviteviamail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Send Invite</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" id="emailid" class="form-control" placeholder="Enter Email*">
                                <span class="error" id="emailidval" hidden=""></span>
                                <span style="font-size: 13px;color:green;" id="emailidsuccess"></span>
                            </div>

                        </div>
                        <div class="col-md-12 center-block">
                            <button id="sendInvite2" name="sendinvite" onclick="inviteusingemailid();"
                                    class="btn btn-success center-block" disabled>Invite
                            </button>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% block extra_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
{#    $('#emailid').bind("enterKey",function(e){#}
{#        //do stuff here#}
{#        alert("done");#}
{#    });#}
    $('#emailid').keyup(function(e){
        if(e.keyCode == 13)
        {
{#            $(this).trigger("enterKey");#}
            inviteusingemailid();
        }
    });
</script>
{% endblock %}
