<!----Login Modal --->
    <div class="modal fade for_closing_modal_pop_up_create_folder" id="login-modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
        <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
                            <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col xs-12">
                                    <img src="/static/assets/img/logo-dark-blue.png" alt="Ednora" class="center-block"
                                         height="55px">
                                    <h4 class="share_popup">Picks from around the web for kids</h4>

                                    <p></p><h4 class="share_popup_message"> {{ welcome_message }}</h4></br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" name="user" class="form-control share_form-control"
                                               placeholder="Username*" id="username"></div>
                                    <div class="form-group">
                                        <input type="password" name="pass"
                                                                   class="form-control share_form-control"
                                                                   placeholder="Password*" id="password"></div>
                                    <div class="form-group">
                                    <p id="loginerror" style="color:red;font-size: 13px; width: 250px; margin: 0px auto;"></p></div>
                                    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">

                                    <input type="button" name="login" class="btn sign_in_btn center-block modal-sign-in"
                                           value="Sign In">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'register' %}" class="center-block" align="center">
                                    Sign up here</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>