{% load get_base_contexts %}
{% get_user_folders user user.is_authenticated as my_folders %}

<div class="modal fade bs-example-modal-lg for_closing_modal_pop_up_re_pin" id="repin_popup" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" style="z-index: 2042 !important;" data-keyboard="false">

    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">

            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="repinTitle">Save Resource</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <a href="#" class="thumbnail repin-thumbnail">
                                <img src="" alt="..." id="image_repin"/>
                            </a>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="re_pin_popo_up_div">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h4 id="msgrpn"> Save Resource in Your Folder</h4>
                                </div>
                            </div>

                            <select class="form-control folder-list" id="drop-repin">
                                <option id="select_folder_in_drop">Select Folder*</option>
                                   {% for folder in my_folders %}
                                    <option value="{{ folder.name }}">{{ folder.name }}</option>
                                   {% endfor %}

                                <option>Create Folder</option>

                            </select>
                            <input  type="hidden" value="" id="repin-slug">

                            <p id="repin_output_re_pin" style="color: red;font-size: 13px;"></p>

                            <br/>

                            <div class="form-group">

                                <input type="text" class="form-control" id="repin_tag"
                                       placeholder="Comma Separated Tags"  maxlength="30">
                            </div>
                            <p id="repin_output_validated" style="color: red;font-size: 13px;"></p>

                            <p id="repin_output" style="color: green;"></p>


                            <div class="pin_submition">
                                <button type="button" class="btn btn-success pull-right" id="repin_save">Save
                                </button>
                                <button type="button" style="margin-right: 12px"
                                        class="btn btn-default pull-right" data-dismiss="modal">Cancel
                                </button>

                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " id="to_test2" hidden>
                            <div>
                                <div>

                                    <h4 id="myModalLabel_in_upload">Create Folder</h4>
                                </div>
                                <div class="form-group">

                                    <input type="text" class="form-control" id="folder_input_id_in_re_pin"
                                           placeholder="Folder Name*">

                                    <p id="output_id_in_re_pin" style="color: red;font-size: 13px;"></p>

                                    <p id="output_id_success_in_re_pin" style="color: green;font-size: 13px;"></p>
                                </div>
                                <div class="form-group">

                                    <button type="button" class="btn btn-success pull-right"
                                            id="create_folder_id_in_re_pin">Create
                                    </button>
                                    <button style="margin-right: 12px" type="button"
                                            class="btn btn-default pull-right" id="upload_cancel_re_pin">
                                        Cancel
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>