<div class="modal fade" id="pin_detail1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     data-size="modal-lg">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="model_id">Resource Detail</h4>
</div>
<div class="modal-body">
<a href="#" class="delete_pin"></a>

<div class="row">

<div class="col-md-9 col-sm-12 related_separated_content" id="setting-it">
    <div class="row">

        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="pin_detail_image">

                <div class="pin_share like_share_widget new-ico-widg icons-section">
                <input type="hidden" id="content_id" value="">

                    <ul class="like_widget_list">
                        <li class="flag-section"><a href="#" id="save-pin-detail-view" title="Save"
                                                    class="share_square" data-slug=""><i class="fa fa-folder-open"
                                                                            aria-hidden="true"></i></a></li>
                        <li><a href="#" class="share_square" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" title="Share"><i class="fa fa-share"
                                                                                           aria-hidden="true"></i></a>
                            <ul class="dropdown-menu social_menu">
                                <li>
                                    <a data-original-title="Twitter" rel="tooltip" href="#"
                                       data-url=" " class=" sharepinontwitter btn"
                                       data-placement="left" id="twitter">
                                        <i class="twitter_logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-original-title="Facebook" rel="tooltip" href="#"
                                       data-url="" class=" sharepinonfacebook btn-facebook "
                                       data-placement="left" id="facebook">
                                        <i class="facebook_logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-original-title="Google+" rel="tooltip" href="#"
                                       class=" sharepinongoogle btn-google" data-placement="left"
                                       id="google">
                                        <i class="google_logo"></i>
                                    </a>
                                </li>
                                <li class="hide_messenger">
                                    <a data-original-title="Facebook Messenger" rel="tooltip"
                                       data-url=' '
                                       class=" sharepinonfacebookmessenger btn-facebook "
                                       data-placement="left" id="Messenger">
                                        <i class="facebook_messenger"></i>
                                    </a>
                                </li>
                                <li style="border-bottom: none">
                                    <a data-original-title="Email" rel="tooltip" class=" btn-mail shareviaemail"
                                       data-placement="left" id="emailshare">
                                        <i class="email_logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="flag-section like-figure">
                            <a id="user_liked_sattus" class="like_detail_image like-icon" title="Like">
                                <span class="fa fa-heart"></span>
                            </a>
                            <span id="likecountinpd" class="count-spn"></span>
                        </li>

                    </ul>
                    <div id="id_download_modal">
                        <ul class="pull-right detail-view-count-view-icon">


                            <li><a class="fa fa-download" title="Download" id="dwnld_count"></a><span
                                    id="downloadcountinpd">DC</span> <input type="hidden" id="id_slug" value="">
                                <a href="file_url" style="display: none;" id="download-file-link" download></a>
                            </li>
                        </ul>
                    </div>
                    <div id="id_viewcount_modal">
                        <ul class="pull-right detail-view-count-view-icon">

                            <li><a class="fa fa-eye" id="view_count" title="View Count"></a><span id="id_viewno"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix icons-strip-div"></div>

                </div>

                <a id="resourceLinkId" target="_blank"><img src="" alt="..." id="image_pr"></a>
                <span id="repin_id" hidden></span>
            </div>
            <ul hidden id="edit_button_ul" class="right-side-actions like_pickks new-ico-widg-icon pull-left resource-edit">
                <li title="Edit"><a data-target="#edit-resource-modal" data-toggle="modal" id="edit_button" class="ed-btn-tp" data-pin-id="">Edit</a></li>
            </ul>
            <ul class="pull-left">
                <li hidden class="" id="id_delete1">
                    <a data-toggle="modal" data-target="#resource_delete" class="popup-delete pick-delete">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <ul class="right-side-actions like_pickks new-ico-widg-icon pull-left">

            </ul>
            <ul class="right-side-actions like_pickks pull-right">
                <li class="flag-section resource-detail-flag"><a id="user_flag_status" class="" title="Flag"><span
                        class="fa fa-flag"></span></a><span id="flagcountinpd"
                                                            class="count-spn"></span></li>
            </ul>

            <div class="clearfix"></div>
        </div>


        <div class="col-lg-7 col-md-6 col-sm-12 pin_descriptions">
            <a id="link"  href="javascript:void(0)" target="_blank"><h4 id="headtitle"></h4></a>

            <div class="more-less">
                <p id="cont_detail">
                    <a id="link2" style="color: #333;"><span class="text"></span></a>
                    <a href="javascript:void(0)" id="id_show_detailed_text"><span >...more</span></a>
                </p>
                <a id="link3" style="color: #333;">
                  <p  style="white-space: pre-line;" id="cont_detail_more"></p>
                </a>


            </div>
            <table summary="summary" width="100%" border="0" cellpadding="0" cellspacing="0"
                   style="font-size:13px;">
                <!--<tr>
                    <td>State: <span id="id_state">State</span></td>
                </tr>
                <tr>
                    <td>District: <span id="id_district">District</span></td>
                </tr>-->

                <!--<tr>
                    <td>Learning Objective Keywords: <span id="id_objective">Objectives</span>
                    </td>
                </tr>
                <tr>
                    <td>Learning Objective Codes: <span id="id_learning_objective">Objectives</span>
                    </td>
                </tr>-->
                <tr>
                    <td>Topic: <span id="id_subjects">Subjects</span></td>
                </tr>
                <tr>
                    <td>Grade: <span id="id_grade">Grade</span></td>
                </tr>
                <!--<tr>
                    <td>Level: <span id="id_level">Level</span></td>
                </tr>
                <tr>
                    <td>Resource Type: <span id="content_type">Resource Type</span>
                    </td>
                </tr>
                <tr>
                    <td>Media Type: <span id="media_type">Media Type</span></td>
                </tr>-->
                <tr>
                    <td>Tags: <span id="id_tags">Tags</span></td>
                </tr>
                <tr>
                    <td>Posted By: <span class="posted-user-figure"><img id="id_dp_url"
                                                                         src="https://lorempixel.com/60/60/people/?v=3"/></span><span
                            id="id_posted_by">Posted By</span></td>
                </tr>
                <tr>
                    <td>Posted on: <span id="id_created_on">Posted On</span></td>
                </tr>

            </table>
        </div>

    </div>

    <div class="row comment-section">
        <div class="col-sm-12 user-comment-section">
            <form class="message-box">
                <textarea class="comment-field" id="comment_text_id"></textarea>
                <button type="button" class="btn btn-success pull-right" id="comment_button_id">Comment</button>
                <div class="clearfix"></div>
            </form>

            <ul id="myList">
                <li id="comment_lists">

                </li>

            </ul>

             <div class="row">
                <div class="show-more-detail col-md-6 col-sm-6"><span id="showLess">Show less</span></div>
                <div id="loadMore" class="show-more-detail col-md-6 col-sm-6 text-right">Show more</div>
            </div>

        </div>
    </div>

</div>
<div class="col-md-3 col-sm12 related_separated" id="related_resource">

    <div class="">
        <h4 class="related-title">Related Resources</h4>

        <div id="related-resource">

        </div>
        <!--/myCarousel-->

    </div>
    <!--/well-->

</div>

</div>
</div>

</div>
</div>
</div>