<div class="modal fade for_closing_modal_pop_up_create_folder" id="user_share" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Share Resource</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" value="" id="pinslug">

                        <div class="form-group"><input type="email" name="user_share_email" id="user_share_email"
                                                       placeholder="Enter Email*" class="form-control">

                            <p style="font-size: 13px;color:red" hidden="" id="user_share_email_validation"></p>
                            <span style="font-size: 13px;color:green;" id="emailsharesuccess"></span></div>
                        <button type="button" class="btn btn-success center-block" id="usershareok">Send
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>