<div class="modal fade for_closing_modal_pop_up_create_folder"
     id="unflag_pin" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" style="z-index: 2042 !important;" data-keyboard="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="some_id"
                                class="close"
                                aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                             Do you really want to
                            unflag this resource?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-success pull-right"
                                id="confirm_unflag_pin" value='ok'
                                style="width: 70px">Ok
                        </button>
                        <button style="margin-right: 12px" type="button"
                                id="cancel_unflag_pin"
                                class="btn btn-default pull-right"
                                data-dismiss="modal"
                                >Cancel
                        </button>

                        <input type="hidden" value="delete" id="ds">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>