{% load get_base_contexts %}
{% get_user_folders user user.is_authenticated as my_folders %}

<div class="modal fade bs-example-modal-lg for_closing_modal_pop_up upload_home" id="upload-edit-modal" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel" data-keyboard="false">

<div class="vertical-alignment-helper">
<div class="modal-dialog vertical-align-center">

<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="EditModalLabel">Upload Resource</h4>
</div>
<div class="modal-body">
<!-- Modal for confirming delete resource -->


<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="float:right;">
        <h4 style="font-weight: bold;" id="LabelAboveForm"> Save Resource :</h4>

        <label hidden id="label1" class="uploadcheck">
            <input type="checkbox" name="source" id="check1" class="myCheckbox" value="" onclick="func_url()" checked/><span>URL</span>
        </label>
        <label hidden id="label" class="uploadcheck">
            <input type="checkbox" name="source" id="check2" class="myCheckbox" value="" onclick="func_file()" /><span>FILE</span>

        </label>
    </div>

</div>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div id="fetched_image" data-placeholder='Thumbnail Preview'></div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " id="upload_create_to_hide">

    <div class="form-group">

        <input type="text" class="form-control" id="upload_pin_url_id"
               placeholder="Source*" value="">

        <p id="content_url_id" style="color:red;font-size: 13px"></p>

        <input type="file" class="form-control" id="upload_pin_file_id"
               placeholder="Choose a file" value="">

        <p id="content_file_id" style="color:red;font-size: 13px"></p>

    </div>

    <div class="form-group">
        <input type="text" class="form-control content-title" id="content_titile_id"
               placeholder="Title in your words*">
        <p id="content_output_tilte_id" style="color:red;font-size: 13px"></p>
        <span class="exceed-characters-error">You have reached the limit of 255 characters</span>
    </div>
    <div class="form-group">
        <textarea class="form-control" id="content_text_id"
                  placeholder="Content source and Description in your words*">
        </textarea>

        <p id="content_output_desc_id" style="color:red;font-size: 13px"></p>

    </div>
    <div class="form-group test-group">
        <div class="register_class subject-class">
            <form id="multiselectForm1" method="post" class="form-horizontal">
                <select class="form-control multiselect" data-placeholder="Topic*" name="subject_id" id="subject_id" multiple>

                    {% for subject_name in subjects %}
                        <option value="{{ subject_name.id }}">{{ subject_name.subject }}</option>
                    {% endfor %}

                </select>
            </form>
            <p id="subject_field_error_id" style="color:red;font-size: 13px"></p>
        </div>
    </div>

    <div class="form-group test-group">
        <div class="row">
            <div class="col-sm-12">
                <form id="multiselectForm" method="post" class="form-horizontal">
                    <select class="form-control multiselect" data-placeholder="Grade*"  name="grade_id" id="grade_id" multiple>

                        {% for grade_name in grades %}
                            <option value="{{ grade_name.grade }}">{{ grade_name.grade }}</option>
                        {% endfor %}

                    </select>
                </form>
                <p id="grade_field_error_id" style="color:red;font-size: 13px"></p>
            </div>
            <!--<div class="col-sm-6">
                <form id="multiselectForm2" method="post" class="form-horizontal">
                    <select class="form-control multiselect" data-placeholder="Level*"  name="level_id" id="level_id" multiple>

                        {% for level_name in levels %}
                            <option value="{{ level_name.id }}">{{ level_name.name }}</option>
                        {% endfor %}

                    </select>
                </form>
                <p id="level_field_error_id" style="color:red;font-size: 13px"></p>
            </div>-->
        </div>
    </div>
    <!--<div class="form-group test-group">
        <div class="row">
            <div class="col-sm-6 register_class">
                <select class="sign_up_select upload_drop" id="drop_content_id_up">
                    <option> Resource Type*</option>

                    {% for resource in reosurce_type %}
                        <option value="{{ resource.name }}">{{ resource.name }}</option>
                    {% endfor %}

                </select>

                <p id="content_output_type_id" style="color:red;font-size: 13px;margin-bottom: 0;"></p>
            </div>
            <div class="col-sm-6">
                <select class="sign_up_select upload_drop" id="drop_media_id_up">
                    <option> Media Type*</option>

                    {% for media in media_type %}
                        <option value="{{ media.name }}">{{ media.name }}</option>
                    {% endfor %}

                </select>

                <p id="media_output_type_id" style="color:red;font-size: 13px; margin-bottom: 0;"></p>
            </div>
        </div>
    </div>-->

    <!--<div class="form-group upload_pin_class">
        <input id="objective_id" type="text" class="form-control objective-keyword"
               placeholder="Comma Separated Learning Objective Keyword(s)*">

        <p id="content_output_objective_id" style="color:red;font-size: 13px"></p>
    </div>

    <div class="form-group upload_pin_class">
        <input type="text" class="form-control objective-keyword-code" id="objectives_code_id"
               placeholder=" Comma Separated Learning Objective Code(s)">

        <p id="content_output_objective_code_id" style="color:red;font-size: 13px"></p>
    </div>-->

    <div class="form-group upload_pin_class">
        <input type="text" class="form-control resource-tags" id="tags_id"
               placeholder="Tags">

        <p id="content_output_tags_id" style="color:red;font-size: 13px"></p>
    </div>

    <div class="form-group upload_pin_class">
        <select class="sign_up_select upload_drop folder-list" id="dop_folder_id_up">
            <option id="select_folder_in_drop"> Select Folder*</option>
            {% for fol in my_folders  %}
            <option value="{{ fol.name }}">{{ fol.name }}</option>
            {% endfor %}
            <option>Create Folder</option>

        </select>
        <p id="content_output_folder_id" style="color:red;font-size: 13px"></p>
        <p id="select_image" style="color:red;font-size: 13px"></p>
        <p id="content_output_success_id" style="color:green;font-size: 13px"></p>

        <span class="choose-another-folder">You have already saved this resource in this folder. Please select another folder.</span>
    </div>


    <div class="form-group">
        <div class="">
            <button type="submit" class="btn btn-success pull-right"
                    id="upload_pin_submit" style="width: 70px;">
                Save
            </button>
            <img id="upload_loader">
            <button style="margin-right: 12px;" type="submit"
                    class="btn btn-default pull-right" data-dismiss="modal"
                    id="upload_cancel">
                Cancel

            </button>

        </div>
    </div>
</div>
</div>


</div>


</div>

</div>
</div>
</div>
</div>
