{% extends "base.html" %}
{% load analytics_token %}
{% block titles %}Folder View{% endblock %}
{% block content %}

<div class="folder_view_title content_top_margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 ">
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><p class="folder_pin_number">{{ pin_no }}
                        Resources</p></div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <h4 id="folder" value="{{  folder }}">{{ folder }}</h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <a id="edit_pin_in" href="#" class="pull-right" data-toggle="modal" data-target="#editfolder">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </div>
                    <input type="hidden" value="{{ folder }}" id="folder_name_hidden">
                    <input type="hidden" value="{{ folder.id }}" id="folder_id">
                    <input type="hidden" value="{{ folder.slug }}" id="folder_slug">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container  min_hgt_cls">
    <div class="" id="my-gallery-container">

        {% include page_template %}
        <div class="loader-container">
                <img class="resource-loader" src="/static/assets/img/loading.gif" style="width: 100px; height: 100px" hidden>
            </div>
    </div>
</div>
</div>
<!-- Edit folder -->

{% include 'modals/edit-folder.html' %}

<!--Delete folder confirmation-->

{% include 'modals/delete-folder-confirmation.html' %}

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="/static/assets/js/mp.mansory.js"></script>
    <script type="text/javascript" src="/static/loading_overlay.js"></script>
    <script src="/static/el-pagination/js/el-pagination.js"></script>
    <script src="/static/el-pagination/js/touch-events.js"></script>
    <script type="text/javascript">
    $(function () {

            $(document).on('swipeup', function () {
                $('a.endless_more').trigger('click');
            });
        });
    jQuery(document).ready(function () {
        $("#my-gallery-container").mpmansory(
            {
                childrenClass: 'item', // default is a div
                columnClasses: 'padding', //add classes to items
                breakpoints: {
                    lg: 4,
                    md: 4,
                    sm: 6,
                    xs: 12
                },
                distributeBy: {order: false, height: false, attr: 'data-order', attrOrder: 'asc'}, //default distribute by order, options => order: true/false, height: true/false, attr => 'data-order', attrOrder=> 'asc'/'desc'
                onload: function (items) {
                    items.addClass('mpmansory-applied');
                }
            }
        );
    });
    </script>

    <script>$.endlessPaginate({paginateOnScroll: true ,paginateOnScrollMargin:10,
    onClick: function(context) {
            $('.resource-loader').show();
        },
    onCompleted: function(context, fragment) {
        $('.resource-loader').css('display', 'none');
        $('.mpmansory-applied').unwrap();
        $("#my-gallery-container").mpmansory(
            {
                childrenClass: 'item', // default is a div
                columnClasses: 'padding', //add classes to items
                breakpoints: {
                    lg: 4,
                    md: 4,
                    sm: 6,
                    xs: 12
                },
                distributeBy: {order: false, height: false, attr: 'data-order', attrOrder: 'asc'}, //default distribute by order, options => order: true/false, height: true/false, attr => 'data-order', attrOrder=> 'asc'/'desc'
                onload: function (items) {
                    items.addClass('mpmansory-applied');
                }
            }
        );

        }});
    $(document).ready(function () {

        $('#update_folder').click(function (e) {
            var new_name = $('#edit_folder').val();
            var current_folder = '{{ folder }}'
            if(new_name!=current_folder){
                var data = new FormData();
                data.append("folder_name", new_name);
                data.append("csrf_middleware_token", setcsrf('csrftoken'));
                data.append("user_id", $('#user_id').val());
                var slug = $('#folder_slug').val();
                $.ajax({
                    data: data,
                    type: "POST",
                    url: "{% url 'folder_description' 0 %}".replace('0', slug),
                    dataType: 'json',
                    processData: false, // Don't process the files
                    contentType: false,
                    success: function (data) { // on success..
                        if (data.status == "success") {
                            if (data.empty == true) {

                                $('#output_id').html("Required field").show();
                                return false;
                            }
                            if(data.name_exists == true){
                                $('#output_id_success').hide();

                                $('#output_id').html("This folder name already exists").show();
                                return false;
                            }
                            if (data.done == true) {
                                $('#output_id').hide();
                                $('#output_id_success').html("Successfully updated").show();
                                setTimeout(function () {
                                    $("#createfolder").hide();
                                    window.location.href = "{% url 'folder_description' 0 %}".replace('0', data.slug);

                                }, 1000);

                            }
                            if (data.length == true) {

                                $('#output_id').html("Name should be less than 20 characters").show();
                                return false;
                            }

                        }
                    }
                });
            }

        });


        $('#delete_folder').click(function (e) {
            $('#editfolder').modal('hide')
        });
        $('#editfolder').on('shown.bs.modal', function (e) {
            $('#edit_folder').focus();
        });
        $("#edit_pin_in").click(function () {
            var text = $("#folder_name_hidden").val();
            $('#edit_folder').val(text);
        });
        $('#editfolder').on('hidden.bs.modal', function (e) {
            $('#edit_folder').val('');
            $('#output_id').hide();
            $('#output_id_success').hide();
        });

        $('#confirm_delete').click(function (e) {
            $("#confirm_delete").attr('disabled','disabled');
            var data = new FormData();
            data.append("folder_name", $('#edit_folder').val());
            data.append("csrfmiddlewaretoken", setcsrf('csrftoken'));
            data.append("user_id", $('#user_id').val());
            var slug = $("#folder_slug").val();
            data.append("ds", 'delete');
            $.ajax({
                data: data,
                type: "POST",
                url: "{% url 'folder_description' 0 %}".replace('0', slug),
                dataType: 'json',
                processData: false, // Don't process the files
                contentType: false,
                success: function (data) { // on success..
                    $("#confirm_delete").removeAttr('disabled');
                    if (data.status == "success") {
                        window.location.href = "{% url 'landing_page'  %}"

                    }
                }
            });
        });
    });
    $(document).on('keypress', '#edit_folder', function (e) {
        if(e.keyCode == 13) {
            $('#update_folder').click();
        }
    });
    </script>
{% endblock %}