    <option> Select Folder*</option>
        {%  for folder in folders %}
        <option {% if forloop.first %} selected {% endif %} value="{{ folder.name }}">{{ folder.name }}</option>
        {% endfor %}
    <option>Create Folder</option>

