{% extends "base.html" %}
{% load analytics_token %}
{% block titles %}Search{% endblock %}
{% block content %}

<div class="container content_top_margin min_hgt_cls">
    <div class="" id="my-gallery-container">
        {% if pins.count == 0 %}
        {% if by_filter %}
        <div class="alert alert-success">
            <strong>No results were found matching your filter</strong>
        </div>
        {% else %}
        <div class="alert alert-success">
            <strong>No results were found matching your search query</strong>
        </div>
        {% endif %}

        {% endif %}
        {% include page_template %}
         <div class="loader-container">
            <img class="resource-loader" src="/static/assets/img/loading.gif" style="width: 100px; height: 100px" hidden>
         </div>

    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="/static/assets/js/mp.mansory.js"></script>
    <script type="text/javascript" src="/static/loading_overlay.js"></script>
    <script src="/static/el-pagination/js/el-pagination.js"></script>
    <script src="/static/el-pagination/js/touch-events.js"></script>
    <script type="text/javascript">
        $(function () {

            $(document).on('swipeup', function () {
                $('a.endless_more').trigger('click');
            });
        });
    jQuery(document).ready(function () {
        $("#my-gallery-container").mpmansory(
            {
                childrenClass: 'item', // default is a div
                columnClasses: 'padding', //add classes to items
                breakpoints: {
                    lg: 4,
                    md: 4,
                    sm: 6,
                    xs: 12
                },
                distributeBy: {order: false, height: false, attr: 'data-order', attrOrder: 'asc'}, //default distribute by order, options => order: true/false, height: true/false, attr => 'data-order', attrOrder=> 'asc'/'desc'
                onload: function (items) {
                    items.addClass('mpmansory-applied');
                }
            }
        );
    });
    </script>

    <script>$.endlessPaginate({paginateOnScroll: true ,paginateOnScrollMargin:10,
    onClick: function(context) {
            $('.resource-loader').show();
        },
    onCompleted: function(context, fragment) {
        $('.resource-loader').css('display', 'none');
        $('.mpmansory-applied').unwrap();
        $("#my-gallery-container").mpmansory(
            {
                childrenClass: 'item', // default is a div
                columnClasses: 'padding', //add classes to items
                breakpoints: {
                    lg: 4,
                    md: 4,
                    sm: 6,
                    xs: 12
                },
                distributeBy: {order: false, height: false, attr: 'data-order', attrOrder: 'asc'}, //default distribute by order, options => order: true/false, height: true/false, attr => 'data-order', attrOrder=> 'asc'/'desc'
                onload: function (items) {
                    items.addClass('mpmansory-applied');
                }
            }
        );

        }})</script>
{% endblock %}