{% extends "base.html" %}
{% load staticfiles %}
{% block titles %}Reset Password{% endblock %}
{% block content %}
<div class="container min_hgt_cls">
    <div class="row">


        <div class="col-lg-6 col-md-5 col-lg-offset-3 col-md-offset-4">


            <div class="panel-body">
                <div class="text-center">

                    <h3 class="text-center">Reset Password</h3>

                    <p>Enter new password.</p>

                    <div class="panel-body">

                        <form class="form forgot_form" method="post" action="." id="forgot_password">
                            {% csrf_token %}
                            <fieldset>

                                <div class="form-group pass_word ">{{form.newpassword1}}<span align="left">{{form.newpassword1.errors}}</span>
                                    <span align="left">{{form.non_field_errors}}</span></div>

                                <div class="form-group  ">{{form.newpassword2}} <span align="left">{{form.newpassword2.errors}}</span>
                                </div>


                                <div class="form-group">
                                    <input class="btn btn-success forgot_form" value="Change Password" type="submit">
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}


<script type="text/javascript">
    //Must contain at least one upper case letter, one lower case letter and (one number OR one special char).
    var good = /^(?=.*[a-z])(?=.*[A-Z])(?=.*?[0-9]|.*?[#?!@$%^&*-])[a-zA-Z\d]{8,}/g;
    //Must contain at least one upper case letter, one lower case letter and (one number and one special char).
    var better = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/g;


$(document).ready(function(){
    $('#confirm_passwod_id1').focus()
    $('#confirm_passwod_id1').on('keyup', function (e) {
        if (e.keyCode != 32)
            check_for_password_strength($(this));
    });
    pass="";
    $('#confirm_passwod_id1').on('keydown', function (e) {
         if (e.keyCode == 32) return false;
        }
    );
    $('#confirm_passwod_id2').on('keydown', function (e) {
         if (e.keyCode == 32) return false;
        }
    );

});
$('input[data-toggle="popover"]').popover({
    placement: 'bottom',
    trigger: 'focus'
});

</script>

{% endblock %}



