{% extends "base.html" %}
{% load staticfiles %}
{% block titles %}Forgot Password{% endblock %}
{% block content %}

<div class="container min_hgt_cls">
    <div class="row">


        <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">


            <div class="panel-body">
                <div class="text-center">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>

                    <h3 class="text-center">Reset your password</h3>

                    <p>A password reset link will be sent to your email:</p>

                    <div class="panel-body">

                        <form class="form forgot_form" id="forgot-pwd">
                            <fieldset>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>

                                        <input id="emailInput" placeholder="Enter your email*" class="form-control">

                                    </div>
                                </div>
                                <p id="message"></p>

                                <div class="form-group" text-align="center">

                                    <button id="submit-reset" type="submit" name="submit" class="btn btn-success">Send</button>
                                    <img id="loader" src="/static/assets/img/loader.gif" hidden>
                                </div>

                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}

    <script src="{% static 'forgot_password.js' %}"></script>

{% endblock %}
