{% extends "base.html" %}
{% load staticfiles %}
{% block titles %}Link Expired{% endblock %}
{% block content %}<div class="container min_hgt_cls">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="panel-body">
                <div class="text-center">

                    <h3 class="text-center"></h3>

                    <p></p>

                    <div class="panel-body">
                        <h3 class="text-center">Your password reset link has expired.</h3>

                        <p>You can request another password reset link <a href="{% url 'password-reset' %}"> here</a>.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}