{% extends "base.html" %}
{% load staticfiles %}
{% block titles %}Password Change Success{% endblock %}
{% block content %}

<div class="container min_hgt_cls">
    <div class="row">


        <div class="col-lg-6 col-md-12 col-lg-offset-3">


            <div class="panel-body">
                <div class="text-center">

                    <h3 class="text-center">Password Changed Successfully</h3>

                    <p>You can now login.</p>

                    <div class="panel-body">


                        <div class="form-group">
                            <a href="{% url 'register' %}"><input class="btn btn-success " value="Login"
                                                                           type="submit"></a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}