{% extends "base.html" %}
{% load analytics_token %}
{% load staticfiles %}
{% block titles %}Register{% endblock %}
{% block meta %}
{% include "meta.html" with meta_title="Ednora" meta_image="https://www.ednora.com/static/assets/img/ednora_fb_msg_img.png" meta_description="An easy-to-use platform with exclusive access for educators to share and discover resources"%}
{% endblock %}
{% block content %}
<div class="register-wrapper"><div class="register-box">
<div class="container">
    <div class="row">
        {% if messages %}
        <div class="alert alert-success">
            {% for messsage in messages %}
                {{ messsage|safe }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="col-lg-6 col-md-5">
            <div class="sign_up_title">


                <div class="signup-lft-info">
                    <!--<h2 style="text-transform: uppercase">Connecting educators and content for collaborative learning </h2>-->
                    <h2 style="text-transform: uppercase">RESOURCES, NEWS AND INSPIRING STORIES FOR KIDS PICKED FROM AROUND THE WEB</h2>
                    <ul>
                        <li>Keeping kids informed to raise awareness, pique their curiosity and cultivate interests
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-7">
            <div id="login-overlay" class="registration-overlay">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" style="display:inline-block;">Sign Up</h4>
                    </div>
                    <div class="modal-body sign_up_box">
                        <form class="form-horizontal signup-form" method="POST" action="{% url 'register' %}"
                              id="signup_form">
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Email</label>

                                <div class="col-sm-8">
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                    {{ form.non_field_errors }}
                                </div>
                            </div>

                            <div class="form-group pass_word">
                                <label class="col-sm-4 control-label">Password</label>

                                <div class="col-sm-8">
                                    {{ form.password }}
                                    {{ form.password.errors }}

                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Re-Enter Password</label>

                                <div class="col-sm-8">
                                    {{ form.password1 }}
                                    {{ form.password1.errors }}

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Name</label>

                                <div class="col-sm-8 name_field">
                                    <div class="col-lg-6 col-md-6 register_class">
                                        {{ form.first_name }}
                                        {{ form.first_name.errors }}

                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        {{ form.last_name }}
                                        {{ form.last_name.errors }}

                                    </div>


                                </div>
                            </div>


                            <h3 class="signup_title">Your Profile</h3>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Country/State</label>

                                <div class="col-sm-4 register_class">
                                    {{ form.state }}
                                    {{ form.state.errors }}

                                </div>
                                <div class="col-sm-4" id="id_div_district">
                                    {{ form.district }}
                                    {{ form.district.errors }}

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">City</label>

                                <div class="col-sm-8">
                                    <div id="custom-auto-width">
                                        {{ form.skool }}
                                        {{ form.skool.errors }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Grade</label>

                                <div class="col-sm-8 register-grade">
                                    {{ form.grade }}
                                    {{ form.grade.errors }}

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Topics</label>

                                <div class="col-sm-8">
                                    {{ form.subject }}
                                    {{ form.subject.errors }}

                                </div>
                            </div>
                            <div class="agree-signup">
                                {{ form.termsandcondition }} I have read and agree to the
                                <a href="{% url 'terms' %}" target="_blank">Terms of Service</a>,
                                <a href="{% url 'privacy' %}" target="_blank">Privacy Policy</a> and
                                <a href="{% url 'cookie' %}" target="_blank">Copyright Policy</a>.
                                {{ form.termsandcondition.errors }}

                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">&nbsp;</label>

                                <div class="col-sm-8">

                                    <input type="submit" name="submit" id="submit" value="Sign Up"
                                           class="btn btn-success pull-right"
                                           tabindex="14">
                                </div>
                            </div>

                        </form>

                    </div>
                    <!--<div class="col-md-12" style="text-align: center;">
                        <span style="color: #fff0ff;position: relative;top: 20px;">
                            <a data-toggle="modal" data-target="#contact_popup" style="color: #06b6ef;"> Contact us </a> if your district is not listed
                        </span>
                    </div>-->
                </div>

            </div>

        </div>

        <!-- End Content -->

        <!-- Templates -->
    </div>
</div>
</div> </div>
<input type="hidden" value="{% get_analytics_token 'TOKEN' %}" id="token">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'register.js' %}"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','google-analytics.com/analytics.js','ga');

ga('create', 'UA-'+token+'-1', 'auto');
ga('send', 'pageview');

</script>
{% endblock %}
