{% extends "base.html" %}

{% block titles %}Page Not Found{% endblock %}
{% block content %}

<div class="container min_hgt_cls">
    <div class="row" style="margin: 1.5em;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div id="login-overlay" class="modal-dialog">
                <div class="modal-content">
                     <div class="modal-body">
                        <h1>OOPS, Error 404 !</h1>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}