<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <link rel="alternate" type="application/rss+xml" href="/feeds/latest-pins/">

        <!--  ___                     ___           ___
             /  /\      ___          /__/\         /  /\          ___
            /  /::\    /  /\         \  \:\       /  /::\        /__/|
           /  /:/\:\  /  /:/          \  \:\     /  /:/\:\      |  |:|
          /  /:/~/:/ /__/::\      _____\__\:\   /  /:/~/:/      |  |:|
         /__/:/ /:/  \__\/\:\__  /__/::::::::\ /__/:/ /:/___  __|__|:|
         \  \:\/:/      \  \:\/\ \  \:\~~\~~\/ \  \:\/:::::/ /__/::::\
          \  \::/        \__\::/  \  \:\  ~~~   \  \::/~~~~     ~\~~\:\
           \  \:\        /__/:/    \  \:\        \  \:\           \  \:\
            \  \:\       \__\/      \  \:\        \  \:\           \__\/
             \__\/                   \__\/         \__\/             -->

        <link rel="shortcut icon" href="/static/assets/img/logo-dark3.png" type="image/x-icon"/>

        <title>{% block titles %}{% endblock %} | Ednora</title>

        <!-- CSS -->

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
        <link rel="stylesheet" href="/static/assets/vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/assets/css/jquery-ui.css">
        <link rel="stylesheet" href="/static/assets/vendor/dropzone/dist/dropzone.css">
        <link rel="stylesheet" href="/static/assets/css/messages.css">
        <link rel="stylesheet" href="/static/assets/css/lightbox.css">
        <link rel="stylesheet" href="/static/assets/css/pinry.css">
        <link rel="stylesheet" href="/static/assets/css/media.css">
        <link rel="stylesheet" href="/static/assets/css/font-awesome.css">
        <link rel="stylesheet" href="/static/assets/css/custom.css">
        <link rel="stylesheet" href="/static/assets/css/select2.min.css">
        <link rel="stylesheet" href="/static/assets/css/jquery.multiselect.css">

        <link rel="apple-touch-icon" sizes="57x57" href="/static/assets/img/Favicons/ednora%20fav%20icon.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/assets/img/Favicons/ednora%20fav%20icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/assets/img/Favicons/ednora%20fav%20icon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/Favicons/ednora%20fav%20icon.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/assets/img/Favicons/ednora%20fav%20icon.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/Favicons/ednora%20fav%20icon.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/assets/img/Favicons/ednora%20fav%20icon.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/assets/img/Favicons/ednora%20fav%20icon.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/img/Favicons/ednora%20fav%20icon.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/assets/img/Favicons/ednora%20fav%20icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/Favicons/ednora%20fav%20icon.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/assets/img/Favicons/ednora%20fav%20icon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/Favicons/ednora%20fav%20icon.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <style type="text/css">

            body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        html {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        * html #wrapper {
            height:100%;
        }
         #wrapper {
            min-height: 100%;
            position: relative;
        }

        #footer {
            position: absolute;
            width: 100%;
            clear: both;
            bottom: 0;
            padding: 0;
            }
        </style>
        <!-- End CSS -->
        <!-- Google analytics scripts -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-86530837-1', 'auto');
          ga('send', 'pageview');

        </script>
        <!-- End Google analytics scripts -->
    </head>

    <body>
    {% if user.is_authenticated %}
        <div id="wrapper" class="loged-wrapper">
    {% else %}
        <div id="wrapper">
    {% endif %}
        <div id="content">

            <!-- Navigation -->
            {% if not user.is_authenticated %}
            <div class="navbar navbar-default" role="navigation">

                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4 logo_sec signup_logo" id="logo_align">

                            <a href="/"><img src="/static/assets/img/logo-dark3.png" alt="Ednora" height="55px"></a>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <form class="form-inline header_form" method="post" action="/login/">

                                <input type='hidden' name='csrfmiddlewaretoken' value='1MGCCqum3o3rOa5IUIsAuozdVj8UchEj'/>
                                <input type="hidden" name="next" value="">
                                <input type="hidden" name="url" value="">

                                <div class="form-group">
                                    <input class="form-control" id="exampleInputEmail2" name="email" placeholder="Email*"
                                           tabindex="1" type="email"/>

                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="exampleInputEmail2" name="password"
                                           placeholder="Password*" tabindex="2" type="password"/>

                                </div>

                                <button type="submit" class="btn sign_in_btn" tabindex="3">Sign In</button>
                                <span class="forgot_password_link"><span class="error"></span><a href="/password-reset/">Forgot
                                    Password?</a></span>
                                <!--<span class="forgot_password_link"></span> -->
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                {% include 'loggedIn_user_header.html' %}
            {% endif %}
        </div>
        <!-- End Navigation -->

        <div class="container min_hgt_cls">
            <div class="row" style="margin: 1.5em;">

                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div id="login-overlay" class="modal-dialog">
                       <div class="modal-content">
                             <div class="modal-body">
                               <h1>OOPS, Error 500 !</h1>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main_footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <ul class="footer_link">
                            <li><a id="contact_pop_up">Contact Us</a>
                            </li>
                            <li><a target="_blank" href="{% url 'terms' %}">Terms Of Service</a>
                            </li>
                            <li><a target="_blank" href="{% url 'privacy' %}">Privacy Policy</a>
                            </li>
                            <li><a target="_blank" href="{% url 'cookie' %}">Copyright Policy</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                        <div class="social">
                            <a href="https://www.facebook.com/" class="[ social-icon facebook ] animate" target="_blank">
                                <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                            <a href="https://twitter.com/?lang=en" class="[ social-icon twitter ] animate" target="_blank"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></a>

                            <a href="https://plus.google.com/" class="[ social-icon google-plus ] animate" target="_blank">
                                <span class="fa fa-google-plus"></span>
                            </a>

                            <a href="https://www.linkedin.com/company/ednora" class="[ social-icon linkedin ] animate" target="_blank">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </footer>
    </div>


    <!-- Modals -->

    <!-- Modal for create folder -->

    {% include 'modals/create-folder.html' %}

    <!-- upload and edit resource -->

    {% include 'modals/upload-resouce.html' %}

    <!-- delete resource -->

    {% include 'modals/delete-resource.html' %}

    <!-- Modal resource detail -->

    {% include 'modals/resource-detail.html' %}

    <!-- Modal for confirming flag -->

    {% include 'modals/flag-resource.html' %}

    <!-- ----get browser button popup ----->

    {% include 'modals/browser-button.html' %}

    <!-- Modal for re-pin -->

    {% include 'modals/re-pin.html' %}

    <!-- Modal for confirming delete folder -->

    {% include 'modals/delete-folder.html' %}

    <!--feedback popup-->

    {% include 'modals/feedback.html' %}

    <!--inivite existing user -->

    {% include 'modals/invite-user.html' %}

    <!-- invite from twitter -->

    {% include 'modals/invite-twitter.html' %}

    <!-- share resource -->

    {% include 'modals/share-resource.html' %}

    <!--flag modal--->

    {% include 'modals/delete-pick.html' %}

    <!----Login Modal --->

    {% include 'modals/login-modal.html' %}

    <!--invite email popup -->

    {% include 'modals/email-invite.html' %}

    <!--invite using emailid -->

    {% include 'modals/invite-via-mailId.html' %}

    <!--browser btn success -->

    {% include 'modals/browser-btn-success.html' %}

    <!-- Modal for Filter -->

    {% include 'modals/filter-resource.html' %}

    <!-- contact popup -->

    {% include 'modals/contact.html' %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/contact.js"></script>
    <!-- JavaScript -->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/static/assets/js/select2.full.js"></script>
    <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/static/assets/js/jquery.multiselect.js"></script>
    <script src="/static/assets/vendor/handlebars/handlebars.js"></script>
    <script src="/static/assets/vendor/dropzone/dist/dropzone.js"></script>
    <script src="/static/assets/js/helpers.js"></script>
    <script src="/static/assets/js/lightbox.js"></script>
    <script src="/static/assets/js/pin-form.js"></script>
    {% block extra_js %}
    {% endblock %}
    </body>
</html>