<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <link rel="alternate" type="application/rss+xml" href="/feeds/latest-pins/">

        <!--  ___                     ___           ___
             /  /\      ___          /__/\         /  /\          ___
            /  /::\    /  /\         \  \:\       /  /::\        /__/|
           /  /:/\:\  /  /:/          \  \:\     /  /:/\:\      |  |:|
          /  /:/~/:/ /__/::\      _____\__\:\   /  /:/~/:/      |  |:|
         /__/:/ /:/  \__\/\:\__  /__/::::::::\ /__/:/ /:/___  __|__|:|
         \  \:\/:/      \  \:\/\ \  \:\~~\~~\/ \  \:\/:::::/ /__/::::\
          \  \::/        \__\::/  \  \:\  ~~~   \  \::/~~~~     ~\~~\:\
           \  \:\        /__/:/    \  \:\        \  \:\           \  \:\
            \  \:\       \__\/      \  \:\        \  \:\           \__\/
             \__\/                   \__\/         \__\/             -->

        <link rel="shortcut icon" href="/static/assets/img/logo-dark3.png" type="image/x-icon"/>

        <title>{# {% block titles %}{% endblock %}| #}Ednora</title>

        <!-- CSS -->

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
        <link rel="stylesheet" href="/static/assets/vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/assets/css/jquery-ui.css">
        <link rel="stylesheet" href="/static/assets/vendor/dropzone/dist/dropzone.css">
        <link rel="stylesheet" href="/static/assets/css/messages.css">
        <link rel="stylesheet" href="/static/assets/css/lightbox.css">
        <link rel="stylesheet" href="/static/assets/css/pinry.css">
        <link rel="stylesheet" href="/static/assets/css/media.css">
        <link rel="stylesheet" href="/static/assets/css/font-awesome.css">
        <link rel="stylesheet" href="/static/assets/css/custom.css">
        <link rel="stylesheet" href="/static/assets/css/select2.min.css">
        <link rel="stylesheet" href="/static/assets/css/jquery.multiselect.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>


         <link rel="apple-touch-icon" sizes="57x57" href="/static/assets/img/Favicons//apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/assets/img/Favicons//apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/assets/img/Favicons//apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/Favicons//apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/assets/img/Favicons//apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/Favicons//apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/assets/img/Favicons//apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/assets/img/Favicons//apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/img/Favicons//apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/assets/img/Favicons//android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/Favicons//favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/assets/img/Favicons//favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/Favicons//favicon-16x16.png">
        <link rel="manifest" href="/static/assets/img/Favicons//manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/assets/img/Favicons//ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        {% block meta %}
        {% endblock %}

        <style type="text/css">

            body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        html {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        * html #wrapper {
            height:100%;
        }
         #wrapper {
            min-height: 100%;
            position: relative;
        }

        #footer {
            position: absolute;
            width: 100%;
            clear: both;
            bottom: 0;
            padding: 0;
            }
        </style>
        {% block extra_css %}
        {% endblock %}
        <!-- End CSS -->
        <!-- Google analytics scripts -->
        {% load analytics_token %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', "{% get_analytics_token 'TOKEN' %}", 'auto');
          ga('send', 'pageview');

        </script>
        <!-- End Google analytics scripts -->
    </head>

    <body>
    {% load tz_detect %}
     {% tz_detect %}
    {% if request.path == '/' or request.path == '/login/' or request.path == '/register/' or no_warpper %}
        <div id="wrapper">
    {% else %}
        <div id="wrapper" class="loged-wrapper">
    {% endif %}
        <div id="content">

            <!-- Navigation -->
            {% if not user.is_authenticated %}
            {% if request.path == '/' or request.path == '/login/' or request.path == '/register/' or 'upv/' in request.path %}
            <div class="navbar navbar-default" role="navigation">

                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4 logo_sec signup_logo" id="logo_align">

                            <a href="/"><img src="/static/assets/img/logo-dark3.png" alt="Ednora" height="55px"></a>

                        </div>

                        <div class="col-lg-8 col-md-8">

                            <form class="form-inline header_form" method="post" action="{% url 'login' %}">
                                <!--<a href="{%url 'how_it_works'%}" class="pull-left how_it_works">How it Works</a>-->

                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.GET.next }}">
                                <input type="hidden" name="url" value="{{ request.GET.url }}">

                                <div class="form-group">
                                    {{ login_form.email }}

                                </div>
                                <div class="form-group">
                                    {{ login_form.password }}

                                </div>

                                <button type="submit" class="btn sign_in_btn" tabindex="3">Sign In</button>
                                <span class="forgot_password_link">
                                    <span class="error">{{ login_form.non_field_errors.as_text }}</span>
                                    <a href="{% url 'password-reset' %}">Forgot Password?</a>
                                </span>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            {% else %}

            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  logo_sec signup_logo">
                            {% load staticfiles %}
                            <a href="{% url 'register' %}"><img src="{% static 'assets/img/logo-dark3.png' %}" alt="Ednora" height="55px" ></a>
                        </div>
                        <div class="col-lg-8 col-md-8 col-xs-8">
                            <form class="form-inline header_form">

                                <a href="{% url 'login' %}"  class="btn sign_in_btn" tabindex="3">Sign In</a>
                                <a href="{% url 'register' %}" class="btn sign_in_btn" tabindex="3">Register</a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% else %}
                {% include 'loggedIn_user_header.html' %}
            {% endif %}

            <!-- End Navigation -->

            <!-- load base template tag contexts -->
            {% load get_base_contexts %}
            {% get_levels as levels %}
            {% get_grades as grades %}
            {% get_subjects as subjects %}
            {% get_states as states %}
            {% get_districts as districts %}
            {% get_learning_objectives as l_objectives %}
            {% get_learning_objective_codes as l_objective_codes %}
            {% get_resource_type as reosurce_type %}
            {% get_tags as tags %}
            {% get_media_type as media_type %}
            {% load  get_download_count_tags %}
            <!-- end loading base template tag contexts-->

            {% block content %}
            {% endblock %}


        </div>
    </div>
    <footer class="main_footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <ul class="footer_link">
                                <li><a data-toggle="modal" data-target="#contact_popup" id="contact_pop_up">Contact Us</a>
                                </li>
                                <li><a target="_blank" href="{% url 'terms' %}">Terms Of Service</a>
                                </li>
                                <li><a target="_blank" href="{% url 'privacy' %}">Privacy Policy</a>
                                </li>
                                <li><a target="_blank" href="{% url 'cookie' %}">Copyright Policy</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">


                            <div class="social"><a class="legal-copy">Ednora © {% now "Y" %}</a>

                                <a href="https://www.facebook.com/Ednorallc/" class="[ social-icon facebook ] animate" target="_blank">
                                    <span class="fa fa-facebook" aria-hidden="true"></span>
                                </a>
                                <a href="https://twitter.com/Ednorallc" class="[ social-icon twitter ] animate" target="_blank"><i
                                        class="fa fa-twitter" aria-hidden="true"></i></a>

                                <a href="https://plus.google.com/u/0/b/107553580323831210705/107553580323831210705" class="[ social-icon google-plus ] animate" target="_blank">
                                    <span class="fa fa-google-plus"></span>
                                </a>

                                <a href="https://www.linkedin.com/company/ednora" class="[ social-icon linkedin ] animate" target="_blank">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </footer>


    <!-- Modals -->

    <!-- Modal for create folder -->

    {% include 'modals/create-folder.html' %}

    <!-- upload resource -->

    {% include 'modals/upload-resouce.html' %}

    <!-- edit resource -->

    {% include 'modals/edit-resource.html' %}

    <!-- delete resource -->

    {% include 'modals/delete-resource.html' %}

    <!-- Modal resource detail -->

    {% include 'modals/resource-detail.html' %}

    <!-- Modal for confirming flag -->

    {% include 'modals/flag-resource.html' %}

     <!-- Modal for confirming flag -->

    {% include 'modals/unflag_resource.html' %}

    <!-- ----get browser button popup ----->

    {% include 'modals/browser-button.html' %}

    <!-- Modal for re-pin -->

    {% include 'modals/re-pin.html' %}

    <!-- Modal for confirming delete folder -->

    {% include 'modals/delete-folder.html' %}

    <!--feedback popup-->

    {% include 'modals/feedback.html' %}

    <!--inivite existing user -->

    {% include 'modals/invite-user.html' %}

    <!-- invite from twitter -->

    {% include 'modals/invite-twitter.html' %}

    <!-- share resource -->

    {% include 'modals/share-resource.html' %}

    <!--flag modal--->

    {% include 'modals/delete-pick.html' %}

    <!--invite email popup -->

    {% include 'modals/email-invite.html' %}

    <!--invite using emailid -->

    {% include 'modals/invite-via-mailId.html' %}

    <!--browser btn success -->

    {% include 'modals/browser-btn-success.html' %}

    <!-- Modal for Filter -->

    {% include 'modals/filter-resource.html' %}

    <!-- contact popup -->

    {% include 'modals/contact.html' %}

    <!-- login modal -->

    {% include 'modals/login-modal.html' %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- JavaScript -->
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/static/assets/js/select2.full.js"></script>
    <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/static/assets/vendor/handlebars/handlebars.js"></script>
    <script src="/static/assets/vendor/dropzone/dist/dropzone.js"></script>
    <script src="/static/assets/js/helpers.js"></script>
    <script src="/static/assets/js/lightbox.js"></script>
    <script src="/static/assets/js/pin-form.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/static/invite.js"></script>
    <script src="https://connect.facebook.net/en_US/all.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="https://js.live.net/v5.0/wl.js"></script>
    <script type="application/javascript"  src="/static/custom.js"></script>
    <script type="application/javascript"  src="/static/common.js"></script>
    <script type="application/javascript"  src="/static/contact.js"></script>
    <script type="application/javascript"  src="/static/resource-edit.js"></script>
    <script type="application/javascript"  src="/static/dateformat.js"></script>
    {% if  request.user.is_authenticated %}
    <script>
         createCookie('loggedin','true',30);
         $("#wrapper").on("click", function(){if (document.cookie.indexOf("loggedin") == -1) {window.location.href = window.location.href;}})
    </script>
    {% endif %}
    <script>
        $(document).ready(function(){
            $(".multiselect").select2();
            $(".multiselect").on("select2:select", function (evt) {
                var element = evt.params.data.element;
                var $element = $(element);
                $element.detach();
                $(this).append($element);
                $(this).trigger("change");
            });

            function split( val ) {
                return val.split( /,\s*/ );
            }
            function extractLast( term ) {
                return split( term ).pop();
            }
            var learn_objectives = [{% for lobj in l_objectives %} {value: "{{ lobj.name}}", label: "{{ lobj.name}}"}, {% endfor %}];
            var learn_objective_codes = [{% for lobjcode in l_objective_codes %} {value: "{{ lobjcode.code}}", label: "{{ lobjcode.code}}"}, {% endfor %}];
            var user_tags = [{% for utags in tags %} {value: "{{ utags.name}}", label: "{{ utags.name}}"}, {% endfor %}];
            $( ".objective-keyword" )
            // don't navigate away from the field on tab when selecting an item
            .bind( "keydown", function( event ) {
                if ( event.keyCode === $.ui.keyCode.TAB &&
                $( this ).autocomplete( "instance" ).menu.active ) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                minLength: 0,
                source: function( request, response ) {
                    // delegate back to autocomplete, but extract the last term
                    response( $.ui.autocomplete.filter(
                    learn_objectives, extractLast( request.term ) ) );
                },

                // source:projects,
                focus: function() {
                    // prevent value inserted on focus
                    return false;
                },
                select: function( event, ui ) {
                    var terms = split( this.value );
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push( ui.item.value );
                    // add placeholder to get the comma-and-space at the end
                    terms.push( "" );
                    this.value = terms.join( ", " );

                        var selected_label = ui.item.label;
                        var selected_value = ui.item.value;

                        var labels = $('#labels').val();
                        var values = $('#values').val();

                        if(labels == "")
                        {
                            $('#labels').val(selected_label);
                            $('#values').val(selected_value);
                        }
                        else
                        {
                            $('#labels').val(labels+","+selected_label);
                            $('#values').val(values+","+selected_value);
                        }

                    return false;
                }
            });
            $( ".objective-keyword" ).autocomplete("widget").addClass("fixedHeight");
            $( ".objective-keyword-code" )
             // don't navigate away from the field on tab when selecting an item
            .bind( "keydown", function( event ) {
                if ( event.keyCode === $.ui.keyCode.TAB &&
                $( this ).autocomplete( "instance" ).menu.active ) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                minLength: 0,
                source: function( request, response ) {
                // delegate back to autocomplete, but extract the last term
                response( $.ui.autocomplete.filter(
                learn_objective_codes, extractLast( request.term ) ) );
                },

                //    source:projects,
                focus: function() {
                // prevent value inserted on focus
                return false;
                },
                select: function( event, ui ) {
                var terms = split( this.value );
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push( ui.item.value );
                // add placeholder to get the comma-and-space at the end
                terms.push( "" );
                this.value = terms.join( ", " );

                    var selected_label = ui.item.label;
                    var selected_value = ui.item.value;

                    var labels = $('#labels').val();
                    var values = $('#values').val();

                    if(labels == "")
                    {
                        $('#labels').val(selected_label);
                        $('#values').val(selected_value);
                    }
                    else
                    {
                        $('#labels').val(labels+","+selected_label);
                        $('#values').val(values+","+selected_value);
                    }

                return false;
                }
            });
            $( ".objective-keyword-code" ).autocomplete("widget").addClass("fixedHeight");
            $( ".resource-tags" )
             // don't navigate away from the field on tab when selecting an item
            .bind( "keydown", function( event ) {
                if ( event.keyCode === $.ui.keyCode.TAB &&
                $( this ).autocomplete( "instance" ).menu.active ) {
                event.preventDefault();
                }
            })
            .autocomplete({
                minLength: 0,
                source: function( request, response ) {
                // delegate back to autocomplete, but extract the last term
                response( $.ui.autocomplete.filter(
                user_tags, extractLast( request.term ) ) );
                },

                //    source:projects,
                focus: function() {
                // prevent value inserted on focus
                return false;
                },
                select: function( event, ui ) {
                var terms = split( this.value );
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push( ui.item.value );
                // add placeholder to get the comma-and-space at the end
                terms.push( "" );
                this.value = terms.join( ", " );

                    var selected_label = ui.item.label;
                    var selected_value = ui.item.value;

                    var labels = $('#labels').val();
                    var values = $('#values').val();

                    if(labels == "")
                    {
                        $('#labels').val(selected_label);
                        $('#values').val(selected_value);
                    }
                    else
                    {
                        $('#labels').val(labels+","+selected_label);
                        $('#values').val(values+","+selected_value);
                    }

                return false;
                }
            });
            $( ".resource-tags" ).autocomplete("widget").addClass("fixedHeight");
            var user_verified  = '{{user.verified}}';
            if (user_verified == 'False'){
                $(".main_search").prop("disabled", true);
                $("#apply-filter").prop("disabled", true);

            }else{
                $(".main_search").removeAttr('disabled');
                $("#apply-filter").removeAttr('disabled');
            }
        });
    </script>
    {% if invited_user %}
        <script>
            $('#invite_user_existing').modal('show');
        </script>

    {% endif %}
    {% if  request.user.is_authenticated %}
        <script>
            $(document).on('hidden.bs.modal', '#invite_user_existing', function (e) {
                window.location.href = '/home/'
            });
        </script>
    {% endif %}
    {% block extra_js %}
    {% endblock %}
    </body>
</html>