{% extends "base.html" %}

{% block titles %}Copyright{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="content_top_margin">
{% endif %}
    <div class="container min_hgt_cls">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12">

                <div id="login-overlay" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel" style="display:inline-block;">Copyright
                                Policy</h4>


                        </div>
                        <div style="padding: 20px;">
                            {{ text|safe }}
                        </div>
                        <!---modal-body--->

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}
<!-- End Templates -->
