{% extends "base.html" %}
{%load staticfiles%}
{% block titles %}How It Works{% endblock %}
{% block extra_css%}
<style >
dropdown-menu li{
    padding: 10px;
}

.dropdown-menu>li>a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #ffffff !important;
    font-size: large;
    text-transform: uppercase;
}

.dropdown-menu>li>a:hover{
    background: rgba(255,255,255,0.1) !important;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 1 !important;
}

.cover{
    position: relative;
    text-align: center;
}

.carousel-caption>h1{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 8rem;
    margin-top: -40% !important;
}

.cover-image{
    width: 100%;
}

.headings{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 6rem;
    text-align: center;
}

.headings-light{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 6rem;
    text-align: center;
    color: #ffffff;
}

.paragraphs{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.5rem;
}

.paragraphs-light{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.5rem;
    color: #ffffff;
}

.button-container{
    width: 100%;
    display: block;
    text-align: center;
}

.button-container>button{
    border-radius: 3px;
    background-color: white;
    color: #8667a3;
    border: 3px solid #8667a3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.button-container>button:hover{
    background-color: #8667a3;
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.my-container{
    background-color: #8667a3;
    background-image: url("{% static 'assets/img/how_it_works/goes-with-you.png'%}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: 100%;
    -moz-background-size: cover;
    background-size: 100%;
}

.footer-heading{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #8667a3;
}

.footer-links{
    list-style: none;
    padding-left: 0px;
}

.footer-links li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-links a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: #a8a8a8;
    cursor: pointer;
    margin-top: 50px !important;
}

.footer-links a:hover{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.copyright p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #a8a8a8;
    float: left;
}

.copyright a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #a8a8a8;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.copyright a:hover{
    opacity: 0.7;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {

    .custom-nav{
        overflow: visible !important;
        border: none !important;
        height: auto !important;
        max-height: 1000px !important;
        margin-left: 20px;
        margin-right: 20px;
    }

    .navbar-btn>a{
        border: none;
    }

    .navbar-nav>li{
        /*border-bottom: 1px solid #efefef;*/
    }
}
</style>
{%endblock%}
{% block content %}
{% if user.is_authenticated %}
<div class="content_top_margin">
{% endif %}
    <div class="container-fluid min_hgt_cls">

         <div class="row">
                <div class="cover">
                    <img class="img-responsive" alt="How It Works" src="{% static 'assets/img/how_it_works/header.jpg' %}">
                    <div class="carousel-caption"><h1>{%if obj and obj.intro_title %} {{obj.intro_title}} {%else%}How It Works{%endif%}</h1></div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="container"><br><br><br>
                <div class="row">
                    <h1 class="headings">{%if obj and obj.how_it_works_title%} {{obj.how_it_works_title}}{%else%}How Ednora Works{%endif%}</h1><br><br>
                    <p class="paragraphs">
                        {%if obj and obj.how_it_works_text%}
                        {{obj.how_it_works_text}}
                        {%else%}
                        Ednora connects educators with their peers for content centered collaborative learning. We provide an easy-to-use interface to share resources and ideas with and learn from peers. Here is how it works.
                        {%endif%}
                    </p><br>
                  
                </div>
            </div><br><br><br>
        </div>

       <div class="container-fluid" style="background-color:#1E88E5">
            <div class="container"><br><br><br>
                <h2 class="headings-light" style="font-size: 5rem;">{%if obj%}{{obj.organise_resource_title}}{%else%}SAVE, ORGANIZE AND SHARE RESOURCES{%endif%}</h2><br><br>
                <div class="col-md-12 col-lg-6">
                    <img class="img-responsive" alt="" src="{%if obj and obj.organise_resource_image%} {{obj.organise_resource_image.url}}{%else%}{% static 'assets/img/how_it_works/newsfeed.png'%}{%endif%}">
                </div>
                <div class="col-md-12 col-lg-6">
                    <p class="paragraphs-light">
                        {% if obj and obj.organise_resource_text%}
                        {{obj.organise_resource_text|safe}}
                        {%else%}
                        Save your teaching resources on Ednora in organized folders, tagged with learning objectives, subjects, grades, levels and anything else that will ease lookup later. Once saved on Ednora, you have access to all your resources from anywhere, and so do your peers!

Save any and all resources ranging from lesson plans, rubrics and task cards to assessments and worksheets to Internet resources, tools and apps that you find useful for your class. If you find them useful, you peers will find them useful too!

Save peers’ resources that you discover on Ednora in folders within Ednora, and access all resources neatly organized and tagged with ease at any time. No more hard-to-look-up resources lying around in emails, bookmarks, flash drives or shared drives!
                   {%endif%}
                    </p>
                </div>
            </div><br><br><br>
        </div>

        <div class="container-fluid">
            <div class="container"><br><br><br>
                <h1 class="headings" style="font-size:5rem"> {% if obj and obj.discover_title%}{{obj.discover_title}}{%else%}Discover{%endif%}</h1><br><br>
                <div class="col-md-12 col-lg-6">
                    <p class="paragraphs">
                        {% if obj and obj.discover_text%}
                        {{obj.discover_text|safe}}
                        {%else%}
Ednora connects you to content that matter the most to you. We find the most relevant, curriculum-aligned resources saved by Ednora members that match your teaching interests and serve them to you automatically. Of course, you can search and filter to look for specific resources. Discover what works for your peers nationwide and incorporate in your classroom in clicks.
                        {%endif%}
                    </p>
                </div>
                <div class="col-md-12 col-lg-6">
                    <img class="img-responsive" alt="" src=" {% if obj and obj.discover_image%} {{obj.discover_image.url}}{%else%}{% static 'assets/img/how_it_works/newsfeed.png'%}{%endif%}">
                </div>
            </div><br><br><br>
        </div>

      <div class="container-fluid" style="background-color:#CDDC39;">
            <div class="container"><br><br><br>
                <h1 class="headings-light">{% if obj and obj.discuss_title%}{{obj.discuss_title}}{%else%}DISCUSS AND SHARE EXPERIENCES{%endif%}</h1><br><br>
                <div class="col-md-12 col-lg-6">
                    <p class="paragraphs-light">
                        {%if obj and obj.discuss_text%}
                        {{obj.discuss_text|safe}}
                        {%else%}
Engage in discussions with like minded peers centered around content, learning objectives, what works and what’s novel. A unique opportunity to learn from experiences of your peers from across the country. The takeway - teaching ideas that will further enhance your students’ learnings!
                      {%endif%}
                    </p>
                </div>
                <div class="col-md-12 col-lg-6">
                    <img class="img-responsive" alt="" src="{% if obj and obj.discuss_image%}{{obj.discuss_image.url}}{%else%}{% static 'assets/img/how_it_works/newsfeed.png'%}{%endif%}">
                </div>
            </div><br><br><br>
        </div>


        <div class="container-fluid" style="margin-bottom:-44px; min-height:370px">
            <div class="container"><br><br><br>
                <div class="col-lg-8 col-md-12 col-lg-offset-2">
                    <h1 class="headings" style="font-size:4rem">{% if obj and obj.footer_title%}{{obj.footer_title}}{%else%}An easy-to-use intuitive interface to share and learn from your peers!{%endif%}</h1><br><br>
                    <p class="paragraphs" style="text-align: center;">
                        {% if obj and obj.footer_text%}
                        {{obj.footer_text|safe}}
                        {%else%}
                        Make Ednora your platform by using it and contributing the teaching resources that work for your students!
                        {%endif%}
                    </p>
                </div>
            </div>
        </div>


    </div>

</div>
{% endblock %}
<!-- End Templates -->
