

<div id ="fetched_image" data-placeholder='Thumbnail Preview'>
    <input id="api-status" hidden value={{status}}>
    {% if image_urls %}
        {% for image_url in image_urls %}
        <div class="listrap-toggle thumbnail_preview">
            <input type="radio" class="radio_item" name = "image" id = "image_{{forloop.counter}}" value="{{ image_url }}" checked hidden>
            <img id ="fetched_image{{ forloop.counter }}" src="{{image_url}}" />
        </div>
        {% endfor %}
    {% endif %}
</div>
