{% load get_base_contexts %}
{% get_user_folders user user.is_authenticated as my_folders %}
{% load get_user_full_name %}
        <input type="hidden" name="user" value="{{user.id}}" id="user_id">
        <input type="hidden" name="token" value="{{ csrf_token }}" id="user_id">
        <input type="hidden" id="in_home_page" {% if in_resource_page %}value="1"{% else %} value="0" {% endif %}>
<div class="web_header navbar-fixed-top">

    <div class="page_head" id="primary_header">
        <div class="container">
            <header class="page-header">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="logo_sec">
                            <a href="/home/"><img src="/static/assets/img/logo-dark3.png" alt="Ednora" height="55px"></a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">


                        <form method="get" action="/search/" id="home_form" autocomplete="off">

                            <div class="input-group" id="adv-search">
                                {%  if user.verified %}
                                <input id="query-search" name="q" value="{{ request.GET.q }}" class="form-control top_search_bar main_search" placeholder="Search resources"/>
                                {% else %}
                                <input class="form-control top_search_bar main_search" placeholder="Search resources"/>
                                {% endif %}
                                <div class="input-group-btn">
                                    <div class="btn-group" role="group">


                                        <button class="btn search_button" {% if user.verified %}type="submit"{% else %} type="button"{% endif %}>
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>


                                        <div class="dropdown dropdown-lg">

                                            <button type="button" id="filter-pop"
                                                    class="btn btn-default dropdown-toggle filter_toggle"
                                                    {% if user.verified %}  data-toggle="modal" data-target="#filter-popup" {% endif %} aria-expanded="false">
                                            <i class="fa fa-bars" aria-hidden="true"></i><span class="caret"></span>
                                            </button>

                                        </div>

                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <ul class="menu_topbar">
                            <li style="position: relative;" id="invt">
                                <a class="invite_frds dropdown-toggle" title="Invite colleagues" {% if user.verified %}data-toggle="dropdown" {% endif %}
                                   data-toggle="tooltip" title="Invite">

                                    <i class="fa fa-user-plus" aria-hidden="false"></i> </a>


                                <ul class="dropdown-menu social_menu dropdown-menu-right invitedropdown_align"
                                    style="right: -1em;">

                                    <li>
                                        <a data-url="" class="  btn-facebook " data-placement="left" id="fb"
                                           onclick="facebook();">
                                            <i class="fa fa-facebook"></i>&nbsp;<span>Facebook</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="  btn-google" data-placement="left" id="goog1">
                                            <i class="fa fa-google"></i>&nbsp;<span>Google</span>
                                        </a>
                                    </li>


                                    <li>
                                        <a href="#" class="  btn-windows outlook-invite" data-placement="left" id="win1">
                                            <i class="fa fa-windows"></i>&nbsp;<span>Outlook</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a class=" btn-mail" data-placement="left" id="emailinvite">
                                            <i class="fa fa-envelope"></i>&nbsp;<span>Email</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="user_field">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% if  user.get_user_dp %}
                                        <img class="special-img" src="{{ user.get_user_dp }}" alt="" id="user_dp">
                                    {% else %}
                                        <img class="special-img" src="/static/assets/img/Letters/S.png" alt="Pick"
                                         id="user_dp">
                                    {% endif %}
                                </a>
                                <ul class="user_dropdown dropdown-menu  ">
                                    <li class="dropdown_grey">
                                        <div class="user_name_title">
                                            <i>{% get_user_full_name user %}</i>
                                        </div>
                                    </li>
                                    {% if user.verified %}

                                    <li class="dropdown_light_grey">
                                        <a style="color: #001615;" href="{% url 'profile' %}">Profile</a>
                                    </li>
                                    {% endif %}

                                    <li class="dropdown_light_grey">
                                        <a style="color: #001615;" href="{% url 'logout' %}">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <nav id="navbar-main" class="navbar navbar-inverse navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left">
                <li><a href="#" id="uplaod_pin_id"
                       class="up-reslnk" {% if user.verified %} data-toggle="modal" data-target="#upload-edit-modal"{% endif %}>Upload Resource</a>
                </li>
                <li id="loc"><a href="javascript:void(0)" id="dLabel1" data-target="#" data-toggle="dropdown" {% if '/folder/' in request.path %}class="selected"{% endif %}>My Folders<span
                        class="caret"></span></a>
                    {% if user.verified %}
                    <ul class="dropdown-menu menu_link_dropdown" aria-labelledby="dLabel">
                        <li>
                            <div class="inner_menu" id="folder">
                                <ul>
                                    {%  for folder in my_folders %}
                                    <li><a href="{% url 'folder_description'  folder.slug  %}">{{ folder.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li style="border-top: 1px solid #CCCCCC"><a id="create-folder-header" data-toggle="modal" data-target="#createfolder" class="icon-btn add_folder" href="#"><span
                                class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Create
                            Folder</a></li>
                    </ul>
                    {% endif %}
                </li>
                <li>
                {% if user.verified %}
                    <a href="{% url 'my_like' %}" class="{% if '/my-likes/' in request.path %}selected {% endif %} my-like" >My Likes</a>
                {% else %}
                    <a href="javascript:void(0)">My Likes</a>
                {% endif %}
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
</div>
<!----------mobile header--------------->
<div class="mobile_header">
    <div id="header">

        <div class="page_head" id="primary_header">
            <div class="container">
                <header class="page-header">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-2">
                            <div class="logo_sec">
                                <a href="/home/"> <img src="/static/assets/img/logo-dark3.png" alt="Pick" height="55px"></a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-8">

                            <form method="get" action="/search/" id="form_header">
                                <div class="input-group" id="adv-search">
                                    {% if user.verified %}
                                        <input name="q" value="{{ request.GET.q }}" class="form-control top_search_bar main_search" placeholder="Search resources"/>
                                    {% else %}
                                        <input class="form-control top_search_bar main_search" placeholder="Search resources"/>
                                    {% endif %}

                                    <div class="input-group-btn" style="margin-top: auto;">
                                        <div class="btn-group" role="group">
                                            <div class="dropdown dropdown-lg">
                                                <button class="btn search_button" {% if user.verified %}type="submit"{% else %} type="button"{% endif %}>
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                </button>
                                                <button type="button" class="btn btn-default dropdown-toggle filter_toggle"
                                                        {% if user.verified %} data-toggle="modal" data-target="#filter-popup" {% endif %}
                                                        aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i><span
                                                        class="caret"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>


                    <div class="col-lg-3 col-md-3 col-sm-2">
                        <ul class="menu_topbar ">
                            <li style="position: relative;" id="invt">
                                <a class=" invite_frds dropdown-toggle" title="Invite colleagues" {% if user.verified %}data-toggle="dropdown" {% endif %}
                                   data-toggle="tooltip" title="Invite">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right  social_menu " style="right: -1em;"
                                    role="menu">

                                    <li>
                                        <a data-original-title="Facebook" rel="tooltip" data-url=""
                                           class="  btn-facebook hide_in_mobile" data-placement="left" id="fb" onclick="facebook();">
                                            <i class="fa fa-facebook"></i>&nbsp;<span>Facebook</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Google" rel="tooltip" href="#" class="  btn-google"
                                           data-placement="left" id="goog">
                                            <i class="fa fa-google"></i>&nbsp;<span>Google</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a data-original-title="Outlook" rel="tooltip" href="#" class="  btn-windows outlook-invite"
                                           data-placement="left" id="win">
                                            <i class="fa fa-windows"></i>&nbsp;<span>Outlook</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a data-original-title="Email" rel="tooltip" class=" btn-mail"
                                           data-placement="left" id="emailinvite1">
                                            <i class="fa fa-envelope"></i>&nbsp;<span>Email</span>
                                        </a>
                                    </li>

                                </ul>

                            </li>
                            <li class="user_field">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% if  user.get_user_dp %}
                                        <img class="special-img" src="{{ user.get_user_dp }}" alt="" id="user_dp">
                                    {% else %}
                                        <img class="special-img" src="/static/assets/img/Letters/S.png" alt="Pick"
                                         id="user_dp">
                                    {% endif %}
                                </a>
                                <ul class="dropdown-menu user_dropdown profile_drop">
                                    <li class="dropdown_grey">
                                        <div class="user_name_title">
                                            <i> {% get_user_full_name user %}</i>

                                            <p>{{ user.state }}</p>
                                        </div>
                                    </li>
                                    {% if user.verified %}
                                    <li class="dropdown_light_grey">
                                        <a style="color: #001615;" href="{% url 'profile' %}">Profile</a>
                                    </li>
                                    {% endif %}

                                    <li class="dropdown_light_grey">
                                        <a style="color: #001615;" href="{% url 'logout' %}">Logout</a>
                                    </li>
                                </ul>

                            </li>

                        </ul>
                    </div>
                </header>
            </div>

        </div>
    </div>


</div>
<div id="header_stick">
    <nav id="navbar-main" class="navbar navbar-inverse navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-2">

                <ul class="nav navbar-nav navbar-left">
                     <li><a href="#" id="uplaod_pin_id_1" class="up-reslnk" {% if user.verified %} data-toggle="modal" data-target="#upload-edit-modal"{% endif %}>Upload Resource</a>
                     </li>
                     <li id="loc1"><a href="#" id="dLabel" data-target="#" data-toggle="dropdown" {% if '/folder/' in request.path %}class="selected"{% endif %}>My Folders<span class="caret"></span></a>
                          {% if user.verified %}
                          <ul class="dropdown-menu menu_link_dropdown" aria-labelledby="dLabel" >
                              <li>
                                  <div class="inner_menu" id="folder1">
                                      <ul>
                                        {%  for folder in my_folders %}
                                        <li><a href="{% url 'folder_description'  folder.slug  %}">{{ folder.name }}</a>
                                        </li>
                                        {% endfor %}
                                      </ul>
                                  </div>
                              </li>
                              <li style="border-top: 1px solid #CCCCCC"><a href="#" class="icon-btn add_folder" id="create-folder-mobile" data-toggle="modal" data-target="#createfolder" ><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Create Folder</a></li>
                          </ul>
                         {% endif %}
                     </li>
                     <li> <a {% if user.verified %} href="{% url "my_like" %}" {% endif %} class="{% if '/my-likes/' in request.path %}selected"{% endif %}"> My likes</a>
                     </li>
                     <li style="display: none"><a {% if user.verified %} data-toggle="modal" data-target="#feedback_popup" href="#" {% endif %}>Feedback</a>
                     </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
</div>