{% spaceless %}
{% if meta_url %}
<meta property="og:url" content="{{ meta_url }}" />
{% endif %}
{% if meta_title %}
<meta property="og:title" content="{{ meta_title }}" />
{% endif %}
{% if meta_description %}
<meta property="og:description" content="{{ meta_description }}" />
<meta name="description" content="{{ meta_description }}">
{% endif %}
{% if meta_image %}
<meta property="og:image" content="{{ meta_image }}" />
{% endif %}
{% endspaceless %}