{% extends "base.html" %}
{% block titles %}Profile{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="content_top_margin">

    <div class="folder_view_title">
        <h3>Profile</h3>
    </div>

</div>


<div class="container min_hgt_cls">


<div class="row">

</div>
{% if messages %}{% for messsage in messages %}
<div id="datamessage" style="color:green;font-size: 13px">{{ messsage }}</div>
{% endfor %}{% endif %}
{% if form.errors %}
    <div id="datamessage" style="color:red;font-size: 13px">Changes could not be saved. Please fix the errors below.</div>
{% endif %}
<div class="col-md-8 col-md-offset-2">
<form class="profile_form form-horizontal" action="{% url 'profile' %}" method="post" id="profileFieldHeight">
<div class="account_information_box">
    <h3 style="font-size: 20px;">Account Information</h3>

    <div class="form-group">
        <label class="col-sm-5 control-label">Email</label>

        <div class="col-sm-5">
            <input type="email" class="form-control" value="{{ email }}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Password</label>

        <div class="col-sm-5">
            <button id="reset_button" type="button" data-toggle="modal" data-target="#pwdModal" value="Reset Password" class="btn btn-success">Change Password
            </button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-5 control-label">First Name</label>

        <div class="col-sm-5">
            {{ form.first_name }}
            {{ form.first_name.errors }}

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-5 control-label">Last Name</label>

        <div class="col-sm-5">
            {{ form.last_name }}
            {{ form.last_name.errors }}

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-5 control-label">Profile Picture</label>

        <div class="col-sm-5">


            <div class="fileinput fileinput-new" data-provides="fileinput" id="fileinput">
                <span class="btn btn-success btn-file">

                    <span class="change-pro-pic">{% if user.get_user_dp_status %}Change Picture{% else %}Upload Picture
                    {% endif %}</span>

                    <input data-toggle="tooltip" title="Maximum size 2mb "
                           type="file" id="myFile1" name="filename" accept="image/*" value="" style="cursor:hand;">
                </span>

                <p class="profile_hint">Image size must be less than 2MB</p>
                <span><a data-target="#delete_dp_confirm" data-toggle="modal" id="delete_user_dp" {% if not user.get_user_dp_status%} style="display: none" {% endif %}>
                    Delete Picture</a></span>
                <span id="image_validation" hidden
                      style="font-size:13px;color:red;"></span>
            </div>

            <div class="profileImageWrapper" id="id_to_change_user_dp">
                <img src="{{ user.get_user_dp }}"
                     class="profileImage" data-load-state="pending" id="user_dp_image" alt="profile-pic">
            </div>


        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-5 control-label">Account Status</label>

        <div class="col-sm-5">
            <a id="deatcivate_button" type="button" value="Deativate button" class="btn btn-success" data-toggle="modal"
               data-target="#deactivate_user">Deactivate Account</a>
        </div>
    </div>


</div>

<div class="account_information_box">
    <h3 style="font-size: 20px">My Profile</h3>

    <div class="form-group">
        <label class="col-sm-5 control-label">Country</label>

        <div class="col-sm-5">
            {{ form.state }}
            {{ form.state.errors }}

        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-5 control-label">State</label>

        <div class="col-sm-5">

            {{ form.district }}
            {{ form.district.errors }}

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-5 control-label">City </label>

        <div class="col-sm-5">

            {{ form.school }}
            {{ form.school.errors }}

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-5 control-label">Grades</label>

        <div class="col-sm-5">
            {{ form.grade }}
            {{ form.grade.errors }}

        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-5 control-label">Topics</label>

        <div class="col-sm-5">
            {{ form.subject }}
            {{ form.subject.errors }}

        </div>
    </div>


</div>


<div class="account_information_box">
    <h3 style="font-size: 20px">My preferences</h3>

    <div class="form-group">
        <label class="col-sm-9 control-label">I want to receive resource recommendations by email</label>

        <div class="col-sm-3">
            <label class="switch" style="margin:0px;">
                {{form.email_preference}}
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
            </label>
        </div>
    </div>
    <!--<h3 style="font-size: 20px">Sharing preferences</h3>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-9 control-label">I want to share my resources districtwide</label>-->

        <!--<div class="col-sm-3">-->
            <!--<label class="switch" style="margin:0px;">-->
                <!--<input checked="checked" class="switch-input" disabled="true" id="id_district_preference" name="district_preference" type="checkbox">-->
                <!--<span class="switch-label" data-on="On" data-off="Off"></span>-->
                <!--<span class="switch-handle"></span>-->
            <!--</label>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-9 control-label">I want to share my resources statewide</label>-->

        <!--<div class="col-sm-3">-->
            <!--<label class="switch" style="margin:0px;">-->
                <!--{{ form.state_preference }}-->
                <!--<span class="switch-label" data-on="On" data-off="Off"></span>-->
                <!--<span class="switch-handle"></span>-->
            <!--</label>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-9 control-label">I want to share my resources nationwide</label>-->

        <!--<div class="col-sm-3">-->
            <!--<label class="switch" style="margin:0px;">-->
                <!--{{ form.nation_preference }}-->
                <!--<span class="switch-label" data-on="On" data-off="Off"></span>-->
                <!--<span class="switch-handle"></span>-->
            <!--</label>-->
        <!--</div>-->
    <!--</div>-->


</div>
<div class="col-md-12 center-block">

    <span id="showmesssage" style="color:green"></span><br>
    <input type="submit" id="saveProfile" value="Save Changes" class="btn btn-success pull-right">
    <a href="javascript:void(0)" class="btn btn-default pull-right " style="margin-right: 12px;" id="form_reset">Cancel </a>

</div>


</form>
</div>

</div>

</div>
<!--modal reset password-->
{% include 'modals/change-password.html' %}


<!-- Modal for deactivate user -->
{% include 'modals/deactivate-user.html' %}


<!-- Deactivate user success -->
{% include 'modals/deactivate-success.html' %}

<!-- Delete picture -->
{% include 'modals/delete-picture.html' %}

{% endblock %}
 <!-- End Templates -->

<!-- profile page scripts -->

{% block extra_js %}

    <script src="{% static 'profile.js' %}"></script>
    <script src="{% static 'profile_image_change.js' %}"></script>

{% endblock %}

<!-- end profile page scripts -->
