{% for content in contents %}
{% if content.image %}
<div class=" {% if forloop.counter == 1 %} active {% endif %}">
    <div class="row-fluid ">
        <table class="related-resources" width="100%">
            <tbody>
            <tr>
                <td><a  href="javascript:void(0);" data-href="{{ content.slug }}" class="related-resouce-populate">
                    <div class="resource-tile"><h5>{% for subject in content.subject.all|slice:":2" %} {{ subject }}{% if not forloop.last %}, {% endif %} {% if forloop.last and content.subject.all.count > 2 %}...{% endif %} {% endfor %}</h5><h4>{{ content.title| truncatechars:23 }}</h4>
                        <h6>{{ content.text| truncatechars:28 }}</h6><img src="{{ content.image.url }}"
                                                                    class="related-resource-figure">
                        <!--<h6> Resource Type:{{ content.content_type.name }}</h6>--></div>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endfor %}