{% extends "admin/base_site.html" %}


{% block content %}


  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href=" https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css ">

  <script src="https://code.jquery.com/jquery-1.12.0.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src=" https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js " ></script>
    <script src=" https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js "></script>

  <script>
  $( function() {
    $( "#date1" ).datepicker({
  dateFormat: "yy-mm-dd"
});
    $( "#date2" ).datepicker({
  dateFormat: "yy-mm-dd"
});
$('#data').DataTable();
  } );
  </script>
</head>
<body>
<div class="container">
 <div class="row">
    <div class="col-md-6 col-sm-6">
<form class="form-horizontal" method="get" action=".">
    <div class="form-group">
      <label class="control-label col-sm-2" for="date1">Enter Start-Date:</label>
      <div class="col-sm-10">
        <input type="date" class="form-control"  placeholder="Enter Date*" id="date1" required="" name="date1">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Enter End-Date:</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="date2"  name='date2' placeholder="Enter Date*">
      </div>
    </div>
    <span style="color: green">{{ validation_message }}</span>
{% csrf_token %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>

</div>
<div class="row">
 <div class="col-md-10">
    <table class="table table-bordered" id="data">
    <thead>
      <tr>
        <th>Category</th>
        <th>Count</th>
      </tr>
    </thead>
    <tr>
        <td>Number of users registered</td>
        <td>{{ number_of_users_registered }}</td>
      </tr>


        <tr>
        <td>Number of active users</td>
        <td>{{ number_of_active_users }}</td>
      </tr>

    <tr>
        <td>Number of search</td>
        <td>{{ number_of_search }}</td>
      </tr>

      <tr>
        <td> Total number of invites send</td>
        <td>{{ number_of_invite_send }}</td>
      </tr>

      <tr>
        <td> Total number of invites accepted</td>
        <td>{{ number_of_invites_accepted }}</td>
      </tr>

       <tr>
        <td>Number of invites send via Email </td>
        <td>{{ number_of_invites_send_via_email }}</td>
      </tr>

      <tr>
        <td>Number of invites send  via Facebook </td>
        <td>{{ number_of_invites_send_via_facebook }}</td>
      </tr>

    <tr>
        <td>Number of invites send  via Gmail </td>
        <td>{{ number_of_invites_send_via_gmail }}</td>
      </tr>


    <tr>
        <td>Number of invites send  via Outlook </td>
        <td>{{ number_of_invites_send_via_outlook }}</td>
      </tr>

      <tr>
        <td>Number of invites accepted via Email </td>
        <td>{{ number_of_invites_accepted_via_email }}</td>
      </tr>

      <tr>
        <td>Number of invites accepted via Facebook </td>
        <td>{{ number_of_invites_accepted_via_facebook }}</td>
      </tr>

    <tr>
        <td>Number of invites accepted via Gmail </td>
        <td>{{ number_of_invites_accepted_via_gmail }}</td>
      </tr>

    <tr>
        <td>Number of invites accepted via Outlook </td>
        <td>{{ number_of_invites_accepted_via_outlook }}</td>
      </tr>


      <tr>
        <td>Total number of shares send</td>
        <td>{{ number_of_share_send }}</td>
      </tr>

      <tr>
        <td>Total number of shares accepted</td>
        <td>{{ number_of_share_accepted }}</td>
      </tr>

      <tr>
        <td>Number of shares send via Facebook</td>
        <td>{{ number_share_send_using_facebook }}</td>
      </tr>

    <tr>
        <td>Number of shares send via Gmail</td>
        <td>{{ number_share_send_using_google }}</td>
      </tr>

    <tr>
        <td>Number of shares send via Twitter</td>
        <td>{{ number_share_send_using_twitter }}</td>
      </tr>
    <tr>
        <td>Number of shares send via Email</td>
        <td>{{ number_of_share_using_email }}</td>
      </tr>

       <tr>
        <td>Number of shares send via Facebook Messenger</td>
        <td>{{ number_of_share_using_facebook_messanger }}</td>
      </tr>

      <tr>
        <td>Number of shares  accepted using Facebook Messenger</td>
        <td>{{ number_of_share_accepted_facebook_messenger }}</td>
      </tr>

    <tr>
        <td>Number of shares accepted via Facebook </td>
        <td>{{ number_of_share_accepted_facebook }}</td>
      </tr>

      <tr>
        <td>Number of shares accepted via Google </td>
        <td>{{ number_of_share_accepted_google }}</td>
      </tr>

      <tr>
        <td>Number of shares accepted via Twitter </td>
        <td>{{ number_of_share_accepted_twitter }}</td>
      </tr>

      <tr>
        <td>Number of shares accepted Email </td>
        <td>{{ number_of_share_accepted_email }}</td>
      </tr>

    <tr>
        <td>Number of uploads using website</td>
        <td>{{ number_of_pin_uploads_using_popup }}</td>
      </tr>

       <tr>
        <td>Number of uploads using Browser Button</td>
        <td>{{ number_of_pin_uploads_using_button }}</td>
      </tr>
      {% for i,j in fltr.items  %}
    <tr class="info">
        <td> filter_{{ i}}</td>
        <td>{{ j }}</td>
      </tr>

 {% endfor %}
  </table>
</div>
</div>


{% endblock %}