

{% extends "base.html" %}

{% block titles %}Terms of Service{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="container content_top_margin">
{% else %}
    <div class="container">
{% endif %}
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div id="login-overlay" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" style="display:inline-block;">Terms Of Service</h4>
                    </div>
                    <div style="padding: 20px;">
                        {{ text|safe }}
                    </div>
                    <!---modal-body--->

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
