<div id="page_{{ page }}" class="comment-page">
{% load tz_detect %}
{% tz_detect %}
{% for comment in comments %}
        <div id="main_comments"></div>
        <ul class="chat" xmlns="http://www.w3.org/1999/html" data-comment="{{ comment.id }}">
            <li class="left clearfix"><span class="chat-img pull-left">
                                <img src="{{ comment.user.get_user_dp }}" alt="{{ comment.user }}" class="img-circle"
                                     width="50">
                            </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">{{ comment.user }}</strong>
                        <small class="pull-right text-muted">
                            <span class="glyphicon glyphicon-time"></span>{{ comment.comment_date }}</small>
                        <span id="{{ comment.id }}" hidden></span>
                    </div>
                    <p>
                        {{ comment.comment_text|safe }}
                    </p>
                    <a><label class="message-actions" for="comment_reply_text_id" id="reply_comment_id"
                              onclick="reply_to_comment({{ comment.id }})">Reply</label></a>
                    <textarea class="comment-field reply-field" id="comment_reply_text_id{{ comment.id }}"
                              hidden="hidden"></textarea>
                    <button type="submit" class="btn btn-success reply-btn" id="comment_reply_button_id{{ comment.id }}"
                            onclick="reply_back({{ comment.id }})" style="display: none;">POST
                    </button>
                    </br>

                    {% for each in comment.comments.all %}
                        <div class="reply-comment">
                            <div class="row">
                                <div class="col-md-1"><img src="{{ each.user.get_user_dp }}" alt="{{ each.user }}"
                                                           class="img-circle"
                                                           width="30"></div>
                                <div class="col-md-10">
                                    <h5><strong class="primary-font">{{ each.user }}</strong> <span><small class="pull-right text-muted">
                                        {{ each.comment_date }}</small></span></h5>
                                    <p>{{ each.comment_text|safe }}</p>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </li>
        </ul>

{% endfor %}
</div>
