{% load tz_detect %}
{% tz_detect %}
<div class="reply-comment">
    <div class="row">
        <div class="col-md-1"><img src="{{ comment.user.get_user_dp }}" alt="{{ comment.user }}"
                                   class="img-circle"
                                   width="30"></div>
        <div class="col-md-10">
            <h5><strong class="primary-font">{{ comment.user }}</strong><span><small class="pull-right text-muted">
                                        {{ comment.comment_date }}</small></span></h5>
            <p>{{ comment.comment_text|safe }}</p>
        </div>
    </div>
</div>
