ul.errorlist,.nonfield {
  list-style-type: none;
   padding: 0px;
    color: red;
	margin-bottom:0px;
    font-size: 12px;
}

span.forgot_password_link a:hover{
    text-decoration: underline;
}

.footer_link a:hover{
    text-decoration: underline;
}
span.error{
    display: inline-block;
    color: red;
    padding-right: 24px;
    font-size: 12px;
}

ul.errorlist .nonfield{
    color: red;
    display: inline-block;
}

.custom-combobox {
    position: relative;
    display: inline-block;
    width:100%;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
	background-color:#fff;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}
.sub_text {
  padding-top: 13px !important;
  float: left !important;
  padding-bottom: 13px !important;
}

.custom-color{
    background-color: #ccc!important;
    color: #333!important;
    border-color: #ccc!important;
}
.custm{
    padding-top:22px;
}

.reset-pwd-error{
    color: red;font-size: 12px; text-align: left; margin-top: -12px; margin-left: 40px;
}
.reset-pwd-success{
    font-size: 21px;font-weight: 300;
}

.forgot_form{max-width: 256px;
  margin: 0 auto;}

a.verfy:hover{
    text-decoration: underline;
}

p.verify_output_id{
    color: red;
    padding-top: 8px;
}
.signup-form .form-control{height: 29px;}
.signup-form .ui-state-default{height: 28px;}

#pin_detail
{
cursor: pointer;
cursor: hand; }

#signup_form .popover.primary {
    border-color:#337ab7;
}
#signup_form .popover.primary>.arrow {
    border-top-color:#337ab7;
}
#signup_form .popover.primary>.popover-title {
    color:#fff;
    background-color:#337ab7;
    border-color:#337ab7;
}
#signup_form .popover.success {
    border-color:#d6e9c6;
}
#signup_form .popover.success>.arrow {
    border-top-color:#d6e9c6;
}
#signup_form .popover.success>.popover-title {
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}

#signup_form .popover.success>.popover-content {
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}
#signup_form .popover.info {
    border-color:#bce8f1;
}
#signup_form .popover.info>.arrow {
    border-top-color:#bce8f1;
}
#signup_form .popover.info>.popover-title {
    color:#31708f;
    background-color:#d9edf7;
    border-color:#bce8f1;
}
#signup_form .popover.warning {
    border-color:#D3BB5E;
}
#signup_form .popover.warning>.arrow {
    border-top-color:#bce8f1;
}
#signup_form .popover.warning>.popover-title {
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#D3BB5E;
}
#signup_form .popover.warning>.popover-content {
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#D3BB5E;
}
#signup_form .popover.danger {
    border-color:#ebccd1;
}
#signup_form .popover.danger>.arrow {
    border-top-color:#bce8f1;
}
#signup_form .popover.danger>.popover-title {
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1;
}
#signup_form .popover.danger>.popover-content {
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1;
}


.pass_word .popover{max-width: 200px;}
.like_image{
   height: 32px;
    width: 26px;
    margin-top: 1px;
}
.like_imagemylike{
       height: 30px;
    width: 25px;
    margin-top: 3px;

}
.modal:nth-of-type(even) {
    z-index: 1042 !important;
}
.modal-backdrop.in:nth-of-type(even) {
    z-index: 1041 !important;

}
#id_school[disabled]{
    background-color: white;
}
.form-control[disabled]{
    background-color: white;
}

/*.modal:nth-of-type(odd) {*/
    /*z-index: 1062 !important;*/
/*}*/
/*.modal-backdrop.in:nth-of-type(odd) {*/
    /*z-index: 1062 !important;*/
/*}*/
#user_liked_sattus{
    /* height: 29px;
    width: 26px;
   margin-top: 0px;
    margin-left: 1px;*/

}
#title_mo{
font-weight: normal;
    color: #000000;
    font-size: 18px;
}
#dtail_in_thumb
{
cursor: pointer;
cursor: hand;}
#to_add_style{
    font-size: 21px;
    color: #908E8E;
    float: left;
}
#thumn_detail
{
        border-top:0px
}

#id_movie_watching {
    height: 28px;
    background-color: white;
}

#id_reviews_influence {
    height: 28px;
    background-color: white;
}
#id_country {
    height: 28px;
    background-color: white;
}

#ewfwef .popover.primary {
    border-color:#337ab7;
}
#ewfwef .popover.primary>.arrow {
    border-top-color:#337ab7;
}
#ewfwef .popover.primary>.popover-title {
    color:#fff;
    background-color:#337ab7;
    border-color:#337ab7;
}
#ewfwef .popover.success {
    border-color:#d6e9c6;
}
#ewfwef .popover.success>.arrow {
    border-top-color:#d6e9c6;
}
#ewfwef .popover.success>.popover-title {
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}

#ewfwef .popover.success>.popover-content {
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}
#ewfwef .popover.info {
    border-color:#bce8f1;
}
#ewfwef .popover.info>.arrow {
    border-top-color:#bce8f1;
}
#ewfwef .popover.info>.popover-title {
    color:#31708f;
    background-color:#d9edf7;
    border-color:#bce8f1;
}
#ewfwef .popover.warning {
    border-color:#D3BB5E;
}
#ewfwef .popover.warning>.arrow {
    border-top-color:#bce8f1;
}
#ewfwef .popover.warning>.popover-title {
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#D3BB5E;
}
#ewfwef .popover.warning>.popover-content {
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#D3BB5E;
}
#ewfwef .popover.danger {
    border-color:#ebccd1;
}
#ewfwef .popover.danger>.arrow {
    border-top-color:#bce8f1;
}
#ewfwef .popover.danger>.popover-title {
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1;
}
#ewfwef .popover.danger>.popover-content {
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1;
}
.profileImageWrapper{
        position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    height: 75px;
    margin-right: 10px;
    vertical-align: middle;
    width: 75px;
}
.profileImage{ max-width: 100%;}

.profileImage.fixToHeight{ width: auto;    height: 75px; max-width: none;}
.profileImage.fixToWidth{ width: 75px;    height: auto;max-width: none;}

#user_dp.fixToHeight{ width: auto;    height: 30px; max-width: none;}
#user_dp.fixToWidth{ width: 30px;    height: auto;max-width: none;}

.user_field .dropdown-toggle{ display: inline-block; width: 30px; height: 30px; padding: 0; overflow: hidden; border-radius:100%; position: relative; top:10px;}
.modal {
    padding-top: 4%;
}

.user_name_title{color:#fff;text-align:center;}
.user_name_title p{line-height:17px;}
.user_name_title i{font-weight:bold;    font-style: normal;}
.logo_sec img{ max-width:180px!important; height:auto!important; position: relative; top: 7px; }
.loged-wrapper .logo_sec img{ top: 0; max-width:166px!important;}
#upload_pin_file_id{ padding-top: 9px;}
.dropdown-menu-right{right: -5em;}
#delete_folder .fa:hover{color:#3e3b3b;}

#profileFieldHeight .form-control{height: 33px;}

.test{
     padding-top: 15px;
     font-size: 11px;

     }

.public_view_user{max-width:500px;margin:0 auto;}
.glyphicon {}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.social_menu {margin-top: 6px;}

.signup_logo{display: inline-block;}

#content_text_id{height: 100px;}
#edit_content_text_id{margin-bottom: 12px;height: 100px;}
.social_menu li{padding: 0px;width: 100%;display: block;border-bottom: solid 1px #EAEDED;}
.social_menu li:hover{background-color: #E1E2E2;}
.pin_detail_share{width: 140px;margin-left: -4em;}
.pin_detail_share li{padding: 0px;width: 32px;display: block;float: left;}
.account_textarea{    width: 50%;margin-left: 18px;max-width: 100% !important;}

.chrome-extension {
 width: 100%;
 height: 100%;
 padding: 0;
 margin:0px;
}


#forgot_password .popover.primary {
    border-color:#337ab7;
}
#forgot_password .popover.primary>.arrow {
    border-top-color:#337ab7;
}
#forgot_password .popover.primary>.popover-title {
    color:#fff;
    background-color:#337ab7;
    border-color:#337ab7;
}
#forgot_password .popover.success {
    border-color:#d6e9c6;
}
#forgot_password .popover.success>.arrow {
    border-top-color:#d6e9c6;
}
#forgot_password .popover.success>.popover-title {
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}

#forgot_password .popover.success>.popover-content {
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}
#forgot_password .popover.info {
    border-color:#bce8f1;
}
#forgot_password .popover.info>.arrow {
    border-top-color:#bce8f1;
}
#forgot_password .popover.info>.popover-title {
    color:#31708f;
    background-color:#d9edf7;
    border-color:#bce8f1;
}
#forgot_password .popover.warning {
    border-color:#D3BB5E;
}
#forgot_password .popover.warning>.arrow {
    border-top-color:#bce8f1;
}
#forgot_password .popover.warning>.popover-title {
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#D3BB5E;
}
#forgot_password .popover.warning>.popover-content {
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#D3BB5E;
}
#forgot_password .popover.danger {
    border-color:#ebccd1;
}
#forgot_password .popover.danger>.arrow {
    border-top-color:#bce8f1;
}
#forgot_password .popover.danger>.popover-title {
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1;
}
#forgot_password .popover.danger>.popover-content {
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1;
}


#forgot_password .pass_word .popover{max-width: 200px;}
.dropdown_grey{background:#f5f5f5;}
.dropdown_light_grey{background:#ffffff; border-radius: 4px;}
.dropdown_grey .user_name_title{color:#000;}
.dropdown_light_grey .profile_name_title{color:#000;}


body {
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
   height: 100%;
   margin: 0;
   padding: 0;
}

#wrapper {
   position: relative;
}

#footer {
   position: absolute;
   width: 100%;
    clear: both;
   bottom: 0;
    padding: 0;
   }

/*#content{padding-bottom: 60px;}*/
.pin_detail_image img {
    width: 100%;
}
#md
{
cursor: pointer;
cursor: hand; }

#pin_detail1 .modal-body{min-height: 27em;}
#button_delete .modal-body{height: 60px!important; min-height: 0;}
.staticpage{
    text-align: right;
    padding-top: 15px;
}
/*#repin_popup .modal-body{max-width: 500px;}*/
*#repin_popup .modal-body{padding: 1em 1em 1em 1em;}

/*#repin_popup img{    box-shadow: 0px 0px 7px #6e6f6f;height: 110px;*/
/*}*/
#repin_popup img{box-shadow: 0px 0px 7px #6e6f6f;}
/*select option {*/
  /*background: #fffffb;*/
  /*color: rgba(255, 255, 255, 0.95);*/
  /*box-shadow: inset 20px 20px rgba(124, 0, 0, 0.25)*/
/*}*/

select option:hover {
  color: #000;
  box-shadow: inset 20px 20px rgba(76, 34, 112, 0.23) !important;
}

#inviteviamail .modal-content {max-width: 400px;margin: 0 auto;}

.navbar{margin-bottom: 0px;}
.folder_pin_number{margin-bottom: 7px;}

.user_dropdown li:hover{background-color: #E1E2E2;border-radius: 0px;}

#title_detail{color: #000000;}

#login-overlay{margin-top: 2em; position: relative; top: 8px;}

.logo_signin{    top: -22px; padding-top: 42px;}

.btn-default:hover{color:#000000;}

#user_share .modal-content {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;

}
/*#loader_sec {*/
    /*border-bottom: 1px solid #C9CDCF;*/
/*}*/
.invite_gmail input[type="checkbox"]{margin: 0;
    margin-right: 5px;
    /* line-height: 19px; */
    display: inline;
    vertical-align: middle;}
#contact_logo {
    position: relative;
   top: -8px;
}

#invte input[type="checkbox"]{margin: 0;
   margin-right: 5px;
   /* line-height: 19px; */
   display: inline;
   vertical-align: middle;}
#sendInvite1 {
    margin-top: 18px;
}


/*#user_share .modal-dialog {*/
   /*width:100%;*/
/*}*/

#inviteviamail .modal-dialog {
    padding-top: 5%;
}
 .modal-body {padding: 1em 2em 1.5em 2em;}
 #bodyhide h4{padding: 0 16px;}

 #pwdModal .modal-footer {
     padding: 0px;
 }

#fetched_image:empty::before {
    color: grey;
}
#edit_fetched_image:empty::before{
    color: grey;
}
#fetched_image[data-placeholder]:not([data-placeholder=""]):empty::before {
    padding: 50px 50px 50px 98px;
    font-size: 19px;
    text-align: center;
    line-height: 350px;
    font-weight: bold;
  content: "Thumbnail Preview";

}
#edit_fetched_image[data-placeholder]:not([data-placeholder=""]):empty::before {
    padding: 50px 50px 50px 98px;
    font-size: 19px;
    text-align: center;
    line-height: 350px;
    font-weight: bold;
  content: "Thumbnail Preview";
}

#fetched_image1 { max-height: 378px;}

.image-pointer:hover{ cursor: pointer;}
.image-default:hover{cursor: default;}

#fetched_image { min-height: 383px;}
#edit_fetched_image{ min-height: 383px; }

.share_popup{text-align: center;font-size: 19px;color:#000;}
.share_popup_message{font-weight:bold;font-size:18px;text-align: center;color:#000;}
.share_form-control{width: 250px;margin:0 auto;}


.disabled {
   pointer-events: none;
   cursor: pointer;
}

.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}





.repin-thumbnail{
    border:none;
    margin-top: 31px;
}

#msgrpn {font-weight: bold;}



#invite_text{margin-top: 12px;
}

.facebook_messenger {
    background: url('../img/fbm.png') no-repeat;
    display: block;
    height: 20px;
    width: 20px;

}

.twitter_logo{
    background: url('../img/twitter_logo.png') no-repeat;
    display: block;
    height: 20px;
    width: 20px;
}

.email_logo{
    background: url('../img/email_logo.png') no-repeat;
    display: block;
    height: 20px;
    width: 20px;
}
.facebook_logo{
    background: url('../img/facebook_logo.png') no-repeat;
    display: block;
    height: 20px;
    width: 20px;
}

.google_logo{
    background: url('../img/google_logo.png') no-repeat;
    display: block;
    height: 20px;
    width: 20px;
}



#contacts
{
    border: 1px solid #ccc;
    padding: 10px;
}


        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
             text-align: left !important;
        }


        #loader_sec{
            margin-top: 12px;
        }

     .tooltip.right {
    margin-top:8px;
}
.tooltip.right .tooltip-arrow{
	top: 7%;
	margin-top:0;
}


.tooltip.top .tooltip-arrow{
	left: 6%;
   	bottom:1px;
}

.share_drop {
    border-bottom: none;
}

#contacts label {
    font-weight: normal !important;
    position: relative;
    left: -20px;
}

#contacts{
    overflow-x: auto;

}

#connections td{
    border: none;

}

#connections tr{
        border-top: none;

}

.no-top{
    top: auto !important;
}

.search_button {
    background-color:#039BE5 !important;
}
.search_button:hover {
    background-color: #03A9F4 !important;
}
.btn-success:hover{
    background-color:#0288D1 !important;
}

.btn-success:disabled {
    background-color: #005697 !important;

}

.ui-front{
    display: none;
    top: 1417.01px;
    z-index: 2147483647;
}
#custom-auto-width { position: relative;}
#custom-auto-width .ui-widget-content { width: 100% !important; left: 0 !important;}

#filter-popup .modal-body{overflow: inherit;}
#filter-popup .btn-group{width:100%;}
#filter-popup .multiselect{background: #fff;color: #a0a0a0;text-align: left;width:100%;height: 40px;border-radius: 3px;box-shadow: none;}
#filter-popup .multiselect:focus {     border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);}

.test-group .btn-group{width: 100%;}
.test-group .btn-group .btn-default{width: 100%;background: #fff; border-radius: 4px;text-align: left;height: 40px;}
.test-group .btn-group .btn-default:focus {     border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);}
select#drop_content_id_up:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
select#drop_media_id_up:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
select#dop_folder_id_up:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
/* vertical start*/

.vertical .carousel-inner {
  height: 500px;
 }

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
    left: 0;
}

#related-resource .carousel-indicators-top {
    right: 50%;
    top: auto;
    bottom: 0px;
    width: 150px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
#related-resource .carousel-control{position: relative;
    background: #00768c;
    border-radius: 40px;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 1.5em;}

#related-resource .carousel-indicators{bottom: -38px!important;left: 41%;margin:0 auto;width:auto;}
.resource-tile h5{color: #008ED2;font-weight: normal;font-size:12px;margin:0;margin-bottom: 5px;}
.resource-tile h4{font-weight: bold;color: #000000;font-size: 14px;margin-top: 0px;}
.related-resource-figure{width: 100%;height: 110px;object-fit: cover; box-shadow: 0px 0px 7px #6e6f6f;}
.source-link{color:#000;}
.resource-tile{margin-bottom:15px;}
.related-title{text-align:center;font-weight:bold;margin-top:0;}
.posted-user-figure img{width:25px;height:25px;border-radius:40px;margin:0 5px;}
.message-box{margin:10px 0;}
.comment-field{width: 100%;height: 60px!important;}



#myList li{ display:none;list-style:none;}
#loadMore {
    color:grey;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:grey;
    cursor:pointer;
}
#showLess:hover {
    color:black;
}
#myList{display: table;width: 100%;padding: 0;}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.chat li.left .chat-body {
    margin-left: 60px;
}
.chat li .chat-body p {
    margin: 0;
    color: #777777;
	    font-size: 13px;
}
.message-actions{padding-right:8px;padding-top:8px;}

/* ADDED BY VIPIN */

.new-ico-widg { padding: 8px 10px !important;}
.new-ico-widg ul { margin: 0;}
.new-ico-widg .right-side-actions li { margin-left: 10px;}
.new-ico-widg ul li a, .new-ico-widg-icon li a{ transition: all 0.2s ease; -webkit-transition: all 0.2s ease; width: 30px; height: 30px; color: rgba(0,86,151,1); border-radius: 50%; padding-top: 6px; text-align: center; display: inline-block;font-size: 16px;}
.new-ico-widg ul li a:hover { color: #fff;}
.new-ico-widg ul span {  float:none; font-size: 16px;}
.new-ico-widg ul li span.count-spn { color: #808080 !important; display: inline-block; padding-left: 0px; font-size: 12px; padding-top: 7px;margin-left: 4px;}
.new-ico-widg ul li span.view-span{margin-left: -2px !important;}
.new-ico-widg ul li a:hover { background: rgba(0,86,151,1);}
.new-ico-widg ul li a:hover span.lnr { color:#fff;}
.new-ico-widg ul li a:hover span.fa { color:#fff;}
.new-ico-widg .like_widget_list li { margin-right: 0px;}
.link_sec-new { margin: 10px 0 !important;}
.link_sec-new .special-img { margin-top: 0;}
.white-panel-new .thumbnail_b { padding: 0 2px; margin: 15px 0;}
#adv-search .btn-default .caret { margin-left: 4px;}
#adv-search .btn-default.filter_toggle:hover {background-color: #e6e6e6 !important;}
#adv-search .btn-default.filter_toggle:focus, #adv-search .btn-default.filter_toggle:active {background-color: #ccc;}
.white-panel-new .social_menu li { margin-right: 0;}
.white-panel-new .social_menu { width: 40px; margin: 2px 0 0 -5px;}
.white-panel-new .new-ico-widg .social_menu li a { width: inherit !important; background: transparent !important; padding: 3px; height: inherit;}
.modal .social_menu { width: 40px; margin: 2px 0 0 -5px;}
.modal .new-ico-widg .social_menu li a { width: inherit !important; background: transparent !important; padding: 3px; height: inherit;}

.navbar { padding: 5px 0; border-bottom: 0;}
.navbar-inverse .navbar-nav > li > a { border-radius: 4px;}
.up-reslnk { background: #92d050; color: #000 !important; margin-right: 2px; }
.up-reslnk:hover, .up-reslnk:focus { background: #92d050 !important; color: #000 !important;}
.pin_detail_image .new-ico-widg { padding: 5px !important;}
.pin_detail_image .new-ico-widg ul li a { width: 28px; height:28px;}

#id_viewcount_modal ul { padding-left: 0;}
.view-count span { display: inline-block; padding: 5px 0 0 3px;color: #808080;font-size: 12px;}
.popup_like { padding: 0 10px !important; margin-top: 5px;}
#pin_detail1 .modal-body { padding: 25px 25px 50px;}
.pin_detail_image .new-ico-widg .right-side-actions li { margin-left: 5px;}
.pin_detail_image .new-ico-widg ul li span.count-spn { padding-top: 8px;position: relative;top: -2px;}
#pin_detail1 .message-box { margin-top: 15px;}
#pin_detail1 .posted-user-figure img { margin-top:5px; margin-bottom: 10px;}
#pin_detail1 .modal-lg { max-width: 900px;}
/*#showLess, #loadMore { display: inline-block; }*/
#related-resource .carousel-control { padding-top: 4px;}
.pin_descriptions table td:first-child { color: grey;}
.pin_descriptions table td.pop-postd { color:#000;}
.fa-sh-sv { padding-top: 5px !important;}
.pin_detail_image .new-ico-widg ul li a.share_square { padding-top: 3px !important; float: left;}

#wrapper {
 background: url('../img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding-bottom: 30px;

}
.loged-wrapper { background-image: none !important;}
.signup-lft-info h2 {  font-weight: 700; color: #fff; font-size: 40px; line-height: 42px; text-transform: none!important;}
.signup-lft-info { margin-top: 220px; text-shadow: 0px 0px 9px rgba(0,0,0,.4);}
.signup-lft-info ul { padding-left: 0; margin-top: 18px;}
.signup-lft-info ul li { margin-bottom: 10px; font-size: 20px; color: #fff;}
.signup-lft-info ul li  span { display: inline-block; margin-right: 5px;}
.sign_up_drop { height: 29px; border:1px solid #d1d2d2;font-size: 12px;line-height: 22px;}
.sign_up_box .select2-container--default .select2-selection--multiple { border:1px solid #d1d2d2;}
.agree-signup { font-size: 13px; margin: 10px 0; padding-left: 15px;}
#id_termsandcondition { float: left; margin-right: 8px; margin-top: 4px;}
.sign_up_box .select2-container--default .select2-selection--multiple .select2-selection__rendered { padding-left: 12px; padding-top: 2px;}
.uploadcheck input { margin-top: 4px; margin-right: 5px; float: left}
#check2 { margin-left: 30px;}
.uploadcheck  span { float: left; font-weight: normal;}
#upload_create_to_hide span.multiselect-native-select .caret { position: absolute; right: 0px; top:11px; color: grey; }
.ed-btn-tp { padding: 2px 6px !important; width: auto !important; height: auto !important; border-radius: 4px !important; margin-top: 3px;}
.pin_detail_image { margin-bottom: 10px;}
#id_viewcount_modal ul.right-side-actions { margin-top: 0;}
#id_viewcount_modal ul.right-side-actions li a { transition: all 0.2s ease; -webkit-transition: all 0.2s ease; width: 30px; height: 30px; color: rgba(0,86,151,1); border-radius: 50%; background: #DADADA; padding-top: 6px; text-align: center; display: inline-block; }
#id_viewcount_modal ul.right-side-actions li a:hover { color: #fff;}
#id_viewcount_modal ul.right-side-actions span { color: rgba(0,86,151,1); float:none; font-size: 16px;}
#id_viewcount_modal ul.right-side-actions li span.count-spn { color: #333 !important; display: inline-block; padding-left: 4px; font-size: 12px;}
#id_viewcount_modal ul.right-side-actions li a:hover { background: rgba(0,86,151,1);}
#id_viewcount_modal ul.right-side-actions li a:hover span.lnr { color:#fff;}
#id_viewcount_modal ul.right-side-actions li a:hover span.fa { color:#fff;}
.pin_descriptions h4 { max-height: 58px; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.white-panel-new .cat_title span { max-width: 42%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.white-panel-new .cat_title .cat-ttl { max-width: 54%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.white-panel-new .link_sec-new { font-weight: normal;}
.white-panel-new .link_sec-new .link_title { font-size: 13px;}
#filter-popup .multiselect .caret { position: absolute; right: 4px; top: 10px;}
.chat-img .img-circle { width: 50px; height: 50px;}
.like-figure{position: relative;top: -8px;}
.resource-tile h6{overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical}
.select2-container--default.select2-container--focus .select2-selection--multiple{border: solid #66afe9 1px!important;box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);}
.user-comment-section #myList li{display: block;}
.reply-comment h5{margin: 0;padding: 0;}
.reply-comment{margin-bottom: 10px;}
.message-actions{cursor: pointer;}
.reply-comment h5 span small{font-size: 11px;}

.unflag_red .lnr-flag{color: red;}
.unflag_red .fa-flag{color: red;}
#upload-edit-modal .modal-body{position: relative;}
.popup-delete{position: absolute;bottom: 20px;font-size: 20px;color: #23527c;z-index: 10;}
.pick-delete{bottom: -4px !important;}
.select2-container{width: 100%!important; font-size: 12px;}

.detail-view-count-view-icon li{float: left;color: #808080;}
.detail-view-count-view-icon li .lnr{font-size: 16px;}
.detail-view-count-view-icon li .fa{font-size: 16px;}
.detail-view-count-view-icon li span{font-size: 12px; margin-left: 3px;}
.detail-view-count-view-icon li a{padding-top: 10px;}
.detail-view-count-view-icon li .lnr-eye{font-size: 18px;}
.detail-view-count-view-icon li .fa-eye{font-size: 16px;}
.detail-view-count-view-icon li #id_viewno{position: relative;}

.select2-container--default .select2-selection--multiple .select2-selection__choice{padding: 0 10px!important;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    display: block;
}

.select2-container .select2-selection.select2-selection--multiple .select2-search.select2-search--inline .select2-search__field:not([placeholder='']) {
  width: 100% !important;
  margin-right: 100000px;
}
.select2-container .select2-selection.select2-selection--multiple .select2-search.select2-search--inline .select2-search__field {
  font-size: 12px;
  color: #949797;
}
#filter-popup .form-control{height: 32px;border: solid 1px #aaa;padding: 6px 1px;color: #949797;}
.upload_home .select2-selection{ min-height: 40px;}
.upload_home .select2-container--default .select2-selection--multiple .select2-selection__choice{margin-top: 10px !important;}
.upload_home .select2-container .select2-search--inline .select2-search__field{margin-top: 10px !important; margin-left: 7px; color: #929292; margin-bottom: 7px;}
.upload_home .select2-container--default .select2-selection--multiple{background-color: white;border: 1px solid #D1D2D2;border-radius: 4px;cursor: text;}
.upload_home .sign_up_select{width: 100%;height: 40px;font-size: 12px;border: 1px solid #D1D2D2;border-radius: 3px;background-color: white;color: #929292;line-height: 34px;}
.upload_home .select2-container--default .select2-selection--multiple{
    background-image: url('../img/down-arrow.jpg'); background-repeat: no-repeat;
    background-size: 7px;
    background-position-x: 98.5%;
    background-position-y: 12px;
}
.pin_descriptions table td span{color: #333;word-wrap: break-word;overflow-wrap: break-word; }
.resource-detail-flag{margin-top: 7px}
.popup-delete.pick-delete i.fa.fa-trash,#edit-resource-modal .popup-delete i {
    position: relative;
    left: 0;
    top: 5px;
    font-size: 18px;
    color: #23527c;
}
#my-gallery-container .item .like_share_widget .fa-folder-open{ position: relative;left: 1px;top: -2px;}
#pin_detail1 .pin_detail_image .like_widget_list,#pin_detail1 .pin_detail_image .detail-view-count-view-icon{ position: relative; top:2px;}
#pin_detail1 .pin_detail_image .like_widget_list .fa-folder-open{ position: relative; left:1px}

/*11-08-2017*/
.register-wrapper{ display: table-row;vertical-align: middle;}
.register-wrapper .register-box{display: table-cell; width: 100%; height: 100%; vertical-align: middle;}

html, body {
    height: 100%!important;
    padding: 0!important;
    margin:0!important;
}
#wrapper {
  min-height: 100%;
  /* equal to footer height */
    padding-bottom: 44px;
     margin-bottom: -44px;
}
#wrapper:after {
  content: "";
  display: block;
}
footer, #wrapper:after {
  /* .push must be the same height as footer */
    height: 44px;
}
footer {
  position: relative;
}
#wrapper #content{ min-height: 88vh; display: table; width: 100%;}
#wrapper #content .navbar{ display: table-row; min-height: 64px;}
#wrapper #content {}
.loged-wrapper#wrapper #content .navbar{ display: block; min-height: auto;}


#wrapper{ position: relative;}
#wrapper::before{ content: " "; position: absolute; z-index: 0; width: 100%; height: 100%; left:0; top: 0; bottom:0; right: 0;
background: rgba(0,0,0,.5);
}
#wrapper #content{ position: relative; z-index: 2;}
#wrapper.loged-wrapper::before{ background: none!important;}



@media only screen and (max-width:767px) {
    .signup-lft-info { margin-top: 40px;}
    .signup-lft-info h2  { font-size: 35px;}
    .modal .vertical-align-center, .modal .vertical-alignment-helper { display: block;}
    #fetched_image { max-width: 100%;}
    #edit_fetched_image{ max-width: 100%; }
    .sign_up_box { padding: 30px 10px;}
    .select2-container { max-width: 100% !important;}
    #related-resource .carousel-indicators{right: 41%;}
    .logo_sec{ width: 100%!important; text-align: center!important;}
}

@media only screen and (min-width:768px) and (max-width:991px) {
    #adv-search { width: 100% !important; }
    .menu_topbar li { padding: 0 4px;}
}

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {

}

@media only screen and (min-device-width:992px) {
    #related-resource .carousel-indicators{left: 41%;}

}


@media only screen and (max-width:991px) {
    footer{ height: auto;}
}
@media only screen and (max-width:1199px) {
    img#user_dp {
        max-width: 100%;
        margin-top: 0!important;
    }
    .user_name_title p{ display: none;}
    .user_field .dropdown-toggle{ top: 5px;}
}
@media only screen and (max-width:767px) {
#wrapper #content,#wrapper #content .navbar,.register-wrapper .register-box,.register-wrapper{ display: block!important; height: auto; min-height: 0;}

}
.multiselect-container{
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: inherit;
    width: 100%;
 }

/*Multiselect width*/
.multiselect-native-select .btn-group {
    width: 100%;
}
.multiselect-native-select button.multiselect {
    width: inherit;
    background-color: #fff;
    text-align: left;
}
.multiselect-native-select button.multiselect .caret{
    float: right;
    margin: 8px;
}

.choose-another-folder{color: red; display: none; font-size: 13px;}
.multiselect-selected-text{color: #929292;font-size: 12px;}

.levelselect{width: 10px}

.delete_button {margin-left: -40px;}
.for_closing_modal_pop_up { padding-top: 1.5%!important;}
.related_separated{
    /*border-right: solid 1px #ccc;*/
}
.related_separated_content{
    border-right: solid 1px #ccc;
    /* solution for full height - Temp solution*/
    margin: 0;

}

.slick-vertical .slick-slide{height: 235px!important;overflow: hidden;}

.comment-section{padding-top: 30px}
#cont_detail, #cont_detail_more{word-wrap: break-word;}
.white-panel-new p{word-wrap: break-word;}
.white-panel-new h4{word-wrap: break-word;}

#related-resource .row-fluid{
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin-top: 3px;
        height: 230px;
    overflow: hidden;
}

#related-resource h6{
    color: black;
}
.exceed-words-error{color: red; display: none; font-size: 13px}
#cont_detail{word-wrap: break-word;}

#description_3{word-wrap: break-word;}
.exceed-characters-error{color: red; display: none; font-size: 13px}

.resource-edit{
    padding-top: 4px;
}
.resource-edit li{
    position: relative;
    background: rgba(0,0,0,.075);
    border-radius: 15px;
    width: 42px;
    height: 25px;
    display: inline-block;
    line-height: 11px;
    text-align: center;
    padding-top: 1px;
}

.resource-edit li:hover{
    background: rgba(0,86,151,1);
}
.resource-edit a:hover{
    color: #ffffff;
}

#delete_resource_buttton .fa-trash-o{
    font-size: 21px;
    color: #908E8E;
    margin-top: 14px;
    float: left;
}
#delete_buttton1{
    font-size: 21px;
    color: #908E8E;
    margin-top: 2px;
    float: left;
}
#id_delete1{
    margin-left: -38px;
}

.endless_container{
    display: none;
}
.sign_up_box .select2-container--default .select2-selection--multiple{

    background-image: url('../img/down-arrow.jpg'); background-repeat: no-repeat;
    background-size: 7px;
    background-position-x: 98.5%;
    background-position-y: 12px;

}


.ui-menu .ui-menu-item .ui-state-focus{ background: #fff !important;}
.ui-state-focus{
     background-color: #1e90ff !important;
     color: #ffffff  !important;
}
.ui-menu .ui-menu-item:hover, .ui-menu .ui-menu-item:focus {
  background-color: #1e90ff !important;
     color: #ffffff;
}

/* carousel for new */
.carousel-inner.vertical {
  height: 100%; /*Note: set specific height here if not, there will be some issues with IE browser*/
}
.carousel-inner.vertical > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel-inner.vertical > .item.next,
  .carousel-inner.vertical > .item.active.right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    top: 0;
  }
  .carousel-inner.vertical > .item.prev,
  .carousel-inner.vertical > .item.active.left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    top: 0;
  }
  .carousel-inner.vertical > .item.next.left,
  .carousel-inner.vertical > .item.prev.right,
  .carousel-inner.vertical > .item.active {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
  }
}

.carousel-inner.vertical > .active {
  top: 0;
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto;
}
.carousel-inner.vertical > .next {
  left: 0;
  top: 33.33%;
  right:0;
}
.carousel-inner.vertical > .prev {
  left: 0;
  top: -33.33%;
  right:0;
}
.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
  top: 0;
}
.carousel-inner.vertical > .active.left {
  left: 0;
  top: -33.33%;
  right:0;
}
.carousel-inner.vertical > .active.right {
  left: 0;
  top: 33.33%;
  right:0;
}

#carousel-pager .carousel-control.left {
    bottom: initial;
    width: 100%;
}
#carousel-pager .carousel-control.right {
    top: initial;
    width: 100%;
}
.signup-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #949797;
}
.signup-form .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #949797;
}
.signup-form .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #949797;
}
.signup-form .form-control:-moz-placeholder { /* Firefox 18- */
  color: #949797;
}
.select2-search__field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #949797;
}
.select2-search__field::-moz-placeholder { /* Firefox 19+ */
  color: #949797;
}
.select2-search__field:-ms-input-placeholder { /* IE 10+ */
  color: #949797;
}
.select2-search__field:-moz-placeholder { /* Firefox 18- */
  color: #949797;
}

.more-less{
    position: relative;
}
.more-less a{
    /*float: right;margin-top: -12px;*/
    bottom: 0;
    right: 83px;
}

.related_separated_content .icons-section{padding-bottom: 0px !important;}
.new-ico-widg ul li a.like-icon{padding-top: 3px}
.load_more{color: #008ED2; font-weight: normal; cursor: pointer;}

.new-ico-widg ul li a.fa-eye-new{margin-top: 2px;}
.new-ico-widg ul li a.like_image{padding-top: 5px;}
.new-ico-widg ul li span.count-spn{padding-top: 8px;}
.new-ico-widg .right-side-actions li {
    margin-top: -2px;
}
.new-ico-widg ul li a.download_button{padding-top: 5px; margin-top: 2px;}

.liked-post{
    background:rgba(0,86,151,1); color:#fff!important; margin-top: 2px;
}


/* new phase changes */

#datamessage{margin-left: 210px;}

.loader-container{margin: 0 auto;width: 100%;text-align: center;display: block;}
.loader-container img{width: 100px;height: 100px;position: absolute;z-index: 100;bottom: 100px;}

.fixedHeight {max-height: 150px;margin-bottom: 10px;overflow-x: auto;overflow-y: auto;}

.view-url {cursor: pointer}

#showLess {
    text-align: left;
}
#view_count {
    cursor:default;
}
.view-count a {
    cursor: default;
}

#repin_popup .form-group {
    margin-bottom: 0px;
}
.registration-overlay{
    opacity: 0.90;
}


body.modal-open {
  padding-right: 0 !important;
  overflow-y: hidden;
}
.cancel-first {
    margin-right: 12px;
}
.legal-copy{
    background-color: transparent !important;
    color: #fff;
}
.legal-copy:hover{
    color: #fff;
}
.noprevw-plchld{
    display: table; width: 100%; text-align: center; min-height: 363px;
}
.noprevw-plchld span { display: table-cell; vertical-align: middle;}
@media screen and (max-width: 767px) {
 .hide_in_mobile {
     display: none !important;
 }}
@media screen and (max-width: 767px) {
 .hide_messenger {
     display: none !important;
 }}

 .how_it_works {
 font-size:22px;
 color:#fff;
 text-decoration:none;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(6%);
  -ms-transform: translateY(6%);
  transform: translateY(6%);
  
 }
.how_it_works:hover {
    color:#fff;
}