@media (max-width:1200px) and (min-width:991px){

.mobile_header{display:block;}
.web_header{display:none;}
.content_top_margin {  margin-top: 1em;}
.static_content_top_margin{margin-top: 8em;}
.like_pickks {padding-left: 7em;}
#logo_align{text-align: left;}
.sign_up_box .form-horizontal .control-label {font-size: 13px;}
}




@media (min-width:768px) and (max-width:991px){
 .inner_menu ul li {display: block;}
#fetched_image{margin-bottom: 2px;}
#edit_fetched_image{margin-bottom: 2px;}

.navbar-brand{position:relative;padding:0;}
.navbar-left, .navbar-right{width:100%;text-align:center;}
.navbar-left li, .navbar-right li{display:inline-block;float:none;}
.search-container{top:0px;}
.navbar-inverse .navbar-nav > li > a{padding:20px 15px;}
.button_b{margin:10px 5px 20px 15px;}
.logo_sec{text-align:center;}
.menu_topbar{width:100%;text-align:center;}
.menu_topbar li{float:none;display:inline-block;}
.footer_link{text-align:center;}
.footer_link li{display:inline-block;float:none;padding:10px 8px;}

.mobile_header{display:block;}
.web_header{display:none;}
.content_top_margin {margin-top: 3em;}
.static_content_top_margin{margin-top: 8em;}
.register_class{padding-right: 15px;padding-bottom: 15px;}
.social{text-align:center;}
.special-img{margin-top:-10px;}
#content { padding-bottom:120px!important;}
.user_dropdown li{width: 100%;}
.like_pickks {padding-left: 7em;}
#invt .social_menu{top: 44px;}
#logo_align{text-align: left;}
.sign_up_box .form-horizontal .control-label {
    font-size: 13px;
}
#invt .social_menu{top: 46px;}
.user_field .dropdown-menu {margin-top: 1px;}
 #fetched_image[data-placeholder]:not([data-placeholder=""]):empty::before {
    padding: 10px 50px 50px 165px !important;
}
 #edit_fetched_image[data-placeholder]:not([data-placeholder=""]):empty::before{
     padding: 10px 50px 50px 165px !important;
 }
}


@media (min-width:541px) and (max-width:767px){
.menu_logo{display:block;}
.menu_primary_logo{display:none;}
.modal-dialog{width:auto;}
.top-bar-left{text-align:center;}
.menu_topbar{text-align:center;width: 100%;margin-bottom: 10px;}
.menu_topbar li{float:none;display:inline-block;}

.navbar-inverse .navbar-nav > li > a{padding:15px;}
.navbar-collapse.in{overflow:inherit;}
.navbar-fixed-top .navbar-collapse{max-height:inherit;}
#fetched_image{margin-bottom: 2px;}
#edit_fetched_image{margin-bottom: 2px;}

.button_b{margin:0;}
.search-container{left:0;height:77px;}
.navbar-right li a{text-align:center;}
.navbar-inverse .navbar-collapse{border:none;}

.logo_sec{text-align:center;}
.menu_topbar{width:100%;text-align:center;}
.menu_topbar li{float:none;display:inline-block;}
.user_dropdown li{width: 100%;}
.footer_link{text-align:center;}
.footer_link li{display:inline-block;float:none;padding:10px 8px;}
.head{position:relative;}
.error_sec { padding: 1em 0;}
.social{margin-bottom:12px;}

.mobile_header{display:block;}
.web_header{display:none;}
.content_top_margin {margin-top: 3em;}
.static_content_top_margin{margin-top: 8em;}

.forgot_password_link{padding-right:0;}
span.error{width:100%;}
.first_name_padding{padding-right:15px;}
.register_class{padding-right: 15px;padding-bottom: 15px;}
.social{text-align:center;}
.special-img{margin-top:-12px;}
#content { padding-bottom: 125px!important;}
#adv-search { width: 500px; margin: 0 auto;}
#adv-search .form-control{}
.dropdown-menu-right { right: 0em!important;}
.dropdown-menu-right:before, .dropdown-menu-right:after { left: 48%;}
#logo_align{text-align: left;}
.dropdown.dropdown-lg .dropdown-menu{margin-top: 3px;}
.social_menu{top: 31px !important;}
#fetched_image[data-placeholder]:not([data-placeholder=""]):empty::before {
padding: 10px 50px 50px 194px !important;}
#edit_fetched_image[data-placeholder]:not([data-placeholder=""]):empty::before {
padding: 10px 50px 50px 194px !important;}
}


@media (min-width:400px) and (max-width:540px){

h3{font-size:20px;}
#fetched_image{margin-bottom: 2px;}
#edit_fetched_image{margin-bottom: 2px;}
.menu_logo{display:block;}
.menu_primary_logo{display:none;}
.modal-dialog{width:auto;}
.top-bar-left{text-align:center;}
.menu_topbar{text-align:center;width: 100%;margin-bottom: 10px;}
.menu_topbar li{float:none;display:inline-block;}

.navbar-inverse .navbar-nav > li > a{padding:15px;}
.navbar-collapse.in{overflow:inherit;}
.navbar-fixed-top .navbar-collapse{max-height:inherit;}

#fetched_image{margin-bottom: 2px;}
#edit_fetched_image{margin-bottom: 2px;}
.button_b{margin:0;}
.search-container{left:0;height:77px;}
.navbar-right li a{text-align:center;}
.navbar-inverse .navbar-collapse{border:none;}

.listrap-toggle img{height:260px;}
.listrap .listrap-toggle span{width:100px;height:100px;line-height:3em;}
.btn-success, .btn-default{min-width:inherit;}

.logo_sec{text-align:center;}
.menu_topbar{width:100%;text-align:center;}
.menu_topbar li{float:none;display:inline-block;}

.footer_link{text-align:center;}
.footer_link li{display:inline-block;float:none;padding:10px 8px;}
.head{position:relative;}
.error_sec { padding: 1em 0;}
.social{margin-bottom:12px;}

.mobile_header{display:block;}
.web_header{display:none;}
.content_top_margin {margin-top: 3em;}
.static_content_top_margin{margin-top: 8em;}
.forgot_password_link{padding-right:0;}
span.error{width:55%;}
.first_name_padding{padding-right:15px;}
.register_class{padding-right: 15px;padding-bottom: 15px;}
.dropdown-menu-right:before, .dropdown-menu-right:after{left: 47%;}
.user_dropdown li{width:100%;}
.social{text-align:center;}
.special-img{margin-top:-10px;}
#content { padding-bottom: 150px!important;}
#adv-search .form-control{}
.dropdown-menu-right { right: 0em!important;}
#logo_align{text-align: left;}
#createfolder .modal-dialog{width:100%;}
#editfolder .modal-dialog {width: 100%;}
.static_response {margin-top: 6em;}
.dropdown.dropdown-lg .dropdown-menu{margin-top: 3px;}
.social_menu{top: 31px;}
#fetched_image[data-placeholder]:not([data-placeholder=""]):empty::before {padding: 10px 30px 50px 85px !important;}
#edit_fetched_image[data-placeholder]:not([data-placeholder=""]):empty::before {padding: 10px 30px 50px 85px !important;}
#image_pr{width: 100%;}
}


@media (min-width:241px) and (max-width:399px){

h3{font-size:20px;}
#fetched_image{margin-bottom: 2px;}
#edit_fetched_image{margin-bottom: 2px;}
.menu_logo{display:block;}
.menu_primary_logo{display:none;}
.top-bar-left{text-align:center;}
.menu_topbar{text-align:center;width: 100%;margin-bottom: 10px;}
.menu_topbar li{display:inline-block;float:none;}
.modal-dialog{width:auto;}
.navbar-inverse .navbar-nav > li > a{padding:15px;}
.navbar-collapse.in{overflow:inherit;}
.navbar-fixed-top .navbar-collapse{max-height:inherit;}
.navbar-left li{width:100%;}

.button_b{margin:0;}
.search-container{left:0;height:77px;}
.navbar-right li a{text-align:center;}
.navbar-inverse .navbar-collapse{border:none;}


.listrap .listrap-toggle span{width:100px;height:100px;line-height:3em;}


.btn-success, .btn-default{min-width:inherit;}
.logo_sec{text-align:center;}
.menu_topbar{width:100%;text-align:center;}
.menu_topbar li{float:none;display:inline-block;}
.footer_link{text-align:center;}
.footer_link li{display:inline-block;float:none;padding:10px 8px;}
.head{position:relative;}
.error_sec { padding: 1em 0;}
.social{margin-bottom:12px;}
.mobile_header{display:block;}
.web_header{display:none;}
.content_top_margin {margin-top: 3em;}
.static_content_top_margin{margin-top: 8em;}
.forgot_password_link{padding-right:0;}
span.error{width:55%;}
.first_name_padding{padding-right:15px;}
.register_class{padding-right: 15px;padding-bottom: 15px;}
.dropdown-menu-right:before, .dropdown-menu-right:after{left: 51%;}
.user_dropdown li{width:100%;}
.social{text-align:center;}
.special-img{margin-top:-10px;}
#content { padding-bottom: 110px!important;}
.dropdown-menu-right { right: 0em!important;}
#logo_align{text-align: left;}
#createfolder .modal-dialog{width:100%;}
#editfolder .modal-dialog {width: 100%;}
#repin_popup img{height: auto}
.static_response {margin-top: 6em;}
.dropdown.dropdown-lg .dropdown-menu{margin-top: 3px;}
.social_menu{top: 31px !important;}
.profile_drop{margin-top:1px;}
#fetched_image[data-placeholder]:not([data-placeholder=""]):empty::before {padding: 10px 50px 50px 42px !important;}
#edit_fetched_image[data-placeholder]:not([data-placeholder=""]):empty::before {padding: 10px 50px 50px 42px !important;}
#invite_text p {padding-left: 14px;}
#image_pr{width: 100%;}
}