/* Start Globals */
body {
    
     min-height: 500px;
    font-family: 'Open Sans', sans-serif;
	background-color:#EEEEEE;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.3em;
}

a {
    cursor: pointer;
}

ul li{list-style: none;}
#noscript {
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    width: 500px;
    text-align: center;
}
/* End Globals */


/* Start Navigation */
.navbar {
    background: white;
    border: none;
    border-radius: 0;
	background:#454545 ;
	border-bottom:solid 1px #e5e7e7;
}

.navbar-brand img {
    font-family: 'Monoton', sans-serif;
    height: 30px;
	margin-top: 12px;
}

.navbar-nav>li>a {
    #text-transform: uppercase;
    font-size: 1.9em;
    color: #111;
    padding: 10px 20px;
}

.navbar-nav>li>a.btn {
    padding: 5px 10px;
    margin: 5px 17px;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-nav>li>a.btn {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

#bookmarklet {
    cursor: move;
}
/* End Navigation */


/* Start Forms */
form {
    margin-bottom: 0;
}

textarea {
    height: 70px;
}

#form h1 {
    text-align: center;
}

#form h3 {
    text-align: center;
    margin-bottom: 15px;
}

#form .form-group {
    margin-bottom: -1px;
}




.qq-upload-button {
    background: #eee;
    border: 3px dashed #888;
    -webit-border-radius: 3px;
      -moz-border-radius: 3px;
           border-radius: 3px;
    color: black;
    width: 238px;
}

.qq-upload-drop-area {
    background: #275173;
    border: 3px dashed #aaa;
    -webit-border-radius: 3px;
      -moz-border-radius: 3px;
           border-radius: 3px;
    color: #ccc;
}

.qq-upload-success {
    -webit-border-radius: 3px;
      -moz-border-radius: 3px;
           border-radius: 3px;
}

.qq-upload-list li {
    background-color: #eee;
    -webit-border-radius: 3px;
      -moz-border-radius: 3px;
           border-radius: 3px;
}

.qq-upload-spinner {
    display: none;
}

.modal-body {
    overflow: hidden;
}
/* End Forms */


/* Start Pins */
#pins {
    top: 80px;
}

.pin {
    background: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #bbb;
       -moz-box-shadow: 0 1px 0 #bbb;
            box-shadow: 0 1px 0 #bbb;
    display: none;
    position: absolute;
    width: 240px;
}

.pin .editable {
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    position: absolute;
    right: 7px;
    top: 7px;
    color: white;
}

.pin:hover .editable {
    display: block;
}

.pin .editable .borderable {
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    cursor: pointer;
    padding: 5px 8px;
    display: inline-block;
}

.pin .image-wrapper {
    background-image: url("../img/loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

.pin img {
    -webkit-border-top-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topright: 3px;
            border-top-right-radius: 3px;
    cursor: -webkit-zoom-in;
    cursor:    -moz-zoom-in;
    display: block;
    margin: 0;
    padding: 0;
    width: 240px;
}

.pin p {
    border-bottom: 1px solid #ddd;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 12px;
    margin-bottom: 0;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pin strong {
    color: #777;
    font-weight: normal;
}

.pin-footer {
    color: #777;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

.pin-footer .dim {
    color: #999;
    font-weight: normal;
}

.pin-footer .avatar {
    background: white;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.pin-footer .avatar img {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    height: 30px;
    width: 30px;
}

.pin-footer .text {
    line-height: 16px;
    margin-top: -1px;
    width: 180px;
}

.spinner {
    background: url('../img/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    height: 31px;
    margin: 0 auto;
    padding: 50px;
    width: 31px;
}

#the-end {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
}
/* End Pins */

/*==========================bt overrites===============================*/
a:focus{outline:none!important;text-decoration:none;}
#navbar-collapse-1{padding:0;}
.vertical-alignment-helper {
    display:table;
    margin:0 auto;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}


.btn-success{}
.btn-default{background-color:#ccc;}

.btn-success{background-color:#005697 ;border-color:#005697 ;border-radius: 3px!important;}

 .btn-success:hover, .btn-success:focus, .btn-success.focus{background-color:#0288D1 ;border-color:#0288D1 ;border-radius: 3px!important;}

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #5C6BC0;
  border-color:#5C6BC0;
}
 .form-control{border-radius: 3px;height: 40px;box-shadow: none;border:1px solid #D1D2D2;box-shadow:none;font-size: 12px;}

.input-group-addon{background-color: #005697;border: 1px solid #005697;}
.input-group-addon .glyphicon{color:#fff;}
.navbar-inverse .navbar-nav > .active > a{background-color: #036b66;color:#fff;}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #012523;
  background-color: #036b66;

}
.navbar-inverse .navbar-nav > li > a{color:#fff;font-size: 11px;padding:9px 15px;outline:none;font-weight:bold;line-height: 12px;}
.navbar-inverse .navbar-nav > li > a:hover{background:#ccc;}
.navbar-brand{height:auto;}
.navbar-header .navbar-collapse{padding:0;}
.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}
.page-header{padding-bottom:0px;}
a, a:hover{text-decoration:none;}
.navbar-left{  padding: 0 3px;}
.navbar-inverse .navbar-toggle{background:#1191C6;border:none;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{background-color:#1daaa3;}
.btn, .btn:focus{outline:none;}
.navbar{height:auto;}



.modal.fade .modal-dialog{
    -webkit-transition-property: transform;
    -webkit-transition-duration:0 ;
    transition-property: transform;
    transition-duration:0 ;
}

.modal.fade {
   transition: none;
}
.modal-header{padding:6px 15px;}
.btn-success:hover, .btn-success:focus{background:#005697;}
.navbar{min-height:30px;}

/*==========================bt overrites===============================*/

.sign_up_box{background-color:#E0E0E0;padding:4%;border-radius: 0 0 6px 6px;}
.logo_brand{position:relative;}
.menu_primary_logo img{display:inline-block;}
#login-overlay .modal-content{box-shadow:none;border:none;}
.sign_up_title{text-align: left;margin:7% 0%;}

.sign_up_select{width:100%;height:40px;font-size: 12px;border:  1px solid #aaa;border-radius: 3px;background-color: white;color: #929292;}
.submit_sec{padding:15px;}
.page_head .page-header{margin:0;border-bottom:none;}
.top_search .input-group{width:100%;}
.top_search .btn{padding: 10px 12px;border: none;background-color: #1daaa3;}
.top_search .btn .glyphicon{color:#fff;}
.top_list li{list-style:none;float:left;padding:0 6px;}
.top_list{  float: right;padding:20px 0 0;margin:0;}
.menu_logo{display:none;}
.top_list .dropdown-menu{min-width:inherit;}
.sign_up_drop{width:100%;height:40px;border: 1px solid #D1D2D2;border-radius: 3px;background-color: white;color: #949797;padding: 0px 0px 0px 9px;}
.upload_drop{padding: 8px;}


#pinBoot {
  position: relative;
  max-width: 1242px;
  width: 100%;
  margin: 0 auto;
}
#pinBoot img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.white-panel {

  background: #FAFAFA;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom:10px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {


}
.main_footer{background:#454545;margin-top: 0em;}
.footer_link{margin:0;padding:0;}
.footer_link li{list-style:none;padding:12px 8px;float:left;}
.footer_link li a{color:#fff;}




.social {
		list-style: none;
		padding: 0px;
		margin-top: 8px;
		text-align: right;
	}
.social a {
	position: relative;
    display: inline-block;
    min-width: 30px;
    padding: 5px 0px;
    margin: 0px 5px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    border-radius: 40px;
	}

a.social-icon {
		text-decoration: none !important;
		box-shadow: 0px 0px 1px rgb(51, 51, 51);
		box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
	}
	a.social-icon:hover {
		color: rgb(255, 255, 255) !important;
	}
	a.facebook {
		color: rgb(59, 90, 154) !important;
	}
	a.facebook:hover {
		background-color: rgb(59, 90, 154) !important;
	}
	a.twitter {
		color: rgb(45, 168, 225) !important;
	}
	a.twitter:hover {
		background-color: rgb(45, 168, 225) !important;
	}
	a.github {
		color: rgb(51, 51, 51) !important;
	}
	a.github:hover {
		background-color: rgb(51, 51, 51) !important;
	}
	a.google-plus {
		color: rgb(244, 94, 75) !important;
	}
	a.google-plus:hover {
		background-color: rgb(244, 94, 75) !important;
	}
	a.linkedin {
		color: rgb(1, 116, 179) !important;
	}
	a.linkedin:hover {
		background-color: rgb(1, 116, 179) !important;
	}
	.special-img{ vertical-align: top!important;}
	.top_search{margin-top:16px;}

	.page_head{
	    background: rgb(50,119,171); /* Old browsers */
	    background: -moz-linear-gradient(top,  rgba(50,119,171,1) 0%, rgba(0,86,151,1) 100%); /* FF3.6-15 */
	    background: -webkit-linear-gradient(top,  rgba(50,119,171,1) 0%,rgba(0,86,151,1) 100%); /* Chrome10-25,Safari5.1-6 */
	    background: linear-gradient(to bottom,  rgba(50,119,171,1) 0%,rgba(0,86,151,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3277ab', endColorstr='#005697',GradientType=0 ); /* IE6-9 */
	    line-height:40px;
	    -webkit-transition: all 1s ease-in-out;
	    -moz-transition: all 1s ease-in-out;
	    -o-transition: all 1s ease-in-out;
	    transition: all 1s ease-in-out;
	}





	.top-bar-left{color:#fff;font-size:12px;letter-spacing: 1px;}
	.top-bar-left span{margin-left:10px;}
	.menu_topbar{float:right;margin:0px 0 0;padding:0; position: relative; }
	.menu_topbar li{list-style:none;float:left;padding:0 10px;}
	.menu_topbar li a{color:#fff;text-align:center;padding: 5px 0px;}
.menu_topbar li a:hover{color:#0D4744;}
.user_dropdown li:first-child{
   border-bottom: solid 1px #EAEDED;
    border-radius:4px;
}
.user_dropdown li:last-child{  border-bottom:none;}
	.user_dropdown li{float:none;border-bottom:solid 1px #EAEDED;}
	.user_field{position:relative;}
	.user_field .dropdown-menu{left:-10.8em;border:none;min-width: 192px;padding:0;margin-top:7px;}

.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
}
.search-box + label .search-icon {
  color: black;
}
.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 5px #1daaa3;
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 200px;
  border-radius: 0;
  background: #ebebeb;
  color: black;
}
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}
.navbar-right{padding:0 35px;}
.search-container{position:relative;top: 23px;left: 85px;}


.button_b {
  background-color: #f4832e!important ;
  -webkit-border-radius: 10px;
  border-radius: 3px;
  border: none;
  color: #ffffff!important;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px!important;
  text-align: center;
  text-decoration: none;
  margin:5px 5px 0 15px;

}
.button_b:focus{background-color: #d3d3d3;}
.button_b:hover{background-color: #ffffff!important;color: #f4832e!important;}

.button_b {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
.white-panel{box-shadow:none;  border: solid 1px #DADADA;padding: 10px;}
.white-panel p{color:#000;}

.btn-glyphicon {
   padding: 0px;
  padding-right: 4px;

  line-height: 25px;
  text-align: center;
}
.icon-btn {
    padding: 1px 1px 1px 1px;
  border-radius: 0px;
  outline: none;
  width: 32px;

  background-color: #fff;
}

.caption_b .icon-btn{width: 34px;height: 34px;}


.dropdown-menu .divider{margin: 9px 0 0;}
.like_sec{text-align:center;}
.white-panel h4 a{color:#012523;font-size:12px;}
.link_title{color:#000;font-size:14px;font-style:normal;}
.modal-content{border:solid 0px #0288D1;}
.modal-header{
    background: rgb(50,119,171); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(50,119,171,1) 0%, rgba(0,86,151,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(50,119,171,1) 0%,rgba(0,86,151,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(50,119,171,1) 0%,rgba(0,86,151,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3277ab', endColorstr='#005697',GradientType=0 ); /* IE6-9 */
    border-radius:6px 6px 0 0;}
.modal-title{color: #fff;font-weight: bold;font-size: 22px;}
.modal-header .close{opacity:1;color:#fff;font-size: 30px; outline: none;}

/*.modal-dialog{max-width:800px;width:100%;}*/




.listrap {
            list-style-type: none;
            margin: 0;
            padding: 0;
            cursor: default;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .listrap li {
            margin: 0;
            padding:0px;
			float:left;
            width: 100%;
        }
		.listrap-toggle label{margin-bottom: 0px;}



        .listrap strong {
            margin-left: 10px;
        }

        .listrap .listrap-toggle {
            display: inline-block;
            border: 1px solid #ddd;
            border-radius: 12px;

        }

        .listrap .listrap-toggle span {
            background-color: #428bca;
            opacity: 0.8;
            z-index: 100;
            width: 150px;
            height: 150px;
            display: none;
            position: absolute;
            text-align: center;
            line-height:5em;
            vertical-align: middle;
            color: #ffffff;
			font-size:2em;
        }

        .listrap .listrap-toggle span:before {
            font-family: 'Glyphicons Halflings';
            content: "\e013";
        }

        .listrap li.active .listrap-toggle span {
            display: block;
        }
		.listrap-toggle img{width:100%;}
		.thumb_title{padding:0;}
		.upload_pin_form{padding:0 10px;}
		.folder_section{padding:30px 0;}
		.folder_section{min-height:500px;}
		.folder_thumbs img{width:300px;margin-bottom:0px;}
		.folder_thumbs a:hover{border:none;background:#1daaa3;}
		.folder_thumbs a{border:none;margin-bottom:0;}
		.folder_thumbs{margin-bottom:10px;}
.folder_caption{font-weight: bold;font-size: 15px;border: none;margin:5px 0 0;}
.folder_thumbs p{padding:4px;}
.add_btn_section{margin:15px 0;}


.thumbnail_b {
    position:relative;
	padding: 0 25px;
	cursor:-webkit-zoom-in;
	margin:6px 0;
}
.thumbnail_b a{cursor:-webkit-zoom-in;}

.caption_b {
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:16%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.img_actions{line-height:1em;text-align: center;}
.btn-windows {
    color:#337ab7 !important;

}

/*====================added in 20-04-2016======================*/
.edit_ico{line-height:3em!important;}
.pin_detail{text-align:right;}
.pin_detail span{font-size: 14px;padding: 0 15px;line-height: 38px;}
.model_small_dialog{padding:20px;}
.sign_up_field{margin-bottom:10px;}
.pin_detail img{height:50%;width: 50%}
.share_like_field{margin:20px 0 0;}

.modal:nth-of-type(even) {
    z-index: 1054 !important;
}
.modal-backdrop.in:nth-of-type(even) {
    z-index: 1041 !important;
}
.header_form{text-align:right;padding:24px 0; padding-top: 10px;}
.sign_in_btn{background:#005697;border:none;height:30px;color:#fff;padding: 5px 30px;font-size:12px;}
.sign_in_btn:hover, .sign_in_btn:focus{background: #0288D1;}
.name_field{padding:0;}
.logo_sec{padding:0px 20px;}
.logo_forgot{margin: 1.5em 0;}
.sign_up_box .form-horizontal .control-label{text-align:left;font-weight:normal;}
.signup_title{font-weight: bold;font-size: 20px;}
.name_field .form-control{margin-bottom:0px;}

/*=======================================*/

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: 9px;
    padding:0;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
		display: flex;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 197px;
    }
}
.top_search_bar{height:27px;border-radius: 6px 0 0 6px!important;}
#adv-search{margin-top:10px;}
.filter_toggle{ border: none;
    border-left: solid 1px #B4BBBB;
        height: 27px;
    line-height: 12px;
	border-radius:0 4px 4px 0!important;}
.search_button{
    background-color: #3277AB;
    height: 27px;
       line-height: 10px;
    padding: -2px 0 0 10px;
    vertical-align: top;
}
	
.search_button:focus, .search_button:hover{background-color:#005697;}
.search_button .glyphicon{color:#fff;}
.invite_frds .fa{font-size: 27px;padding: 4px;margin-top: 6px;}
.cat_title{font-size:13px;display:inline-block;margin:0 0 10px 0;border-bottom:1px solid #DADADA;border-radius:4px;padding:4px 0px 10px;color:#000;
position: relative;width:100%;}
.white-panel h4, .pin_descriptions h4{  font-weight: bold;  color: #000000;font-size:18px; margin-top: 0px;margin-bottom: 4px;}
.white-panel h4 i{float:right;font-style:normal;font-weight:normal;font-size:12px;line-height: 24px;}

.white-panel h4 .glyphicon-thumbs-up{background-color: #EEEEEE;
  color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 21px;
  text-align: center;
  margin-right: 2px;}
.navbar-left .dropdown-menu > li > a{margin: 1px 20px;padding:0;}
.add_folder{  padding:0px 12px 2px 0px!important;line-height: 30px!important;display: block;}
.dropdown-menu li .add_folder:hover{color:#337ab7!important;}

.panel {margin-bottom: 20px;background-color: #fff;border: 1px solid #ddd;border-radius:5px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);}
  .panel-heading {
  padding: 10px 15px;
  background-color: #EDEDED;
  border-top-right-radius: 5px;
  border-top-left-radius:5px;
}
#map-container { height: 300px }
.contact_section .panel-heading h3{font-size:24px;}
.link_sec{margin:0px;}
.filter_menu{margin: 0;padding: 0;float: left;padding:0;width: 100%;}
.filter_menu li{list-style:none;margin:0;line-height: 28px;padding:6;border-bottom: solid 1px #EAEDED;}
.filter_menu li:hover{background-color: #E1E2E2;}
.filter_menu li a{display: block;padding:1px 6px;}

.folder_view_title h4{text-align:center;font-weight: bold;margin: 0;}
.folder_view_title h4 i{font-size:12px;font-weight:normal;font-style:normal;text-align:center;padding-left: 5px;}
.folder_view_title h4 a{background-color: #B9BDBE;
  padding: 5px 7px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;}
 /*/ .folder_view_title{border-bottom: solid 1px #C9CDCF;padding-bottom: 15px;margin-bottom: 15px;}*/
    .folder_view_title{border-bottom: solid 1px #C9CDCF;margin-bottom: 15px;}
  #adv-search .form-control{border: solid 1px #fff; }
  #adv-search .btn-default{ min-width: inherit;vertical-align: top;}
  .folder_dlt_btn{padding:15px;text-align:center;}
  .folder_dlt_btn .fa{  font-size: 18px;color: #918686;}
  .forgot_password_link{width:100%;float:left;padding: 0px 0 0px;padding-right: 21.2%;}
  .forgot_password_link a{color:#fff;}
  .min_hgt_cls{min-height:40em;}
  .sub_text{font-size:14px;padding-top:5px;font-weight:normal;color:#000;display:block;}





  .item {
	width: 100%;
	min-height: 100px;
	margin: 5px 0px;
	border-radius: 4px;
    color:#fff;
	position:relative;

}
.thumbnail_b img{width:100%;box-shadow: 0px 0px 7px #6e6f6f;}

.account_information_box{margin:10px 0 30px 0;background:#fff;padding:1px 30px 20px 30px;border-radius: 10px;}
.profile_form{padding:30px 0 0;}



.switch {
    display: block;
  margin: 12px auto;
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 75px;
	height: 30px;
	padding: 3px;
	background-color: white;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	cursor: pointer;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background:#A9A9A9;
	-moz-border-radius: inherit;
	-webkit-border-radius: inherit;
	border-radius: inherit;
	-webkit-transition: 0.15s ease-out;
	-moz-transition: 0.15s ease-out;
	-o-transition: 0.15s ease-out;
	transition: 0.15s ease-out;
	-webkit-transition-property: opacity background border;
	-moz-transition-property: opacity background border;
	-o-transition-property: opacity background border;
	transition-property: opacity background border;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  font-size:14px;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #000;
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #005697;
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
	position: absolute;
	top: 9px;
	left: 10px;
	width: 18px;
	height: 18px;
	background: #ffffff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: left 0.15s ease-out;
	-moz-transition: left 0.15s ease-out;
	-o-transition: left 0.15s ease-out;
	transition: left 0.15s ease-out;
}
	.switch-handle:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -6px 0 0 -6px;
		width: 12px;
		height: 12px;
		background: #AEB3B7;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		-moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
		-webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
		box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
		background-image: -webkit-linear-gradient(top, #eeeeee, white);
		background-image: -moz-linear-gradient(top, #eeeeee, white);
		background-image: -o-linear-gradient(top, #eeeeee, white);
		background-image: linear-gradient(to bottom, #eeeeee, white);
	}


.switch-input:checked ~ .switch-handle {
	background:#3271D5;
	left: 45px;
	-moz-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~	.switch-handle:before{
	background:#3271D5;
}
.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}

.invite_frnds_title{margin:0;padding:0;text-align:center;}
.invite_friends_section{background:#fff;border-radius:5px;margin:20px 0;padding:15px;}
.invite_friends_section h4{text-align:center;font-weight:bold;}
.friend_mail_section{text-align:center;padding:5em 0;}
.friend_mail_section .fa{font-size: 5em;color: #989999;}
.friend_mail_form{margin: 2% 15%;}
.import_sections{margin:0;padding:0;text-align:center;}
.import_sections li{list-style:none;float:none;display:inline-block;}
.import_sections li a{background-color: #B6E3F4;display: inline-block;color: #3D7286;width: 200px;height: 200px;padding-top: 4em;margin: 5px;}
.import_sections li a .fa{font-size: 3em;color: #fff;}
.img_actions img{width: 13px;margin-top: 6px;}

.feedback_form{background:#fff;border-radius:5px;margin:10px 0 20px 0;}
.feedback_form_inner{padding: 10px 0 0;}
#my-gallery-container .padding{padding-right:5px;padding-left:5px;}
.img_actions .btn-warning{background:#cd0067;border-color:#cd0067;}
.profile_form .form-group .control-label{text-align:left;font-weight: normal;}

.fileinput {
  display: inline-block;
  margin-bottom: 9px;
}
.fileinput .btn {
  vertical-align: middle;
}
.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.fileinput-filename {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
input[type=file] {
  display: block;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  direction: ltr;
}

.fileinput .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.pin_submition{margin:15px 0;}

.static_page_sec{min-height:450px;}
#feedbackForm{max-width: 400px;margin: 0 auto;}
.panel{border:none;}
.folder_view_title h3{font-weight:bold;text-align:center;font-size:16px;}
.custom-combobox-input{width: 90.1%;}
#registerForm .input-group{display:block;}

.page_top{margin-top: 12em;}

#header{width: 100%; background-color: red;}
#header_stick{width: 100%;}
.stick{position:fixed;top:0;opacity:1;z-index:10;}
.mobile_header{display:none;}
.header_form .form-control{height: 30px;font-size: 12px;}
.forgot_password_link a{font-size:12px;}
.content_top_margin{margin-top:5em;}
.static_content_top_margin{margin-top:8.5em;}


/*=============social share===================*/

.share_drop{background-color: transparent!important;}
.social_menu{min-width:inherit;padding:5px;width: 52px;}
#invt .social_menu{min-width:inherit;padding:0px;width: 100px;top: 40px;}
.social_menu li a{padding: 6px;text-align: left;}

.mobile-social-share ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;
}
.mobile-social-share li {
    display: block;
    font-size: 14px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
}
.btn-twitter {
    background-color: #3399CC !important;

    color:#FFFFFF!important;
}

.btn-facebook {

    color:#337ab7!important;
}


.btn-google {

    color:#337ab7!important;
}

.btn-linkedin {

    color:#337ab7!important;
}

.btn-pinterest {

    color:#337ab7!important;
}

.btn-mail {

    color:#337ab7!important;
}
#registerForm label{font-size: 15px}



.dropdown-menu-right:before{
  position: absolute;
  top: -7px;
  left:47%;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu-right:after {
  position: absolute;
  top: -6px;
  left: 47%;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.user_field .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 88%;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #f5f5f5;
  border-left: 6px solid transparent;
  content: '';
}


.menu_link_dropdown{background-color:#fff!important;}
.dropdown-menu-right .form-horizontal{height: 144px;overflow: auto;}
.inner_menu ul li{border-bottom:solid 1px #EAEDED;list-style:none;  padding: 0px;}
.inner_menu ul li a{display:block;padding:5px 6px;}
.inner_menu ul li a:hover{background-color: #E1E2E2;}
.inner_menu ul{margin:0;padding:0;}
.menu_link_dropdown{padding:0px;}
#createfolder .modal-footer{border-top: 0px;padding-top: 0px;}
#createfolder .modal-dialog{width:400px;}
#pin_detail1 .modal-body{padding:3em 3em 4em 3em;}
#pin_detail1 .modal-lg{max-width:850px;width:100%;}
.pin_detail1{text-align: center;display: block;}
.first_name_padding{padding-right:0px;}
#delete_folder .fa{font-size: 21px;
    color: #908E8E;
    margin-top: 14px;
    float:left}

#editfolder .modal-footer{border-top: 0px;padding-top: 0px;}
#editfolder .modal-dialog {
    max-width: 400px;
    }
#get_browser_btn .modal-footer{border-top: 0px;padding-top: 0px;}
#get_browser_btn .modal-dialog {
    width: 400px;
    width: 100%;
}
#deletefolder .modal-dialog {
    width: 400px;
    width: 100%;
}
#deletefolder .modal-footer{border-top: 0px;padding-top: 0px;}
#repin_popup .modal-footer{border-top: 0px;padding-top: 0px;}
#repin_popup .modal-dialog {
    width: 100%;
    max-width: 620px;
}

.radio_item{
display: none !important;
}

.label_item {
opacity: 0.4;
}

.radio_item:checked + label {
opacity: 1;
}


.inner_menu{max-height: 165px;overflow: auto;}
.search_snippet_list{height: 279px;overflow: auto;}
.register_class{padding-right: 0px;}
.sign_up_title h3{text-align:center;font-size:25px;margin-bottom:30px;}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
/*-----------------------------------------------------
.for_closing_modal_pop_up{
    padding-top: 7%;

}
.for_closing_modal_pop_up_create_folder {
    padding-top: 16%;
}
.for_closing_modal_pop_up_re_pin {
    padding-top: 11%;
}
#myModal .modal-body{padding:2em 4em;}

.resetpassword_pop_up {
    padding-top: 11%;
}

-----------------------------------------------------------------------*/

#id_rest_password_submit{

    margin-left: 12px;
}
#id_modal_rest{
    border-top:none;
}
#id_old_password_validation, #id_new_password_validation,#weakpassword, #id_retype_new_validation, #id_old_not_correct,#id_pass_mismatch,#id_pass_mismatch{
    color: red; font-size: 13px;
}
#id_pass_success{
    color: green;font-size: 13px;
}

#profile_final_save{
    margin-left: 12px;
}
#id_country_profile{
    background-color: white;

}
#deactivate_user .modal-footer
{
     border-top : 0px;
     padding-top :0px;
}
#deactivate_user .modal-body
{
     padding-bottom :0px;
}

#pwdModal .modal-body {
    overflow: inherit;
}

.like_share_widget{background: #f2f4f4;margin:5px 0 0;padding:5px 25px;}
.like_widget_list{margin:-4px;padding:0px;display: flex;float: left;}
.like_widget_list li{list-style:none;margin:0;padding-right:3px; position: relative;}
.pin_square{background: url('../img/pin_sprite.png') no-repeat;display: block;width: 40px;height: 30px;background-size: 100%;}
.pin_square:hover{background-position:0 -30px;}
.share_square{/*background: url('../img/share_sprite.png') no-repeat;*/display: block;width: 39px;height: 30px;background-size: 100%;}
.share_square:hover{background-position:0 -30px;}
.like_square{/*background: url('../img/like_sprite_blue.png') no-repeat;*/display: block;width: 28px;height:29px;background-size: 100%;background-position: 0 -1px;float:left;}
.download_button{/*background: url('../img/download_icon.png') no-repeat;*/display: block;width: 28px;height:29px;background-size: 100%;float:left;background-position: 0 2px;}
.pin_detail_image ul li a.download_button{background: url('../img/download_icon.png') no-repeat !important;display: block !important;width: 28px !important;height:29px !important;background-size: 100% !important;float:left;background-position: 0 2px;}
#pin_detail1 .pin_detail_image ul li a.download_button{background-image: none!important;background-color: #DADADA!important; color: #005697;}
#pin_detail1 .pin_detail_image ul li a.download_button:hover {background: rgba(0,86,151,1)!important;color: #fff;}

.pin_detail_image ul li.download-count span{color: #005697;}
.delete_button{background: url('../img/delete_icon.png') no-repeat;display: block;width: 20px;height: 22px;background-size: 100%;float:left;background-position: 0 2px;}
.viewcount_button{background: url('../img/viewcount_icon.png') no-repeat;display: block;width: 20px;height:21px;background-size: 100%;float:left;background-position: 0 5px;}
.pin_detail_image ul li a.viewcount_button{display: block !important;width: 20px !important;height:24px !important;background-size: 100% !important;float:left;background-position: 0 6px;}
.pin_detail_image ul li a.fa-eye-new{display: block !important;width: 20px !important;height:24px !important;background-size: 100% !important;float:left;background-position: 0 6px;}
.like_square:hover{background-position:0 -31px;}
/*.like_image:hover{background-position:0 -30px;}*/
.like_pickks span{float: left;font-size: 18px;padding-top: 0px;padding-left: 0px;}
#flagcountinpd{font-size: 12px;}
.test ul li{list-style: inherit;}


.flag{background: url('../img/flag_icon.png') no-repeat;display: block;width: 28px;height:29px;background-size: 100%;background-position: 0 -1px;float:left;}
.flag:hover{background-position:0 -41px;}

	
.news{background:#4f81bd;color:#fff;}
.pin_detail_image{position:relative;}
.pin_share{z-index: 10;color: #fff;padding: 7px;width: 100%;top: 40%;padding-bottom:2px;border-radius: 4px !important; margin-bottom: 10px;}
.popup_like {
    background-color: #EEECE1;
    border-radius: 5px;
    padding: 0px 3px!important;
    position: relative;

}
.popup_like span{color: #000;font-size: 12px;line-height: 20px;display: inline-block; font-weight: normal; margin-top: 9px}
.pin_share .like_widget_list{text-align:left;display: block;padding: 0 0 0 3px;}
.pin_share .like_widget_list li{float:none;display:inline-block;}
.delete_pin{display: block;width: 28px;height:29px;position:absolute;z-index:10;bottom:10px;left: 20px; font-size: 21px;color: #908E8E; }
.delete_pin .fa :hover{ color: #3e3b3b;}
.header_invite_friends{background: url('../img/invite_icon.png') no-repeat;display: block;display:inline-block;width:30px;height:30px;background-size:100%;background-position: 0 3px;position: relative;
    top: 8px;}
.header_invite_friends:hover{background-position:0 -24px;}
.invite_text{text-align:center;font-weight:bold;font-size:13px;}
#image_pr   {box-shadow: 0px 0px 7px #6e6f6f ;width: 100%;}

#likecountinpd {
    /*float: left;*/
    /*margin-left: 5px;*/
    margin-right: 4px;
}

.Event{background:#FAFAFA;}
.Blog{background:#FAFAFA;}
.Podcast{background:#FAFAFA;}
.Webinar{background:#FAFAFA;}
.Whitepaper{background:#FAFAFA;}
.Other{background:#FAFAFA;}
.Article{background:#FAFAFA;}
.News{background:#FAFAFA;}
.title_detail{color: #000000}
#fetched_image {padding: 10px 10px 0px 10px;border-radius: 15px;border:  1px solid #dddddd;max-height: 382px;}
#edit_fetched_image {padding: 10px 10px 0px 10px;border-radius: 15px;border:  1px solid #dddddd;max-height: 382px;}

.listrap-toggle img{
    padding-bottom : 2em;
}

.invitedropdown_align{margin-top: 6px;}

.popup_like:hover{background:#ddd9c3;}
.right-side-actions{float: right;margin-top: -4px;padding: 0;margin-bottom: 0px;}
.right-side-actions li{list-style: none;padding: 0;float: left;}
.download-count{padding-right: 8px!important;padding-left: 8px!important;}

.comment-figure{padding-top: 3px;display: inline-block;}
.flag-section{padding-right:2px!important;}

.btn-success:focus {
    background-color: #0288D1 !important;
}
.btn-success:active:focus {
    background-color: #0288D1 !important;
}

.navbar-inverse .navbar-nav > li > a.selected {
    background: #ccc;
}
.navbar-inverse .navbar-nav > li > a.my-like {
    margin-left: 2px;
}
