<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>mail</title>

 <link rel="stylesheet" href="{{site}}/static/assets/css/email.css">

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#00768C">
  <tr>
    <td></td>
    <td class="header container" >
        
        <div class="content">
        <table bgcolor="#00768C" width="750px">
          <tr>
            <td><img src="{{site}}/static/assets/img/logo-dark-blue.png" alt="Ednora" height="55" ></td>
            <td align="justify"><h3 class="collapse"></h3></td>
          </tr>
        </table>
        </div>
        
    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            <h3>Hi Ednora,</h3>
            <p class="lead">Contact Us Details. </p>

            <p> Name  : {{ contact.name }} </p>
             <p> Email : {{ contact.email }} </p>
              <p>Message : {{ contact.message }} </p>

            <!-- Callout Panel -->

            <!-- social & contact -->
            <table class="social" width="100%">
              <tr>
                <td>
                  
  <table align="left" class="column">
                    <tr>
                      <td>        
                        <h4>Thank you for using Ednora!</h4>
                        <h4 class="">Ednora Team</h4>
                      </td>
                    </tr>
    </table>

                  
                </td>
              </tr>
            </table><!-- /social & contact -->
            
          </td>
        </tr>

      </table>
      </div><!-- /content -->
                  
    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="head-wrap" bgcolor="#00768C">
  <tr>
    <td></td>
    <td class="header container" >

        <div class="content">
        <table bgcolor="#00768C" width="750px">
          <tr>
            <td></td>
            <td align="center">
            <p>
              <a target="_blank" href="https://{{site}}/terms-of-use" style="color: #ffffff">Terms Of Service</a> |
              <a target="_blank" href="https://{{site}}/privacy-policy" style="color: #ffffff">Privacy Policy</a> |
              <a target="_blank" href="https://{{site}}/copyright-policy" style="color: #ffffff">Copyright Policy</a>
            </p>
          </td>
          </tr>
        </table>
        </div>

    </td>
    <td></td>
  </tr>
</table>
<!-- /FOOTER -->

</body>
</html>