<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Email Template</title>
  <style type="text/css">
    body, table, td, a{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
    table, td{mso-table-lspace: 0pt; mso-table-rspace: 0pt;} /* Remove spacing between tables in Outlook 2007 and up */
    img{-ms-interpolation-mode: bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */
    /* RESET STYLES */
    img{border: 0; line-height: 100%; outline: none; text-decoration: none; max-width: 100%;}
    table{border-collapse: collapse !important;}
    body{height: 100% !important; margin: 0 !important; width: 100% !important;}
    @media only screen and (max-width:767px) {
      .wrapper-tbl { width: 100%; }
      .prd-box { display: block; padding-bottom: 20px; width: 100%; }
      .prd-box .prd-box-tbl { width: 90%; }
      .prd-thmb div { display: inline-block;  }
      .prd-thmb div img { float: left; }
    }
  </style>
</head>
<body style="font-family: Helvetica, Arial, sans-serif; padding: 0;">
    
  <table border="0" cellpadding="0" cellspacing="0" align="center" width="700" style="font-family:Arial,Verdana,Geneva,Helvetica, sans-serif; color: #000;" class="wrapper-tbl">
    <tbody>
    <tr>
      <td align="center" style="background-color:#f9f9f9; padding:30px 0;">
        <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" style="padding-bottom: 10px;">
            <a href="{{site}}"><img src="{{site}}/static/assets/img/logo-dark-blue.png" alt="Ednora" height="64"></a>
            </td>
          </tr>
          <tr>
            <td align="center" style="padding:10px;font-size:18px;">Picks from around the web for kids</td>
          </tr>
          <tr>
            <td align="center" style="font-size:20px;font-weight:bold;padding:10px;">{{ user.first_name }} has invited you to join Ednora</td>
          </tr>
          <tr>
            <td align="center" style="padding-top: 20px;">
              <a href="{{ link }}" style="text-decoration: none !important;border:none;background-color:#005697; font-size:20px; font-weight:bold; color:#ffffff; padding: 10px 30px; border-radius:3px;">{{ msg }}
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="border: 5px solid #f9f9f9; padding: 15px;">
          <tr>
            <td align="center" style="padding: 30px 0 10px; font-weight:bold;font-size:20px;">
             {{ user.first_name }}'s Picks
            </td>
          </tr>
          <tr>
            <td align="center" style="padding: 20px 10px;" class="prdct-lst-td">
              <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>

                  {% for pin in pins %}
              <td align="center" valign="bottom" width="220" class="prd-box">
                <table border="0" cellpadding="0" cellspacing="0" width="210" align="center" style="border: 1px solid #eaeded;" class="prd-box-tbl">
                  <tbody>
                    <tr>
                      <td align="center" style="padding:20px 10px 10px;"><h3 style="margin:0; font-size:18px;">{{ pin.title|truncatechars:30 }}</h3></td>
                    </tr>
                    <tr>
                      <td align="center" style="padding: 0 10px 10px; font-size:14px; line-height: 20px;">{{ pin.text|truncatechars:78}}</td>
                    </tr>
                    <tr>
                      <td valign="top" align="center" style="padding: 15px 10px;" class="prd-thmb">
                      <div width="190" style="border:1px solid #ededed; padding: 10px;width: 190px;height: 190px">
                      <img src="{{ pin.get_croped_image }}">
                      </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>

                  {% endfor %}
              </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" style="padding: 10px 0 30px;">
              <a href="{{ link }}" style="text-decoration: none !important;border:none;background-color:#005697; font-size:20px; font-weight:bold; color:#ffffff; padding: 10px 30px; border-radius:3px; display: inline-block;">{{ msg }}</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    
    
    <tr>
     <td style="height: 5px; text-align: center">
         <p style="padding: 0 0 0 25px; margin: 10px 0px;  font-size: 11px; line-height: 16px; color: #777; font-family: Calibri;">Ednora &#9400; 2017 &nbsp; &nbsp;&nbsp;<a href="{{ site }}{% url 'terms' %}" target="_blank">Terms of Service</a>&nbsp; &nbsp;&nbsp;
		 <a href="{{ site }}{% url 'privacy' %}" target="_blank">Privacy Policy</a>&nbsp; &nbsp;&nbsp;
		 <a href="{{ site }}{% url 'cookie' %}" target="_blank">Copyright Policy</a></p></td>
      </td>
    </tr>
    
    
    </tbody>
  </table>
</body>
</html>