<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body style="font-family: Helvetica, Arial, sans-serif;overflow:auto;">
<table style="background:#f9f9f9;padding:0px;margin:0px" border="0px" width="100%" cellspacing="0" cellpadding="0">
	<tbody>
	<tr>
		<td height="45"> </td>
	</tr>
	<tr>
		<td align="center">
			<table style="background:#ffffff;height:375px" border="0px" width="700" cellspacing="0" cellpadding="0">
				<tbody>
				<tr style="height:45px">
					<td colspan="3" align="center"><br><br><img src="{{site}}/static/assets/img/logo-dark-blue.png" alt="Ednora" height="55" ><br><br></td>

				</tr>
				<tr>
					<td colspan="3">
						<p style="padding:0 0 0 25px;margin:11px 0px;font-size:18px;line-height:18px;color:#000;font-family:Calibri">
						Hi {{user}},<br><br>
						Welcome to Ednora!</br></br>
						Click <a href="{{link}}">here</a> to verify your email address to get started, or copy-paste this link into your browser to verify email: <br> 
						<img src="https://spacergif.org/spacer.gif" width="1px" height="20px">
						<a href="{{link}}">{{link}}</a> <br><br>
						<br>
						</p>
					</td>
				</tr>
				<tr>
					<td><img src="https://spacergif.org/spacer.gif" width="20px"></td>
					<td style="height:5px">
						<p style="background:#e9e9e9;padding:20px 0 0px 25px;margin:0px 0px;border-left:1px solid #eee;line-height:18px;color:#000;font-size:20px;font-family:Calibri">
						<b>Ednora</b> </p>
						<p style="background:#e9e9e9;padding:5px 0 20px 25px;margin:0px 0px;border-left:1px solid #eee;line-height:18px;color:#000;font-size:19px;font-family:Calibri">
						Content picks from around the web for IoT professionals<img src="https://spacergif.org/spacer.gif" width="0px" height="20px"> </p>
					</td>
					<td><img src="https://spacergif.org/spacer.gif" width="20px"></td>
				</tr>
				<tr>
					<td colspan="3" align="center" style="height:5px">
						<table summary="summary" width="100%" cellpadding="0">
		<tr>
		 <td style="height: 5px; text-align: center">
         <p style="padding: 0 0 0 25px; margin: 10px 0px;  font-size: 13px; line-height: 18px; color: #777; font-family: Calibri;"><a href="{{ site }}{% url 'terms' %}" target="_blank">Terms Of Service</a>&nbsp; &nbsp;&nbsp;
		 <a href="{{ site }}{% url 'privacy' %}" target="_blank">Privacy Policy</a>&nbsp; &nbsp;&nbsp;
		 <a href="{{ site }}{% url 'cookie' %}" target="_blank">Copyright Policy</a></p></td>
		</tr>
		</table>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
</body></html>