
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Email Template</title>
  <style type="text/css">
    body, table, td, a{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
    table, td{mso-table-lspace: 0pt; mso-table-rspace: 0pt;} /* Remove spacing between tables in Outlook 2007 and up */
    img{-ms-interpolation-mode: bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */
    /* RESET STYLES */
    img{border: 0; line-height: 100%; outline: none; text-decoration: none; max-width: 100%;}
    table{border-collapse: collapse !important;}
    body{height: 100% !important; margin: 0 !important; width: 100% !important;}
    @media only screen and (max-width:767px) {
      .wrapper-tbl { width: 100%; }
      .prd-box { display: block; padding-bottom: 20px; width: 100%; }
      .prd-box .prd-box-tbl { width: 90%; }
      .prd-thmb div { display: inline-block;  }
      .prd-thmb div img { float: left; }
    }
  </style>
</head>
<body style="font-family: Helvetica, Arial, sans-serif; padding: 0;">

<table style="background:#f9f9f9;padding:0px;margin:0px" border="0px" width="100%" cellspacing="0" cellpadding="0">
	<tbody>
	<tr>
		<td height="45"> </td>
	</tr>
	<tr>
		<td align="center">
			<table style="background:#ffffff;height:375px" border="0px" width="700" cellspacing="0" cellpadding="0">
				<tbody>
				<tr style="height:45px">
					<td colspan="3" align="center"><br><br><a href="{{site}}"><img src="{{site}}/static/assets/img/logo-dark-blue.png" alt="Ednora" height="55" ></a><br><br></td>

				</tr>
				<tr>
				    <td><img src="https://spacergif.org/spacer.gif" width="20px"></td>
					<td colspan="2">
						<!-- <p style="padding:0 0 0 25px;margin:11px 0px;font-size:18px;line-height:18px;color:#000;font-family:Calibri"> -->
					    <p style="padding:20px 0 0px 25px;color: #737273;font-family: Arial,Verdana,Geneva,Helvetica, sans-serif;font-size: 14px;text-align: left;margin: 1px;   padding: 3px;">

						Hi {{user}},<br><br>
						Click <a href="{{link}}">here</a> to reset your password, or copy-paste this link into your browser to reset your password:<br> 
						<img src="https://spacergif.org/spacer.gif" width="1px" height="20px">
						<a href="{{link}}">{{link}}</a> <br><br>
						This password reset link will expire in 24 hours.
						<br><br>
						</p>
					</td>
				</tr>
			<tr>
					<td><img src="https://spacergif.org/spacer.gif" width="20px"></td>
					<td style="height:5px; text-align: center">
						<p style="background:#235099;padding:20px 0 0px 25px;margin:0px 0px;border-left:1px solid #235099;line-height:16px;color:#ffffff;font-size:20px;font-family: Arial,Verdana,Geneva,Helvetica, sans-serif;">
						<img src="{{site}}/static/assets/img/logo-dark3.png" alt="Ednora" height="55" > </p>
						<p style="background:#235099;padding:5px 0 20px 25px;margin:0px 0px;border-left:1px solid #235099;line-height:16px;color:#ffffff;font-size:18px;font-family: Arial,Verdana,Geneva,Helvetica,sans-serif;">
						Picks from around the web for kids <img src="https://spacergif.org/spacer.gif" width="0px" height="20px"> </p>
					</td>
					<td><img src="https://spacergif.org/spacer.gif" width="20px"></td>
				</tr>
				<tr>
					<td colspan="3" align="center" style="height:5px">
						<table summary="summary" width="100%" cellpadding="0">
		<tr>
		 <td style="height: 5px; text-align: center">
         <p style="padding: 0 0 0 25px; margin: 10px 0px;  font-size: 11px; line-height: 16px; color: #777; font-family: Calibri;">Ednora &#9400; 2017 &nbsp; &nbsp;&nbsp;<a href="{{ site }}{% url 'terms' %}" target="_blank">Terms of Service</a>&nbsp; &nbsp;&nbsp;
		 <a href="{{ site }}{% url 'privacy' %}" target="_blank">Privacy Policy</a>&nbsp; &nbsp;&nbsp;
		 <a href="{{ site }}{% url 'cookie' %}" target="_blank">Copyright Policy</a></p></td>
		</tr>
		</table>
					</td>
				</tr>

				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
</body></html>